<p>처음 출근하고 한 시간쯤 지나서 울트라북 하나를 지급받았다. 포맷되어 자사 인트라넷 링크만 바탕화면에 나와 있었다. 종이에 몇 가지 인적사항을 적고 인트라넷용 아이디도 발급받았다.</p>

<p>회사 내부에서 일할 사람에게는 보통 데스크탑을 준다. 그런데 노트북도 아닌 초소형 울트라북을 지급했다는 것이 알려주는 사실은 자명했다. 정리해고로 빠져나간 기자가 쓰던 물품을 회수해 어뷰징팀에 나눠준 것이다. 시시콜콜한 이야기를 덧붙이자면 마우스는 내 돈으로 샀다. 소모품이기 때문에 개인이 구입해야 한다고 했다. 나는 마우스를 구입하느라 두 시간분의 급여를 썼다. 하루 8시간 동안 손바닥만한 울트라북 화면을 들여다보려니 거북목증후군으로 향하는 지름길을 닦는 것 같아 자리에 아무렇게나 놓인 책꽂이를 받치고 집에서 노는 키보드를 가져다 연결했다. 언론사에 처음 입사해 마우스가 말을 듣지 않아서 어떻게 해야할지 몰라 발만 동동 구르다 당시로서는 큰 용기를 내 담당자를 찾아갔을 때, 마우스가 고장났다는 내 말이 끝나기도 전에 심드렁하게 서랍에서 다른 마우스를 꺼내준 일이 떠올랐다. 노후 장비를 교체해달라고 요청하려면 눈물 없이는 읽을 수 없는 구구절절한 사연을 몇 페이지 적어야 겨우 가능하다는 이야기도 들었다. 어쨌든 전 직장에서는 결과적으로 장비를 교체해줬는데, 이 회사는 지금까지 내가 일한 곳 중 가장 적은 급여를 줬고 가장 많은 자비 부담을 요구했다.</p>

<p>마우스만 없었던 것은 아니다. 내 자리에는 전화도 없었다. 그 전까지 다른 언론사에 있으면서 내가 직접 기사를 작성하지 않았음에도 내 자리에 전화는 있었다. 회사 내의 사람이든 외부 사람이든 기사와 관련해 나에게 전화를 할 수 있었고 나도 전화를 할 수 있었다. 하지만 여기서는 엄청난 양의 기사를 쓰도록 요구하면서 전화 한 대 없었다. 그렇다고 휴대폰을 지급받은 것도 아니었다. 다시 말해 취재를 하지 말라는 뜻이었다.</p>

<p>우리의 일은 어뷰징이었다. 언론에서의 어뷰징이란 기사의 무단 전재 및 복제, 배포를 말한다. 어뷰징이 성립하기 위해서는 반드시 포털이 필요하다. 대형 포털은 우리가 흔히 실시간 급상승 검색어라고 부르는 서비스를 제공한다. 사람들은 특정 정보를 찾고자 포털 사이트에 방문하기도 하지만 특별한 목적 없이 무슨 소식이 있나 해서 포털 사이트에 방문하기도 한다. 호기심을 자극하는 실시간 급상승 검색어가 그 가운데 있으면 클릭해보고 그러면 그 검색어와 관련된 기사가 수없이 나온다. 정확히는 썸네일과 제목, 기사의 일부가 나오는데 네티즌은 그 정보를 보고 마음에 드는 기사를 클릭해서 전체 기사를 읽는다. 이 과정에서 해당 언론사 사이트에 게재된 광고들이 함께 출력되고 언론사는 그 광고를 통해 수익을 얻는다.</p>

<p>이 과정에서 닭이 먼저냐, 달걀이 먼저냐와 같은 질문이 하나 나온다. 기사가 나와 그 기사에 대한 관심이 실시간 급상승 검색어로 반영되는지, 실시간 급상승 검색어가 나와 언론사들이 그에 맞게 기사를 작성하는지의 이야기다. 나는 기사가 실시간 급상승 검색어를 만든다고 생각했다. 쿨쿨 자는 기자에게 특종이 제 발로 굴러오지는 않는다. 기자는 출입처로 대표되는 여러 정보원을 갖고 있다. 일반인보다 정보에 대한 접근성이 높고 정보원의 신뢰도를 검증할 능력도 있다. 그렇게 기자가 1차로 검증한 정보들을 토대로 기자는 기사를 내보낸다. 그러면 사람들이 그 기사를 보고 추가적인 정보를 얻기 위해 그와 관련된 검색을 할 것이라고 나는 그렇게 믿었다.</p>

<p>하지만 내 생각은 틀렸다. 실시간 급상승 검색어가 먼저라고 놓고 업무에 임해야 했다. 팀장은 첫 날 교육에서 주요 포털의 실시간 급상승 검색어를 계속 모니터하다가 이 회사가 기사화하지 않은 검색어가 올라올 경우 그 검색어를 클릭해 출력되는 타사의 기사를 자사 기사처럼 꾸며 송고하는 요령을 가르쳤다. 워터마크라고 부르는, 각 언론사의 표식이 박혀있지 않은 모든 사진은 이 회사의 기사에 대한 사진으로 활용해도 무방하며 다만 주요 포털 및 자사 홈페이지에 올라갈 때 이미지가 웹브라우저 화면에 넘치지 않게 하기 위해 가로 520픽셀만 맞춰달라고 했다. 여기서 말하는 이미지에는 범위가 없다. 말 그대로 모든 이미지를 말한다. 타사가 썼더라도 워터마크만 박히지 않았다면 다 가져다 쓴다. 그러니 스타나 운동선수의 개인 계정에 올라간 사진들은 말할 것도 없다. 스타가 인스타그램에 자신의 사진을 한 장만 올려도 이 쪽에서는 스타가 사진을 게재했다는 기사를 낸다. 누구도 허락한 바 없지만 스타의 SNS 계정은 연예뉴스나 어뷰징 담당자의 출입처와 다름없다. 내가 있던 회사는 스타 SNS 팔로우도 하지 않아 다른 회사가 캡처해 올린 이미지를 가져다 썼다.</p>

<p>실제로 나는 실시간 급상승 검색어 하나를 클릭하면 기사 하나를 열고 거기에 뜨는 기사글을 그대로 복사해서 이 회사 프로그램에 붙여넣기했다. 사진은 방금 복사한 기사의 사진을 그대로 가져오기도 하고 아주 약간의 성의를 더 기울인다면 다른 기사의 사진을 쓴다. 이렇게 되면 A사의 기사에 B사의 사진을 넣은 기사가 하나 나온다. 사진은 특별히 고칠 게 없고 기사 글은 조금 수정을 가한다. 표면적인 이유는 양심적인 표절이지만 진짜 이유는 비슷한 시기에 동일한 텍스트의 기사가 올라가면 포털이 표절로 인식해 기사 수집을 하지 않기 때문이다.</p>

<p>이를 피하기 위해 우선 긁어온 기사를 맞춤법에 맞게 교정한다. 그리고 문단 순서를 바꾸거나 리드 문장 삭제, 단어를 유의어로 수정하는 등 베낀 기사를 컴퓨터가 다른 문서로 인식하게 만들 방법은 많다. 한 문단을 통으로 들어낼 수도 있다. 타 언론사의 기사 내용을 기초 자료 삼아 마치 우리가 취재한듯 새 기사를 만들어내는 셈이다.</p>

<p>내가 있는 회사는 계열사가 많았는데, 팀장은 계열사의 기사를 그대로 가져다쓰는 것은 상관없다고 했다. 이렇게 되면 포털은 기사 수집을 안하겠지만 직접언론사 사이트에 접속한 사람들은 그 기사를 볼 수 있다. 회사에서는 계열사의 기사를 베끼는 것을 근친상간이라고 일컬었다. 언론에서 사용하는 내부적인 용어 가운데 거친 표현은 많았지만 내가 겪은 곳 가운데 가장 센 곳이 여기였다.</p>

<p>팀장은 키보드 소리를 좋아하지 않았다. 복사와 붙여넣기를 해야지, 키보드 타이핑을 왜 하냐는 것이다. 내 업무는 기사 작성이었지만 한편으로는 기사를 작성하지 말아야했다. 기사는 복사하고 붙여넣고 베끼는 것이지, 사안을 조사하고 알아보고 정리해 작성하는 것이 아니었다.</p>

<p>다루는 아이템은 어떨까? 이 회사는 공식적으로는 연예 소식과 스포츠 소식을 다루는 회사다. 축구, 야구 등 각 분야의 전문 기자들도 있다. 한국 기자사회에서는 출입처라는 제도가 통용된다. 해당 출입처와 관련된 아이템만을 다룬다는 의미로 언론사에서는 나와바리라는 말을 쓴다. 언론사에 소속된 기자들은 자신의 나와바리가 아닌 곳의 기사를 내는 것을 금기시한다. 경제부 기자가 경제부총리의 브리핑은 기사화할 수 있지만 고용노동부장관의 발언은 경제계와 뚜렷한 대립각을 세우는 경우가 아니고서는 절대 내보내지 않는다. 이는 일종의 불문율이다. 만약 타 출입처의 좋은 아이템을 얻었다면 해당 출입처 기자에게 알려주거나 아니면 자신이 나중에 제대로 제작할 생각으로 정보만 모아놓고 기사화하지 않는다. 출입처는 장점과 단점을 모두 가진 제도다. 하지만 이 회사의 어뷰징팀은 출입처 제도를 과감히 깨뜨리고 스스로 초월적인 지위를 만들어 가졌다. 연예와 스포츠를 다루는 회사였음에도 트래픽을 끌어올 수 있는 아이템이라면 대통령이든 의료보험이든 갯지렁이든 무엇이든 좋았다.</p>

<p>연예 기사의 후반부에는 대개 네티즌 반응이라는 것이 들어간다. 이에 대한 작성법도 배웠다. 네티즌 반응이라는 것은 진짜 네티즌 반응이 아니다. 검색어를 기사 본문에 한 번이라도 더 포함시켜 포털에 상위 노출을 꾀하기 위해 검색어를 필두로 아무 말이나 지어 넣고 붙일 말이 없으니 네티즌 반응이라고 한다. 보통 기사 작성자가 개인적인 의견을 쓴다. 하긴 하루 8시간을 포털만 들여다보고 있으니 그들도 네티즌이기는 하다. 기사에 포함된 네티즌 반응이라는 것을 살펴보면 내부 실정을 모르는 입장에서도 의아한 부분이 있다. 어느 네티즌이 이런 생각을 했을까 싶은 황당한 반응은 차치하더라도, 기사가 나와야 기사를 보고 네티즌이 반응을 할 수 있는데 기사도 나오지 않은 사안에 어떻게 네티즌이 의견 개진을 한단 말인가. 네티즌 반응을 언론사가 수집할 수 있을 정도라면 이미 그 기사는 널리 알려졌다는 뜻이고 그런 기사는 뉴스로서의 가치가 없기 때문에 기사화할 필요가 없다. 네티즌 반응은 독자들에게 네티즌 반응을 알려주기 위한 것이 아니라 검색어 유입을 이끌어내려는 언론사의 몸부림이다.</p>

<p>바이라인이라는 것이 있다. 기사 말미에 ○○○ 기자라고 나가는 것을 바이라인이라고 한다. 기사의 작성자를 알리는 것은 물론 이름을 명시함으로써 책임 소재를 밝히는 역할을 한다. 우리는 바이라인을 작성하지 말 것을 지시받았다. 우리의 바이라인은 이름 대신 팀명으로 나갔다. 이는 개개인의 정체성을 무시하고 말살시키겠다는 의도보다는 회사를 보호하기 위한 것이다. 우리의 1인당 기사 할당량은 원칙적으로 1인 1일 100건이다. 나는 하루에 평균적으로 30여 개의 기사를 작성했다. 이 회사 최고 기록은 133건이었다고 한다. 기자 한 명이 기사 100건을 쓰려면 하루 8시간동안 쉼 없이 5분마다 기사를 하나씩 쏟아낼 수 있어야 한다. 이는 스포츠 기사를 조각조각 잘라 쓰지 않는 이상 실질적으로 불가능에 가깝다.</p>

<p>100개의 기사를 쓴다면 이런 식이다. 야구 경기에서 1회초에 투수가 타자에게 빠른 직구를 던져 타자는 스윙을 했고 이에 스트라이크 하나가 나왔다는 것을 기사 하나로 내는 것이다. 이렇게 기사를 내면 야구 한 경기로 100여 개의 기사를 쓸 수 있다. 그런 기사를 누가 읽을지는 논외로 하자. 이나마도 취재가 가능할 때 이야기다. 현장에 있거나 최소한 어디서 경기 중계라도 보고 있어야 한다. 일반적인 상황에서 하루에 기사 100개를 쓸 수는 없다. 정상적인 취재를 거쳤다면 30개도 무리다. 우리에게 업무 지시를 하는 관리자들도 이 사실을 알고 있기에 작성자의 이름을 밝히지 않고 언론사의 특정 팀에서 나온 기사라는 식으로 바이라인을 흐린다.</p>

<p>내가 소속된 팀의 담당 업무는 어뷰징이고, 소속 인원은 처음 세 명에서 그 다음 다섯 명으로, 그 후 곧 여덟 명으로 늘어났다. 8명이 각자 바이라인을 걸고 각각 100개씩의 기사를 내는 것보다는 한 팀이 800개의 기사를 생산했다고 하는 편이 신뢰도를 획득하기 쉽다. 외부에서는 해당 팀의 인원이 몇 명인지, 해당 팀이 무슨 일을 하는지 알 길이 없지만 언론사는 믿는다. 독자들은 기사 작성 과정은 모른 채 언론사의 이름을 믿고 기사에 대한 신뢰도를 결정하거나, 혹은 단지 언론사이기 때문에 정석적인 취재 과정을 거쳐 작성했으리라고 여기고 기사를 본다. 직접 어뷰징을 하기 전까지는 나 역시 그랬다.</p>

<img src="http://wisdomcandle.com/wp/wp-content/uploads/2015/04/%EC%A0%9C%EB%AA%A9-df.jpg" alt="" />
<div class="l-apple-box"></div>

<p>어떤 기사에서도 제목은 중요하다. 보도국에서도 그랬고 신문사에서도 그랬다. 초기의 신문을 살펴보면 제목은 기사를 요약한 문장에 가깝다. 처음 나온 독립신문이 4페이지였고 일제강점기의 조선일보가 6~8페이지 선이어서 기사를 다 읽어도 그리 많지가 않았다. 요즘 신문은 30여 페이지가 되고 섹션 면까지 하면 50페이지를 훌쩍 넘는 경우도 있다. 정보가 너무 많다. 제목만 보고 관심이 가지 않으면 굳이 기사를 읽지 않는다.</p>

<p>대형 방송사에서는 하루에 기사 수백 건이 나온다. 신문사는 지면 기준으로 100여 개 수준이다. 두 회사의 기자 수가 다르고 방송과 신문의 차이가 있어 일률적인 비교는 불가능하지만 대략 이렇다. 통신사의 기사를 받아쓰는 기사를 제외하면 이 숫자는 더 줄어들 것이다.</p>

<p>하지만 기자가 몇 명 되지도 않는 이 회사에서 나오는 기사는 하루 1천 건을 상회한다. 그 기사를 다 읽고 있을 사람은 아무도 없다. 내부 관리자조차 그 기사를 다 읽지 않는다. 직원들도 독자가 이 모든 기사를 전부 읽을 것을 기대하지 않는다. 다만 몇 개라도 대형 포털에서 이 회사의 기사를 클릭해 들어오기를 바라며 물량 공세를 펼치는 것이다.</p>

<p>독자가 기사를 보지 않은 상태에서 어떻게 기사 유입을 유도할까? 대형 포털에 실시간 급상승 검색어를 클릭하면 관련 뉴스가 쭉 나온다. 그 상태에서 보이는 것은 제목과 작은 썸네일, 기사 몇 줄 정도다. 썸네일은 선정적인 기사일 경우 효력을 발휘하기도 한다. 찢어진 드레스 같은 기사의 사진 말이다. 하지만 선정적인 기사가 아니라면 기사가 두어 줄 검색어에 굵은 표시가 되어 나온 것만 가지고 기사 수준을 파악할 수는 없다. 포털의 기사 검색은 이 기사에 특정 검색어가 얼마나 많이 들어있는지를 보여줄 뿐이다. 그러므로 네티즌에게 클릭을 직접적으로 유도할 수 있는 요소는 기사 제목이다. 제목뿐이라고 해도 과언이 아니다.</p>

<p>표절이 일인 어뷰징 담당자들도 기사 제목만은 표절하지 않는다. 제목이 같으면 포털에 걸러진다는 이유도 있지만 최대한 자극적인 제목을 뽑기 위한 목적이 더 크다. 기사 대부분을 베껴야 하는 어뷰징 담당자가 그나마 자기 의견을 피력할 수 있는 유일한 공간이기도 하다. 네티즌은 제목을 클릭해 더 많은 정보를 획득할 것을 기대하겠지만 언론사 입장에서는 제목을 클릭하게 했으면 그것으로 끝이다. 독자가 무엇을 보고 나가는지는 중요하지 않다. 독자가 낚였다고 생각할지, 좋은 기사를 잘 썼다고 생각할지는 나중 문제다. 어뷰징 업체 입장에서는 네티즌이 트래픽만 올려주면 된다. 그러기 위해 어뷰징 담당자는 같은 텍스트를 갖고도 가장 자극적인 부분을 선택해 제목을 작성한다. 제목이 기사를 대표할 수 있는지는 역시 중요한 문제가 아니다. 제목을 보고 놀라서 기사를 클릭한 네티즌이 막상 내용이 별 것 아니라는 것을 확인하고는 가슴을 쓸어내리고 백 버튼을 누른다. 이른바 낚시 기사다. 우연히 낚시 기사가 나온 것이 아니다. 작성자의 목적 자체가 낚시다.</p>

<p>기사를 쓰는 입장에서 고품질의 기사를 쓰는 게 쉬울까, 별 것 아닌 기사를 제목만 잘 써서 중요한 내용인 양 포장하는 게 쉬울까? 보통은 현실과 타협하게 된다. 트래픽만 올리면 된다. 그러기 위해 기사는 한 건이라도 더 써야하고 제목은 최대한 자극적으로 달아 타사와의 경쟁에서 이기고 싶어 한다. 인터넷 기반 언론사들이 다들 비슷비슷한 생각을 갖고 있기 때문에 서로 더 자극적인 제목을 달기 위해 애쓰고 정보 소비자는 자극적인 제목으로 중무장한 언론 환경에 노출된다.</p>

<p>자정 작용에 대한 이야기가 나올 법하다. 결론부터 말하면 그런 일은 일어나지 않는다. 실제로 다를 것 없는 두 기사를 올려 하나는 기사를 대표할 수 있는 주제문을 선정해 달고, 다른 하나는 기사의 가장 자극적인 부분을 골라 그 이야기만 부각시킨 선정적인 제목을 단다면, 자극적인 제목을 단 기사의 조회수가 훨씬 높게 나온다. 수차례 내부적인 데이터를 누적한 결과다. 말 몇 마디만 바꾸면 결과가 달라지는데 어느 언론사가 먼저 손을 들고 나서 제 살 깎아먹기 식의 소모적인 경쟁을 그만두자고 할까. 자극 경쟁은 서로 같이 죽자고 달려드는 꼴이지만 누구도 이 악순환을 포기하지 않는다. 상당수 기사의 제목에 충격이라는 단어가 삽입된 것도 그 탓이다. 이 사회에 충격받을 일이 그렇게 많았으면 우리는 이미 이 세상에 없거나 달라진 세상에 살고 있을 것이다.</p>

<img src="http://i0.wp.com/wisdomcandle.com/wp/wp-content/uploads/2015/04/%EC%A0%9C%EB%AA%A9-%EC%97%86%EC%9D%8C.jpg?w=383" alt="" />
<div class="l-apple-box"></div>



<p>방송사에서 기사를 하나 내기 위해서는 우선 취재계획을 올려야 한다. 그 다음에 취재계획에 대해 팀장이나 부장에게 승인을 받아야 한다. 그래야 촬영기자를 배정받을 수 있다. 촬영기자와 함께 취재를 하고 기사를 작성하면 팀장이나 부장에게 그 기사를 보여줘야 한다. 그러면 그들은 기사 내용이나 표현에 대해 이것저것 묻는다. 여기서 기자들은 그들의 어떤 질문에도 대답할 수 있어야 한다. 기사에 대해 조율을 마치면 기자는 원고를 직접 읽고 녹음한다. 그리고 편집자에게 녹음한 테이프와 취재해온 영상을 넘겨주고 그들은 뉴스로 내보낼 영상을 편집한다. 기자는 편집자에게 뉴스 편집에 대해 지시하고 그렇게 완성된 영상을 다시 팀장 또는 부장에게 보여주고 승인을 받는다. 그제서야 리포트 하나가 채널을 통해 빛을 보게 된다. 신문사는 영상 편집 과정이 없는 대신 기사 승인을 받은 다음 교열기자의 교열을 받아야 한다. 교열 과정에는 문법적 오류 수정은 물론이고 팩트 체킹도 포함된다. 이렇게 많은 과정을 거쳐야 겨우 기사 하나가 나간다. 기사 내는 게 쉬운 일이 아니다.</p>

<p>반면 여기서 내가 다루는 뉴스 관리 시스템은 개인 블로그와 다를 바 없다. 글을 넣고 그림을 삽입해 전송 버튼을 누르면 이 회사 사이트는 물론 메인 포털에까지 순식간에 올라간다. 기사를 올리는 데 아무 제한이 없다. 한번은 주요 포털 메인에 한 언론사의 기사가 걸린 적이 있다. 기사가 포털 메인 첫 번째에 걸리는 것은 신기할 게 없지만 그것은 기사라고 할 수 없는 글이었다. 기사 제목은 “편집장 XX야, 일 때려친다”였다. 이 기사의 원문은 삭제되었지만 파이낸셜뉴스는 직접 이 사안을 다루었다. 2013년 11월 27일자로 ‘“편집장 XX야, 일 때려친다”.. 이게 네이버 뉴스 제목?’(<a href="http://www.fnnews.com/news/201311271639085278" target="_blank">http://www.fnnews.com/news/201311271639085278</a>)이라는 제목으로 남의 일인 것처럼 대한 기사가 아직까지 남아 있다. 이 기사는 2013년 5월 24일 일간스포츠에서 비슷한 기사가 나갔던 일을 인용했고, 이 내용이 해당 언론사와 아무런 관련이 없고 악성 패러디물이 퍼져 언론사의 신뢰성이 떨어진다고 말한다.</p>

<p>방송사와 신문사를 거치면서 나는 이런 일은 도저히 일어날 수 없다고 생각했다. 방송사와 신문사 생활은 한편으로 절차와의 전쟁이었다. 최종적으로 나간 기사에 문제가 있으면 이 많은 과정에 걸리는 모든 사람들이 연대 책임을 물어야 했고 단순화해서 말하자면 언론사 전체의 책임이기도 했다. 그만큼 기사 하나를 내보내는데 많은 주의를 기울였다. 대체 저런 글이 어떻게 데스크를 통과했는지 이해가 되지 않았다.</p>

<p>여기서 어뷰징 업무를 직접 맡고서야 이 일을 이해했다. 나도 얼마든지 할 수 있다. 기사 하나 내는 게 식은 파이 먹듯 쉬운 일이다. 여기서 데스크가 없는 이유는 단순하다. 어뷰징 기사를 관리자가 일일이 보고 확인할 시간이 없다. 시간만 없는 게 아니라 필요도 없다. 회사의 목적은 한 명이라도 회사 사이트에 더 끌어들여 광고 수익을 얻는 것이다. 팩트도 맞든 틀리든 상관없다. 트래픽만 끌어들이면 된다. 기사 데스크는 기사가 나가는 시간을 지연시킨다. 실시간 검색어는 시시각각 바뀌는데 한가롭게 데스크를 보는 게 트래픽 향상이라는 측면에서 방해가 되면 됐지, 이익이 될 것은 하나도 없다. 그래서 어뷰징 인력에게 데스크 권한을 같이 준다. 엄밀히 말해 데스크가 없는 것은 아니다. 어뷰징 담당자가 기사를 올리면 기사 작성을 하고 직접 데스크를 통과시킨 것으로 보는 게 정확하다. 나는 여기서 마음만 먹으면 무엇이든 기사화할 수 있는 무소불위의 권력을 가졌다.</p>

<p>어뷰징 담당자는 권력을 갖는 대신 회사로부터 어떤 보호도 받을 수 없다. 기명기사를 내는 기자들은 기사로 인해 소송에 걸릴 때, 회사는 법적 자문을 받게 해주고 동료나 선후배들도 도울 수 있는 선에서 서로 돕는다. 그러나 어뷰징 담당자는 회사로부터 인적, 재정적, 법적 도움을 기대할 수 없다. 어뷰징 담당자는 기자가 가르친대로 기사를 복사 붙여넣기했지만 기사에 문제가 있다고 하면 기사를 삭제해버린다. 사안이 커서 기사를 삭제하는 정도로 진화되지 않으면 회사는 ‘그 기사는 회사와 무관하며 알바생 개인이 쓴 기사’라는 해괴망측한 변명을 한다. 물론 소위 알바생이라는 사람이 누구인지 구체적으로 명시하지는 않는다. 비난받던 알바생이 스트레스에 시달리다가 회사의 어떤 지시를 받고 어떻게 그 기사를 작성했는지 회사의 모든 기사 작성 프로세스를 공개하면 언론사는 더 귀찮아지기 때문이다. 회사도 이 점을 알기 때문에 대형 포털 메인을 통해 편집장에게 욕을 난사한 파이낸셜뉴스와 일간스포츠의 어뷰징 담당자는 회사로부터 신원이 폭로당하는 일을 피한 것이다. 그들은 알바생이라는 불특정 다수를 비난하면서 일을 정리했다. 어뷰징 담당자가 빈 바이라인 뒤에 숨어있기는 하지만 문제가 커지면 보호받지 못하고 버림받는다. 사실 ‘회사의 지시로 어뷰징을 했다’고 어뷰징이나 언론을 모르는 대중에게 밝히는 것은 ‘히틀러 밑에서 어쩔 수 없이 충성했다’는 것과 별반 다르지 않게 받아들여질 것이다.</p>

<p>방송은 시간의 제약이 있다. 그래서 중요한 기사라도 다른 기사에 밀려나는 일이 많았다. 취재기자들은 늘 큐시트를 이해하지 못하겠다고 했다. 큐시트 상의 순서가 취재기자가 생각하는 기사의 중요도와 맞지 않았던 탓이다. 기자 간에도 이견이 있었고 큐시트에 직접 개입하는 간부와 취재부서의 간부 사이에도 이견이 있었다. 방송에서 시간 제약은 항상 문젯거리였다. 길면 긴대로, 짧으면 짧은대로 문제였다. 보도국은 아이템 자체가 모자라는 일은 별로 없었기 때문에 편집부는 취재부서가 발제한 아이템을 다 쓸 수가 없을 지경이라 파업 상황이 아니고서는 항상 길어서 문제였다. 편집부서가 기사를 밀어내면서 큐시트 핑계를 대면 취재부서는 별로 할 말이 없었다. 시간은 항상 모자랐다. 쌍용자동차 노조 파업 1000일이 되었을 때 메인 뉴스는 그 소식을 다루지 않았고 이 리포트는 밤 시간 뉴스에 나가기로 되어 있었다. 그 날 메인 뉴스가 나갈 때 나는 고용노동부 출입기자의 옆자리에 앉아 있었다. 뉴스에서는 팽이버섯의 국산 종균을 개발해야 한다는 리포트가 나갔다. 물끄러미 뉴스를 보던 기자가 내게 말했다. ‘넌 저게 궁금하냐?’</p>

<p>온라인은 지면이나 시간의 제약이 없다. 그러니 기사를 되는대로 마구 쏟아내는 것이다. 어제 예능 프로그램 하나가 방송되었다면 그 방송을 가지고 수십 개의 기사를 내보낼 수 있다. 특히 어뷰징을 한다면 기사의 양은 많고 데스크는 없다.</p>

<p>어뷰징 담당자 한 명이 제목에서 명백한 오타를 낸 적이 있다. 그 기사가 상위에 랭크되면서 다시 기사에 대해 이야기했는데 담당 팀장이 그제서야 맞춤법 오류를 지적했다. 수정 요구가 아니었다. 이후로 주의하라는 말 뿐이었다. 팀장은 이미 기사가 올라올 때 오타를 봤고 오타임을 알면서도 수정하지 않았다.</p>

<p>기사에 오타 하나만 있으면 기사에 대한 신뢰도가 떨어진다. 언론에 발을 들여놓기 전의 내가 그랬다. 기자가 제대로 뭘 모르고 쓴 것 같고 이 정도 확인도 안하고 기사를 내보냈나 싶었다. 나만 그렇지는 않을 것이다. 하지만 쓰는 입장에서는 아무리 열심히 글을 다듬어도 미처 모르는 오류가 나온다. 취재기자도 마찬가지다. 그런 면에서 교열기자는 언론사에서 필요하다. 디지털 시대로 넘어와 정확성보다 속보성을 중시하면서 주요 언론사 가운데 이미 교열기자를 없앤 곳도 있다. 언론이 기사의 오탈자 수정이 따로 비용을 들일 정도로 중요하지 않다고 인식한지 오래라는 의미다.</p>

<p>데스크나 교열기자가 언론사에 취재기자만 있기에 심심해서 배치한 직무는 아니다. 모두 필요해서 있는 인력이다. 내 기사는 데스크도, 교열도 받지 않는다. 누구도 내 기사를 확인하지 않는다. 내 기사를 처음으로 보는 것은 나도 아니다. 기사를 클릭한 독자가 처음 기사를 본다. 독자는 모든 기사가 일련의 과정을 거쳤기에 언론사가 내보냈다고 생각하고 믿겠지만 어뷰징이 언론을 뒤덮는 환경에서 그 생각은 처음부터 끝까지 틀렸다.</p>


<img src="http://i2.wp.com/wisdomcandle.com/wp/wp-content/uploads/2015/04/sdfsdfsf.jpg?w=703" alt=""/>
<div class="l-apple-box"></div>

<p>내가 어뷰징 업체에 입사하기 전, 이 회사는 정리해고를 단행했다. 그것도 일부가 아니라 절반 가까이를 내보냈다. 회사의 외양은 화려했지만 사무실 안에는 주인 없는 빈 자리가 주인이 있는 자리보다 많았다.</p>

<p>어뷰징은 전문 기술을 요하는 일이 아니기 때문에 언론에 대해 아무것도 모르는 경영자가 신생업체를 만들어 인터넷 사이트에 광고 몇 개 붙이고는 대충 기사 베끼라며 순진한 청년들을 고용하는 경우도 있다. 이런 업체에 들어갔다면 나는 버티기가 더 힘들었을 것이고 그 경영자의 미련함에 고개를 내저었을 것이다. 하지만 나와 함께 일하던 관리자들은 본인의 분야에서 몇 손가락 안에 드는 경력을 갖고 있었다. 그래서 정리해고라는 칼바람에서도 살아남았고 회사가 하루라도 더 연명하게 만들 방법을 모색하는 중차대한 임무를 맡았다. 이들은 제대로 취재하고 좋은 기사를 내는 보람을 알았다. 여성 노출을 전면에 내세우는 방침이나 어뷰징의 자괴감을 너무나 잘 알았고 어뷰징이 언론을 황폐화시킨다는 것도 알고 있었다. 나아가서는 어뷰징이 결국 회사의 목을 조를 것도 이미 알고 있다.</p>

<p>어뷰징팀이 함께 트래픽 순위를 점검하다가 자사 사이트에서 트래픽 순위 21위를 차지한 기사가 포털 3위에 랭크된 일이 있었다. 처음에는 이해가 되지 않았다. 포털이 이 회사보다 인터넷 점유율이 훨씬 높은데, 포털 전체에서 3위를 차지한 기사가 어떻게 자사 순위는 고작 21위에 불과할까.</p>

<p>해답은 의외로 간단했다. 사람들은 언론사를 찾지 않는다. 이 글을 읽고 있다면 자신이 어떤 루트로 뉴스를 보는지 떠올려 보자. 대개는 어떻게든 포털을 거친다. 포털로 접속해 메인 화면에 뜬 기사를 클릭하거나 실시간 급상승 검색어를 클릭해 그때그때의 기사를 확인한다. 특별히 관심을 갖는 분야가 있어도 그와 관련된 검색어를 포털에 입력해 들어가지, 해당 사이트를 즐겨찾기 해놓고 직접 접속하는 일은 드물다.</p>

<p>언론사가 기사 하나를 올리면 그 기사는 연동되어 포털로 올라간다. 모바일 환경이 되면서 포털에 제공된 기사를 보는 사람들은 언론사에 접근할 필요없이 계속 포털만 빙빙 돌다 나가게 된다. 기사는 언론사가 올리지만 포털의 트래픽만 올라가는 것이다. 재주는 언론사가 넘고 돈은 포털이 챙긴다. 포털은 이 기사가 좋은 기사라고 판단해 포털 메인에 기사를 내걸었고 포털 랭킹 3위를 차지했지만 막상 이 회사 사이트에 직접 접속해 이 기사를 본 사람은 많지 않아 언론사의 트래픽 순위는 21위밖에 나오지 않았다는 것이다.</p>

<p>그렇다면 포털 3위가 무슨 의미가 있는 수치냐고 물었더니 어쨌든 포털에서 상위 랭크를 차지한 기사가 하나 나오면 그 기사를 통해 자사 홈페이지로의 유입을 노릴 수 있다고 했다. 하단에 배치한 인기기사나 연관기사 등을 이용하는 것이다. 인기기사나 연관기사는 실제 인기기사나 읽은 기사와 연관도가 높은 기사를 시스템이 알아서 배치하는 것이 아니라 사람들이 관심을 가질 법한 기사를 언론사 내부에서 편집해 넣는다. 당연히 여성 노출 기사를 주로 넣는다. 열악한 언론사의 경우 이 부분을 편집할 여유도 없어 몇 주째 똑같은 연관기사 리스트가 나가기도 한다.</p>

<p>이 회사는 다양한 시도를 했다. 인터뷰하기 어려운 사람을 공들여 섭외해 좋은 기사를 단독으로 내기도 했고 스포츠 전문기자가 고품질의 분석 기사를 작성하기도 했다. 품을 들여 기사를 써 올리고는 회사 차원에서 해당 기사를 전면에 배치한다. 그리고 두근대는 마음으로 트래픽 순위를 받아보니 짧게는 몇 시간, 길게는 며칠을 투자한 기사가 커뮤니티 사이트에서 여성 노출 사진 한 장 가져다 올린 것보다 조회수가 한참 낮은 것이다. 회사 입장에서나 기자 입장에서나 맥이 빠지는 일이다. 맥만 빠지면 괜찮은데 광고 수익도 안 들어오고 나중에는 기자들에게 월급도 제대로 못 주는 상황을 맞는다.</p>

<p>한국은 기자가 아무리 경력이 뛰어나고 실력이 있어도 어느 언론사에 소속되지 않고는 독자적으로 생계를 이어나가기 어렵다. 그러니 기자는 회사 꼴이 이게 뭐냐며 대책 없이 사표를 던질 수도 없다. 그들은 어떻게든 회사가 굴러가게 만들어야 한다. 어뷰징은 생존 수단이지, 수익을 낼 수 있는 아이템이 아니다. 어뷰징을 그만두면 지금 죽고, 어뷰징을 계속하면 하루를 연명할 수 있다. 언론을 황폐화시키는 대가로 하루를, 또 하루를 더 사는 것이다.</p>

<p>나는 어뷰징에 반대하고 여성 노출의 방침에 구역질을 느꼈지만 이 회사에 남은 기자들은 취재를 어떻게 하는지 몰라 어뷰징이라는 벼랑까지 몰린 게 아니다. 데이터는 거짓말을 하지 않는다고 했던가. 정보 소비자들이 고품질의 기사보다 여성 노출 사진을 더 원한다니 이들은 기자로서의 자존심까지 버리고 자사 사이트를 그에 맞게 바꿔나간 것이다. 네티즌이 공들인 기사를 선호하고 어뷰징 기사를 기피한다면 기자들이나 나나 어뷰징팀의 다른 직원들이 어뷰징을 할 이유가 없다.</p>

<p>현재 포털은 자체적으로 고품질 콘텐츠를 생산할 능력이 없다. 과거에는 더더욱 없었다. 이는 포털이 자랑하는 실시간 급상승 검색어 가운데 포털이 생산하는 콘텐츠가 올라가는 일이 거의 없는 것을 보면 알 수 있다. 포털 검색어의 대부분은 전날이나 당일의 예능 또는 드라마 프로그램이다. 혹은 출연자나 가끔 연예인 스캔들 정도가 올라온다.</p>

<p>포털 중에서도 네이버는 오래 전부터 사람들의 인터넷 이용을 네이버로 시작해서 네이버로 끝내는 것을 목표로 잡고 착착 실행에 옮기고 있다. 기사 콘텐츠 생산 능력을 가진 언론사가 네이버에 기사를 공급하는 게 당장은 돈이 들어오니 실적이 쌓이는 것 같겠지만 이 일이 장기화되면 사람들은 포털, 특히 네이버에 가면 모든 기사를 접할 수 있다고 생각할 것이다. 그 단계에 이르면 언론사는 네이버에서 벗어나고 싶어도 벗어날 수 없게 되고 장기적으로는 사실상 종속된다. 이 일은 이미 거의 성공 단계에 접어들었다.</p>

<p>이는 어뷰징뿐 아니라 언론 전체가 처한 문제지만 이와 관련된 기사는 가뭄에 콩 나듯 1년에 한 번 볼까말까하고, 기사의 온라인 공급에 관한 정책을 짜는 기자들은 네이버에서 벗어날 생각조차 않는다. 오히려 네이버에서 어떻게 하면 금싸라기 땅을 점할 수 있을지에 혈안이 되어 있는데 나는 이런 모습이 나라 팔아먹고 애국자를 자칭하는 것처럼 보인다. 방금 언급한 이야기는 어뷰징 업체가 아니라 그나마 제대로 기사를 낸다는 언론사의 이야기다.</p>

<p>네이버 메인에 걸리는 기사는 네이버의 뉴스 편집자가 선택하지만, 검색어 클릭 화면에서 기사를 상위에 노출시키겠다는 의도라면 좋은 기사를 쓸 필요가 없다. 특종을 잡은들 어차피 어뷰징을 하는 타사가 긁어가면 우리가 잡은 특종은 맨 뒤로 묻히고 어뷰징으로 복사와 붙여넣기를 하느라 우리보다 늦게 올린 타사 기사가 상위로 올라가기 때문이다.</p>

<p>땅콩 회항 사건 직후 KBS는 사무장을 단독 인터뷰해 내보냈다. 사무장이 KBS 뉴스에 출연한 사실과 인터뷰 내용은 모르는 사람이 없지만, 그 가운데 KBS 뉴스를 직접 봤거나 KBS 홈페이지에 접속해 리포트를 확인한 사람은 얼마나 될까? 대부분은 해당 뉴스를 캡처한 이미지 하나와 복제되어 포털에 일파만파 퍼진 어뷰징 기사를 읽었을 것이다. 특정 언론사가 어떤 보도를 했다는 게 화제가 되어도 사람들은 언론사를 찾지 않고 포털을 찾는다.</p>

<p>언론의 포털화와 언론의 디지털화는 완전히 다른 개념이다. 어뷰징을 하는 업체는 물론이고 그렇지 않은 언론사의 상당수도 자사 홈페이지와 어플리케이션에 검색이나 정렬 순서 변경 등 기본 기능조차 제공하지 않으면서 너저분하게 광고만 붙여 독자에게 불편을 준다. 그저 포털을 통해 트래픽을 올려야 한다며 포털에 기사를 하나라도 더 납품하는데만 골몰하는 모습을 보면 답답하다. 언론사들은 점점 독자적인 정보 유통망을 빼앗기고 네이버가 기사 유통망을 장악하는 모습을 강 건너 불 구경하듯 한다.</p>

<p>기자와 정보 소비자는 어뷰징을 비난하지만, 그들은 포털을 떠나지도 비난하지도 않는다.
이들은 어디로 가려고 하는 걸까.</p>






