<p>
  2011년 1월, 영광스러운 전역의 날이 되었다. 모든 전역자들이 그렇듯이, 나는 무언가를 해낼 수 있다는 자신감으로 가득했다. 군대 안에서의 나는 24시간 동안 대한민국에게 빼앗겼던 꿈과 희망의 시간을 심리적으로 보상받기 위해 잠을 두 시간 줄이는 것을 택했다. 그 안에서 읽어 내려간 텍스트는 매우 유토피아적인 토픽의 것으로, 지금 생각하면 잘 소화하지도 못할 것들을 억지로 쑤셔 넣고 전역날이 왔을 때 무엇을 할지를 고민하며 시간을 사용했다.
</p>

<p>
  그 에너지를 가지고 마냥 놀지 않았다는 것은 지금 생각하면 참 다행인 일이다. 나는 전역 후 꿈과 희망의 에너지를 군대에서 만난 친구 Y군과 함께 고스란히 새로운 서비스를 만드는 데에 사용하기로 했다. 이 친구는 영화를 만드는 사람이었는데, 군대에서는 상상할 수도 없는, 다양한 차원에서의 깊은 이야기가 가능한 상대였다. 그와 나는 사이버 지식 정보방에서 프린트한 재미있는 글이나 책을 종종 돌려봤는데, 나는 그에게 평소에 읽고 있던 로렌스 레식의 〈리믹스〉와 같은 책을 권하는 한편, 개인이 직접 행하는 기부 모델에 관심이 있어 작게 프로젝트 구상을 하곤 했다. 그것을 보며 그는 평소에 생각하고 있었던 창조적 프로젝트에 대한 후원 모델이 미국에서 작동하는 사례를 목격하고, 영화와 같은 창조적인 프로젝트를 꾸미는 사람들이 구상 중인 것을 공유하고 금전적 피드백을 받는 서비스를 같이 만들어 보지 않겠냐고 했다. 
</p>

<p>
  그게 시작이었다. 당시 미국의 크라우드펀딩 플랫폼인 킥스타터(Kickstarter)는 생긴 지 1년도 안된 신생 플랫폼으로, 2010년 분산형 소셜 네트워크 서비스인 디아스포라가 여기서 이십만 달러 펀딩에 성공하면서 큰 화제를 모았다. 우리가 판단했던 킥스타터의 가장 큰 성공 요인은 펀딩 방식이 창작자와 후원자 모두의 리스크를 줄이는 방향이었다는 것이다. 창작자는 계획을 모두에게 공개함으로써 프로젝트의 실현 가능성을 테스트해볼 수 있고, 돈이 모인 이후에는 안정적으로 작업에만 몰두할 수 있었다. 우리는 전역 직후의 에너지라는 소중한 자산을 창작자의 금전 리스크를 분산하는 크라우드 펀딩 프로젝트라는 것에 한 번 쏟아보기로 했다. 
</p>
<p>
  먼저 회사를 설립해야 했는데, 공동창업자 Y군은 법무사를 고용하는 대신 직접 법인을 설립하여 비용을 줄여보기로 했다. 문제는 그전에 전역 기념으로 모두 신나서 맥북 프로를 구입했다는 것에 있다. 맥 오에스에서 대법원 등기소를 통해 서류에 등기를 넣고, 이를 출력할 수 있는 방법은 존재하지 않았다. 우리는 윈도우 컴퓨터를 또 사는 대신 맥에서 가상 윈도우를 돌릴 수 있는 패러렐즈 데스크탑을 까는 것으로 충분하리라 생각했다. 하지만 대법원 등기소는 가상 머신을 운영체제로 쳐주지 않았고, 결국 윈도우 머신이 필요하다는 것을 길고 긴 레슨을 거쳐 겨우 알게 되었다. 이제 출력을 하려는데, 당시 가지고 있던 프린터는 대법원 등기소에서 지원하는 프린터가 아니었다. 보안 인증이 가능한 특수한 프린터를 사용해야 하는 것인가 잠시 생각했지만, 그게 아니라 그저 액티브엑스 모듈에서 지원하지 않는 프린터였다. 가격비교 사이트인 다나와(danawa.com)에서는 이러한 니즈를 정확히 캐치하고 전자정부 시스템에서 지원하는 프린터를 골라서 구입할 수 있도록 필터를 제공했다. 그렇게 겨우 법인 설립을 마칠 수 있었다. 
</p>

<p>
  <img src="https://d2mxuefqeaa7sj.cloudfront.net/s_6F3EE40DBCA2FE9ED9F4CF126AD2B2901F09D893C5C693037E42AE0FF98831EC_1471659612891_Screenshot+2016-08-19+22.19.55.png" alt="법인 프린터" />
</p>
<p>
  기획 단계에서는 우선 창조적 프로젝트의 펀딩이라는 기능에 집중하기로 하고 리서치를 시작했다. 알아보니 킥스타터는 2009년 창립 당시 현재의 All-or-nothing—프로젝트가 성공할 경우에만 사용자가 미리 걸어놓은 예약금을 결제하는—구조를 인터넷에서 구현하기 위해 Amazon Web Service의 Flexible Payment Service(FPS)<a id="rfn-1" href="#fn-1" class="sub">[1]</a>의 도움을 받았다고 한다. 국내의 결제대행 서비스들이 고객사에게 결제 모듈을 제공하고 가맹점으로 대우하는 것과 비교했을 때, FPS는 가입자마다 작은 결제 대행 회사를 하나씩 차려주는 것이나 다름없는 혁신적인 조건들이 있었다. 사용자들의 결제 정보는 아마존에 저장되어 있으므로, 이 프로젝트가 성공했을 경우에만 약정한 금액을 이체하는 것에 동의하는 형태의 결제 프로세스를 만들 수 있었던 것이다. 프로젝트가 성공했을 시에만 이체가 진행되고, 그렇지 않을 경우 사용자는 그 어떤 액션을 취하지 않아도 되었기 때문에 서비스를 매끄럽게 만드는 것이 가능했다. 반대로 프로젝트가 진행 중일 때 최종 결제가 같이 진행되어 버리면, 프로젝트가 실패할 경우 모든 사람들에게 환불 요청을 새로 걸어주는 등의 피곤한 프로세스를 연중 진행해야 하는 아주 고약한 문제가 있을 것이다. 그리하여 이 결제 시스템은 크라우드펀딩 비즈니스를 가능하게 하는 기술적 발판이었던 것이다. 게다가 최종 모금한 돈을 프로젝트 진행자의 계좌와 킥스타터의 계좌에 자동으로 분배하는, 그래서 마치 자신들이 결제 대행 업무를 하는 듯한 시스템을 만들 수 있었다. 이러한 형태의 섬세한 결제 프로세스 컨트롤은 제작자의 환경을 십분 이해하는 인프라 설계자의 힘이 없이는 불가능해 보였다. 
</p>
<p>
  그렇게 리서치를 마친 후 대한민국의 웹으로 돌아왔다. 남은 것은 무한대에 가까운 좌절과 넘을 수 있을 것 같지도 않게 생긴 무서운 산봉우리였다. 액티브엑스를 쓰지 않으면서, 카드 정보를 저장해 두었다가 약속한 금액만큼을 프로젝트 성공 이후에 결제하고, 그 수익금과 플랫폼 수수료를 나누어 입금하는 시스템. 이러한 결제 시스템을 이 나라에서 만들 수 있을까? 2011년의 온라인 결제 사용자 경험은, 한국 바깥과 한국 안의 상황이 지금보다 훨씬 극명하게 차이나는 시점이었다. 한국 바깥에서는 아마존이 신용카드 정보를 저장해놓고 브라우저의 설정을 통해 원클릭으로 결제가 끝나는 시스템을 1999년에 특허 낸 후, 비슷한 형태의 결제 경험을 약 10년간 제공해왔다. 애플 앱 스토어, 우버, 그리고 페이팔 모두 이러한 형태의 결제 경험에 기반하여 생겨난 서비스로, 결제 정보를 안전한 곳에 저장한 후 좀 더 간단한 본인 인증을 통해 결제에 도달하게 되는 형태의 경험을 설계해왔다. 반면 한국은? 그런 거 없고 세상에서 가장 힘든 것이 인터넷에서 물건 사는 것이다. 당장 지금도 윈도우 PC를 부팅하면 이게 무엇인지도 모르는 액티브엑스 모듈과 그 모듈을 관리하는 별도 모듈이 설치되어 있는 것을 볼 수 있다. 생활에 필수적인 은행 및 전자상거래/정부 관련 업무는 이러한 액티브엑스 없이 불가능하므로 한국에서 액티브엑스를 설치할 수 없는 맥 운영체제만을 사용한다는 것은 거의 불가능에 가까웠다. 오죽하면 일부 맥 사용자는 자신의 컴퓨터가 ‘오염’ 되는 것이 두려워 인터넷 쇼핑과 은행 거래만을 주목적으로 하는 ‘좀비 PC’를 구매하는 경우가 있었을 정도일까. 
</p>
<p>
  <a href="/lists/list-of-activex-programs" data-permalink="list-of-activex-programs" class="list-link">Active X 프로그램의 목록</a><br/>
  <a href="/lists/list-of-activex-development-companies" data-permalink="list-of-activex-development-companies" class="list-link">Active X 업체와 이해관계자의 목록</a>
</p>
<p>
  새로운 형태의 온라인 결제 시스템을 만들어야 했지만 회사라기보단 두 명의 개인에 가까운 제작자들은 법의 도움도, 돈의 도움도 딱히 받을 수 없었다. 그저 할 수 있는 것은 인프라 사업자에게 액티브엑스 없는 결제 모듈의 가능성을 타진하고, 한편으로 정말 액티브엑스의 사용이 법으로 강제되어 있는지 등의 여부를 나름대로 찾아보는 것이 전부였다. 먼저 결제가 나중에 되는 모델을 운용하는 결제 대행사가 있는지를 파악해보기로 하고, 가장 유명한 결제 대행사인 이니시스에 들어가 보았다. 이니시스는 데이콤의 사내벤처로 시작한 가장 오래된 전자결제 대행사로, 비자카드 주도의 세계 표준인 3-D Secure를 외산 기술의 공격으로 규정하고—한국에서는 안심클릭이라는 액티브엑스 모듈로 구현되었다—안전결제 ISP를 비씨카드와 함께 개발하여 유지해온 회사다. 우리가 문의할 당시, 이니시스는 오픈웹이라는 형태의 브라우저를 가리지 않는 결제 서비스를 지원한다며 홍보 중이었다. 하지만 지원하는 카드사는 신한, 삼성 등 2–3개에 불과했고 그나마도 카드 정보의 저장은 카드사의 반대로 지원할 수 없다는 답변만을 들을 수 있었다.
</p>
<p>
  비슷한 규모 및 인지도의 전자결제대행사인 LG유플러스, KG모빌리언스, 올앳 등에도 비슷한 형태의 액티브엑스 기반 솔루션이 있었고 비슷한 답변을 하는 리스크 관리팀이 존재했다. 그리고 하나같이 똑같은 답변이었다. 신생 업체의 독특한 결제 형태를 곧이곧대로 지원해 주려고 하는 업체는 없었다. 게다가 이들이 완벽한 솔루션을 제공하더라도 액티브엑스 기반일 것이므로, 우리 또한 간단히 거절해버리고 말았을 터다. 우리가 액티브엑스 없는 결제에 집착했던 암묵적인 이유 중 하나는 우리처럼 맥을 사용할, 창작자 기반의 사용자들이 부지기수로 결제 단계에서 이탈하게 될 것이 분명했기 때문이다. 플랫폼 설계자 입장에서 이는 묵과하고 추진할 수 있는 종류의 일이 아니었다. 결제를 간편하게 하도록 유도하는 것은 딱히 플랫폼을 준비하던 당시의 우리들 뿐만이 아닌, 모든 웹 서비스 기반 회사의 숙명이다. 특히 모바일 등으로 확장하는, 급변하는 미디어 속성을 감안했을 때, 최종 사용자가 어색함이나 의문을 가지지 않고 자연스러운 흐름을 통해 자신의 목표를 달성하면서 동시에 매출이 발생하도록 하는 것은 웹 서비스 기반 회사들이 가장 집중해야 하는 바로 그 문제이다. 
</p>
<p>
  리서치를 거듭한 결과 액티브엑스를 사용하지 않은 두 가지 예외 사례를 찾아낼 수 있었다. 한 가지는 의외로 네이버 뮤직에서의 정기 과금 결제였다. 당연히 어딘가에서 팝업이 뜨거나 '이 넷스케이프 브라우저에서는 지원하지 않습니다’ 따위의 경고문구가 나와야 하는데, 너무나도 물 흐르듯 유유히 카드번호와 유효기간을 받아가고, 결제에 성공했으며, 게다가 나의 별다른 조치 없이 매달 과금이 들어가는 것이 아닌가? 너무나 놀랐던 나는 이 모든 일의 이면에 어떤 결제대행사가 일처리를 하는지를 알아내려고 했다. 흥미롭게도 당시 네이버뮤직은 엠넷의 음원 스트리밍 시스템을 그대로 이름만 바꾸어 임대받고 있었다. 엠넷의 결제시스템은 CJ 계열 회사의 전자결제를 담당하는 회사인 CJ네트웍스가 담당하고 있었다. 온 나라를 통틀어 유일하게 액티브엑스 없는 핵심 기술을 보유하고 있었던 회사였지만 이들은 변변한 결제대행 솔루션 페이지 하나 없는 채로 묵묵히 CJ 계열사의 전자결제를 대행하고 있었다. 결제대행사들이 액티브엑스 없는 결제솔루션에 관한 우리 문의에 티끌만큼의 반응도 안 보였음은 이제 와서 보면 당연한 것 같기도 하다. 추측이지만, CJ정도 되는 큰 회사들은 자본금 50억이 필요한 결제대행사를 만들어 카드사와 동등한 조건에서 협상할 수 있는 방편을 만들고, 그를 통해 액티브엑스 없는 결제를 만들어 냈을지도 모르겠다는 생각을 했다.
</p>
<p>
  그렇게 망연자실하고 있을 즈음 우리의 레이더에 들어온 것은 페이게이트라는 회사였다. 딱 봐도 이니시스보다는 좀 떨어지는 듯한 웹사이트 디자인에, 어떤 쇼핑몰에서도 사용해본 적이 없는 것 같은 낯선 결제 UI를 제품 화면이라고 제공하는 이 웹사이트를 처음에는 정말로 믿어야 하는지 모르겠다는 생각이었다. 하지만 실제로 사용해본 결과 신한카드나 국민 체크카드 등 몇몇 카드는 실제로 액티브엑스 없이 유효기간 만으로 결제가 가능했다! 우리에게 못생긴 UI는 크게 문제가 되지 않았다. (나중에 UI를 바꿀 수 있다고 생각했지만 잘 되지는 않았다.) 게다가 이 못생긴 결제 UI를 보았다는 사람이 알려준 출처는 우리에게 약간 다른 형태의 깨달음을 주었다. 그곳이 애플 스토어 한국 웹사이트였기 때문이다. 
</p>
<p>
  <img src="https://d2mxuefqeaa7sj.cloudfront.net/s_924D5088F8EC0719F0BC961983A7A6BC59DBE2A5FD18C31EC054D97D55568B89_1470262745024_c0055866_4bb0afd15f4fd.png" />

  <img src="https://d2mxuefqeaa7sj.cloudfront.net/s_924D5088F8EC0719F0BC961983A7A6BC59DBE2A5FD18C31EC054D97D55568B89_1470262937835_c0055866_4bb0b01695ead.png" />

  <img src="https://d2mxuefqeaa7sj.cloudfront.net/s_924D5088F8EC0719F0BC961983A7A6BC59DBE2A5FD18C31EC054D97D55568B89_1470262941974_c0055866_4bb0b034162a8.png" />

  <img src="https://d2mxuefqeaa7sj.cloudfront.net/s_924D5088F8EC0719F0BC961983A7A6BC59DBE2A5FD18C31EC054D97D55568B89_1470262951903_c0055866_4bb0b08f1cf2e.png" />
</p>
<p>
  애플 코리아 유한회사에 이보다 더 감정 이입을 한 적이 없었다. 이들은 아마도 액티브엑스가 없는 결제 환경, 바로 그것만을 간절히 바라고 페이게이트의 결제 솔루션을 도입한 것이 분명했다. 게다가 윈도우 기반 결제 모듈을 사용할 수 없는 맥 운영체제의 애플이니 그 간절함은 우리의 몇 배일 것이라고 생각할 수 있었다. 그 당시 애플의 UI 룩을 대표하는 입체감 넘치는 버튼 인터페이스와의 괴리감 따위는 아득히 저 먼곳에 밀어놓은 채, “우리 사이트는 액티브엑스 없이 결제가 가능하다”라고 소리 소문 없이 홍보하고 있었고 실제로 애플 스토어의 결제는 매우 간편하다는 소문이 퍼지기 시작하였다. 페이게이트의 결제 솔루션은 UI와는 다르게 국제적인 보안 표준 인증인 PCI DSS를 받았다고 광고하고 있었다. 갓 스타트업을 시작한 우리와는 비교도 안 되게 역사도 오래된 (1998년 설립) 유서 깊은 회사였다.
</p>
<p>
  이쯤 되니 도대체 무슨 생각으로 이런 “액티브엑스 없음”에 전사적으로 몰두했는지 개인적으로 궁금해지지 않을 수 없었다. 본사인 방이동에 지하철을 타고 찾아가 앞으로의 사업 방향에 대해 고견을 듣고 싶었지만 다행히도 이곳저곳에 인터뷰가 있었다. 온라인 쇼핑몰이 그간 액티브엑스가 초래한 불편함과 그 사회적 비용을 각각의 쇼핑몰이 지우고 있는 사실을 언급하며 액티브엑스의 본질 중 하나인 가맹점과 소비자에게 보안 사고 책임 떠넘기기를 정확히 언급하고, 거래가 부도나지 않도록 하는 본질에 집중해서 오랜 기간 동안 연구했다는 인터뷰에서 진심이 느껴졌다. 감동을 느낀 것은 우리뿐만이 아니었는지 온라인 서점 알라딘에서도 비 액티브엑스 결제 서비스를 시작하게 된다. 알라딘은 액티브엑스 없는 부드러운 결제 환경을 지속적으로 추구한 인터넷 업체 중 하나로, 그에 걸맞게 자연스레 페이게이트의 결제 모듈을 붙이게 된다. 다만 신용카드 번호와 유효기간만을 받는 기존의 방식만으로는 안전을 완전히 보장받지 못했고, 따라서 페이게이트는 외국 사이트를 이용하면 가끔 마주하게 되는 약간의 돈을 테스트 결제 후 그 금액을 맞추어 본인 인증하는 금액인증을 한국 최초로 도입했다. 박소영 페이게이트 대표는 금액인증(AA)을 이렇게 소개했다. 
</p>

<div class="quote-area">
<h4>금액인증이 작동하는 방식</h4>
<p>
  식당에서 음식을 먹고 신용카드로 계산하려는데 식당 주인은 손님이 카드 주인이 맞는지 미심쩍다. 그래서 식당 주인은 먼저 천원을 결제하고선 손님에게 ‘카드 주인이 맞다면 내가 얼마 결제했는지 지금 알 수 있지 않느냐’고 묻는다. 손님이 ‘천원’이라고 대답했지만, 어쩌다 맞춘 걸지 모를 일이다. 식당 주인은 이번에 2천원을 계산하고 손님에게 다시 묻는다. 손님이 이번에도 정확히 대답하면 식당 주인은 카드 주인이 맞다고 여길 것이다. 그러고나면 앞서 계산한 2건을 취소하고 다시 음식값을 제대로 계산한다.
</p>
</div>

<p>
이것을 구현하는 데에 액티브엑스라는 모듈이 필요할 리가 없다. 당연히 그런 것 필요 없이 개발이 완료되었을 것이고 본인 인증 수단으로 결격사유가 없었을 것이고, 당연하게도 2012년 금융감독원의 승인을 받았다. 알라딘에서 정식으로 서비스가 시작되고 많은 사람들의 찬사를 받았다. 이찬진 드림위즈 대표는 한국의 대표적인 얼리어답터 및 애플 유저로 이곳저곳 서비스를 써보고, 코멘트하는 것으로 유명했는데, 알라딘 서비스를 써보고 감동에 벅차올라 트위터에 글을 남겼다. 정태영 현대카드 사장에게 “왜 현대카드는 안 되냐?”고 따지면서 말이다.
</p>
<p>
  <img src="https://d2mxuefqeaa7sj.cloudfront.net/s_924D5088F8EC0719F0BC961983A7A6BC59DBE2A5FD18C31EC054D97D55568B89_1470265403214_Screenshot+2016-08-03+19.03.09.png" />
</p>
<p>
정태영 사장은 정부에서 승인한 방법이 아니라는 말로 되받아쳤고 이후 알라딘의 방식이 적법하냐 그리고 안전하냐는 문제는 트위터를 시끌벅적하게 했다. 현대카드는 공식 입장을 내놓아야 했고 이상한 낌새를 느낀 기존 카드사들은 알라딘과 계약을 해지하는 길을 택했다. 굳이 주류가 아닌 방법을 승인하여 긁어 부스럼 만들지 말자는 생각이었을 것이다. 그리하여 시행 두 달만에 여신협회에 속해있는 8개 카드사가 모두 알라딘과 계약을 해지했고 알라딘은 결국 울며 겨자먹기로 액티브엑스 방식의 결제 솔루션을 다시 도입해야 했다. 당시 알라딘 마케팅 팀장이었던 김성동 씨는 이 일 직후 월간 웹과 인터뷰를 가졌는데, 인터뷰를 글로 기록한 것을 읽었을 뿐인데 글에 분노가 사려있음을 알 수 있다. 그야말로 이 기사에서 언급한 것처럼, 메시지만 던진 채 장렬히 산화한 것이다. 이 인터뷰에서는 한국 인터넷의 전자결제시장과 액티브엑스가, 그리고 그를 둘러싼 한국 사회가 가지고 있는 문제가 잘 드러난다. 쇼핑몰이 가져야 하는 억울한 문의 응대 비용의 증가, 보안 사고의 모든 책임 전가, 조금만 컴퓨터를 못하면 시도조차 못 하는 복잡한 전자결제 인터페이스, 하나만 보고 둘은 못 보는 단순한 시각, 인터넷 익스플로러 위주의 단편적인 컴퓨팅 환경, 카드사와의 커뮤니케이션 불능, 여기는 되고 저기는 안 된다는 이중잣대, 위에서 하라니까 하는 문화와 타 부서로 떠넘기기 문화로 대표되는 대기업 문화, 매우 단편적이고 얇은 층위의 ‘보안’이라는 개념, 혁신을 눈치 보고 하는 웃지 못할 풍경, 근거 없는 일방적인 계약해지, 언제나 배후를 의심하는 세력과 그러한 프레임을 벗어나려는 코멘트…
</p>
<p>
그게 벌써 삼 년 전이고, 나는 꿈 많던 플랫폼 제작에서 손을 떼고 2015년 미국에 왔다. 여기 와서도 이것저것 만들어보려고 시도하다 사고를 많이 냈다. 한 번은 아마존 웹 서비스의 API 키를 잘못 관리해서 해커들의 비트코인 채굴기에 컴퓨터를 사용하도록 설정이 되어 내 카드로 백만 원 가까운 돈이 나갔는데, 항의했더니 아마존에서 말끔하게 취소해주었다. 또 한 번은 친구가 카드를 도둑맞아 800불이 청구되었는데 다음날 자신이 쓴 것이 아니라고 하니 말끔히 취소해 주었다고 한다. 핀테크 스타트업이라는 것은 그런 안전망 위에서 실험해볼 수 있는 것이 아닐까 잠시 생각해본다. 잠시 2016년의 인터넷 풍경을 지켜보면 페이게이트가 이루려던 꿈의 간편결제 솔루션이 조금씩 현실이 되어가는 것으로 보이기도 한다. 그 예로 네이버는 자신의 쇼핑 서비스에 간편결제 시스템을 장착해 얼마 전 20%가 넘는 점유율을 달성하기도 했다. 토스와 같은 핀테크 스타트업<a href="#fn-2" id="rfn-2" class="sub">[2]</a>은 간편송금이라는 무모한 도전을 하고 있는데, 가맹 은행을 늘려가는 것을 보니 다년간 싸워온 입장으로서는 그저 신기하기만 하다. 
</p>
<p>
어쨌든 법적으로 공인인증서 사용 강제의 기반이 되었던 전자금융거래법의 개정안은 2014년 10월에 통과되었고, 그에 따라 이듬해인 2015년에 전자금융감독규정이 대폭 개정되었다. 하지만 “한국 인터넷 이용 환경 좀 나아지셨습니까?”<a href="#fn-3" id="rfn-3" class="sub">[3]</a> 라는 질문에, 천송이 코트를 팔겠다면서 액티브엑스가 exe로 옷을 갈아입는 행태를 보며 쉽사리 그렇다고 말하긴 힘들다. 이렇듯 한국 인터넷에서 액티브엑스가 출현하고 그 모양새를 바꾸어 제작자와의 갈등을 야기하는 양상은, 박동오의 글(2014)에서 조금 더 구조적으로 엿볼 수 있다. 그는 공인인증체계가 발전한 과정을 사회기술시스템으로 바라본다. 공인인증서라는 기술 자체를 문제로 볼 것이 아니라, 그렇게 될 수밖에 없었던 환경을 생각하는 것에서 시작해야 함과 동시에, 공인인증서와 액티브엑스가 점유하고 있는 커다란 인프라스트럭처가 우리에게 거꾸로 너무 익숙해져 버려서, 새로운 기술의 작동방식 변화를 거부하는 순간인 ‘역전 현상’을 보게 된다고 설명한다. 
</p>
<p>
“…현 공인인증서와 유사한 수준의 인터페이스와 사용성을 갖춘 기술이 웹표준으로 설정되어 브라우저에 탑재되길 기대하기는 어렵다. 공인인증체계를 포기하고 은행이나 공공기관마다 독자적 인증체계를 갖추도록 한다면, ‘하나의 인증서를 가지면 거의 모든 전자상거래 및 전자정부 서비스를 이용’하는 것과 같이 높은 사용성을 기대하기는 어렵다. 우리는 이 인프라스트럭쳐에 어느 정도 길들여졌고 거꾸로 이는 우리의 선택권을 제한한다.”
</p>
<p>
이렇듯 시스템을 구성하는 여러 요소 중 가장 강한 구속력을 가지는 법은 해결이 되었지만, 우리가 지난 20여 년간 액티브 엑스를 둘러싸고 공고히 건설해온 사회 시스템과 문화—은행의 보안 솔루션 교체 비용, 그에 따르는 문의 응대의 증가, 다달이 나가야 하는 보안 업체 직원의 월급과 대표의 상심, 우리 어머니가 아들을 불러 겨우 세팅해놓은 인터넷 뱅킹 환경의 재구축에 드는 학습의 비용, 그리고 그렇게 바뀐 인터넷 뱅킹 환경을 그저 달라졌으므로 다시 배워야 하는 어머니의 짜증, 공인인증서 수수료를 받지 않게 되어 새로운 수익을 고민해야 하는 공인인증기관들, 한국형 포켓몬 고를 만들자고 소리치는 높으신 분들—은 그대로 남아 있다. 2007년의 아이폰과 같은 혁명적 수단으로 다 엎어버리고 처음부터 시작하는 것이 맞을까, 아니면 아이핀 그래픽 인증 같은 걸 좀 참고 기다리면 납득할만한 솔루션이 제시되어 있을까. 
</p>
<p>
모두가 꿈과 희망을 가지고 살아가지만, 나에게 인터넷은 그 꿈과 희망을 이룰 수 있는 다소간에 현실적인 길을 제시하는 공간으로 한때 인식되었다. 그런 생각을 가지고 무모하게 도전을 벌이는 개인들과 제작자들에게 액티브엑스는 정말로 현실이 무엇인지 알려주기에 충분했다. 그리고 정부가 꿈꾸는 세상과 희망과 큰 회사가 꾸는 희망, 또 작은 회사들이 꾸는 꿈과 희망이 모두 다르다는 사실도. 그리고 이 나라에서는 다른 도전과 다른 대안을 찾으려고 발버둥 쳐도, 액티브엑스라는 놈이 어디에선가 exe로 변장하거나 그 형체를 완전히 감춘 채 전혀 다른 방식으로 우리의 꿈과 희망을 도려낼 수 있다는 사실도.
</p>

<hr />

<h4>
각주
</h4>
<p>
<a id="fn-1" href="#rfn-1">[1]</a> 인터넷 서비스를 만들기 위한 기반 기술을 제공하는(IaaS: Infrastructure as a Service) 아마존 웹 서비스(aws.amazon.com)의 결제대행 솔루션이다. 기존 결제대행 솔루션과 비교해서 특이한 점은 아마존에 아이디와 결제 정보를 저장해 놓으면 이후 만들어 놓은 자신의 서비스에서 아마존 아이디로 로그인한 후 그 정보를 통해 결제를 진행시키는 방식이라는 것이다. 아마존을 한번이라도 이용하면 결제 정보가 아마존에 저장되므로 이후 결제정보를 여러번 입력하지 않아도 된다는 점, 그리고 아마존이라는 큰 쇼핑몰 회사를 통해 결제를 진행하는 것이므로 안전할 것이라는 기대감이 만나 많은 쇼핑몰에서 이 솔루션을 붙여 사업을 전개하였다.FPS는 현재 Amazon Payment라는 다음 버전의 서비스로 진화하였고, 킥스타터는 2016년 현재 비슷한 형태의 시스템을 영국의 결제대행사인 Stripe를 통해 새로 만든 것으로 확인되고 있다.<br/><br/>
<a id="fn-2" href="#rfn-2">[2]</a> 토스(Toss)는 전자 송금을 쉽게 하는 것을 목표로 하는 어플리케이션을 만드는 스타트업으로, 어플리케이션에서 간단한 절차를 통해 다른 사람에게 돈을 쉽게 보낼 수 있도록 하는 기능을 제공한다. <a href="http://toss.im" target="_blank">http://toss.im</a><br/><br/>
<a id="fn-3" href="#rfn-3">[3]</a> 전자금융거래법 개정안이 통과한 후 열린 오픈넷 포럼의 이름인 “한국 인터넷 환경 좀 나아지셨습니까?” 에서 따왔다. <a href="http://opennet.or.kr/9973" target="_blank">http://opennet.or.kr/9973</a>
</p>

<h4>
참고문헌
</h4>

<ol>
  <li>정보라,「박소영 페이게이트 대표, “결제 장벽 없어질 때까지”」, 『블로터』, 2013. 8. 11.  <a href="http://www.bloter.net/archives/161024
" target="_blank">http://www.bloter.net/archives/161024</a></li>
  <li>「알라딘의 액티브X 없는 결제시스템 도입기」, 『월간 웹』, 2013. <a href="http://www.ditoday.com/articles/articles_view.html?idno=16578" target="_blank">http://www.ditoday.com/articles/articles_view.html?idno=16578</a></li>
  <li>박동오,「공인인증서: 문제는 기술이 아니라 시스템이다」, 『대학원신문』, 2014. <a href="http://gspress.cauon.net/news/articleView.html?idxno=20764" target="_blank">http://gspress.cauon.net/news/articleView.html?idxno=20764</a></li>
</ol>