<p>
   〈한국 인터넷 관광 안내서〉에 수록된 목록은 2016년 현재 진행 중인 작업으로, 프로젝트를 위해 개설된 메일링 리스트를 통해 추가적인 목록의 작성을 도모하고 있습니다. 현재 저희 셋과 주변에 도움 주시는 분들이 추가적으로 목록을 수집하고 싶어하는 주제는 다음과 같습니다: 
</p>

<p>
  한국 관공서 웹사이트의 사이트맵<br/>
  액티브엑스 이해관계자와 회사의 관계도<br/>
  한국 관공서 웹사이트 탐방<br/>
  한겨레 디비딕과 네이버 지식인<br/>
  네이버 디자인 가이드라인 개선과 포털 점유율 역전<br/>
  ...
</p>

<p>
  관심이 있으신 분들께서는, <a href="mailto:k-internet@googlegroups.com">k-internet@googlegroups.com</a><br/>으로 메일을 주시기 바랍니다. 
</p>