<table>
<thead><tr>
  <th style="width:100px">이름</th>
  <th style="width:150px">웹사이트</th>
  <th>설명</th>
</tr></thead><tbody>
<tr>
  <td>아사달</td>
  <td>asadal.com</td>
  <td>php4 버전 운용중, <a href="http://hosting.asadal.com/hosting/system.htm" target="_blank" class="url_wordwrap">http://hosting.asadal.com/hosting/system.htm</a></td>
</tr>
<tr>
  <td>가비아</td>
  <td>gabia.com</td>
  <td>MySQL 4 + euc-kr 인코딩 지원, <a href="https://webhosting.gabia.com/service" target="_blank" class="url_wordwrap">https://webhosting.gabia.com/service</a></td>
</tr>
<tr>
  <td>카페24</td>
  <td>cafe24.com</td>
  <td>php4, mysql 4 + euc-kr 인코딩 지원, <a href="http://www.cafe24.com/?controller=product_page&type=basic&page=autoban" target="_blank" class="url_wordwrap">http://www.cafe24.com/?controller=product_page&amp;type=basic&amp;page=autoban</a></td>
</tr>
<tr>
  <td>닷홈</td>
  <td>dothome.co.kr</td>
  <td>제로보드를 위한 특별 호스팅 옵션 지원, <a href="http://www.dothome.co.kr/web/bbs/index.php" target="_blank" class="url_wordwrap">http://www.dothome.co.kr/web/bbs/index.php</a></td>
</tr>
<tr>
  <td>인터넷나야나</td>
  <td>nayana.com</td>
  <td>구 버전 프로그램용 전용서버 지원, <a href="http://www.nayana.com/hosting/h_linux_spec.html" target="_blank" class="url_wordwrap">http://www.nayana.com/hosting/h_linux_spec.html</a></td>
</tr>
<tr>
  <td>블루웹</td>
  <td>blueweb.co.kr</td>
  <td>XE를 위한 전용 플랜 <a href="http://www.blueweb.co.kr/hostings/webhosting/w_zeroxe_info.html" target="_blank" class="url_wordwrap">http://www.blueweb.co.kr/hostings/webhosting/w_zeroxe_info.html</a></td>
</tr>
</tbody></table>

<img src="https://www.dropbox.com/s/drshnvprumm0a5f/Screenshot%202016-08-12%2019.04.27.png?dl=1" alt="" />
<img src="https://www.dropbox.com/s/k75snlje6vpuaoj/Screenshot%202016-08-12%2019.03.57.png?dl=1" alt="" />
<img src="https://www.dropbox.com/s/tv40exs2hqdfyju/Screenshot%202016-08-12%2019.05.22.png?dl=1" alt="" />
<img src="https://www.dropbox.com/s/rrhhnaoczxgb64w/Screenshot%202016-08-12%2019.05.08.png?dl=1" alt="" />
<img src="https://www.dropbox.com/s/obxyp7gdn37wgeg/Screenshot%202016-08-12%2019.04.57.png?dl=1" alt="" />
<img src="https://www.dropbox.com/s/b8z0ouswn3zgzr0/Screenshot%202016-08-12%2019.04.41.png?dl=1" alt="" />