<table>
<thead>
<tr>
<th class="activex-companies__company-names">
업체 이름</th>
<th class="activex-companies__website">
웹사이트</th>
<th class="activex-companies__desc">
설명</th>
</tr></thead><tbody>
<tr>
  <td>한국무선인터넷산업연합회</td>
  <td class="activex-companies__website"><a href="http://www.moiba.or.kr/" target="_blank">http://www.moiba.or.kr/</a></td>
  <td></td>
</tr>
<tr>
  <td>한국정보인증(주)</td>
  <td class="activex-companies__website"><a href="https://www.signgate.com/main.sg" target="_blank">https://www.signgate.com/main.sg</a></td>
  <td>공인인증서 발급업체</td>
</tr>
<tr>
  <td>안랩</td>
  <td class="activex-companies__website"><a href="http://ahnlab.com" target="_blank">http://ahnlab.com</a></td>
  <td>안랩 키보드보안 등 보안프로그램을 만드는 업체</td>
</tr>
<tr>
  <td>이니텍(주)</td>
  <td class="activex-companies__website"><a href="http://initech.com/" target="_blank">http://initech.com/</a></td>
  <td>보안메일 암호/복호화 프로그램을 만드는 업체</td>
</tr>
<tr>
  <td>(주) 한컴시큐어 소프트포럼</td>
  <td class="activex-companies__website"><a href="http://www.softforum.co.kr/" target="_blank">http://www.softforum.co.kr/</a></td>
  <td>Xecure-로 시작되는 공인인증 암호화 관련 프로그램을 만드는 업체</td>
</tr>
<tr>
  <td>(주) 네이팅텔</td>
  <td class="activex-companies__website"><a href="http://natingtel.com" target="_blank">http://natingtel.com</a></td>
  <td>없어짐</td>
</tr>
<tr>
  <td>BTWorks, Inc.</td>
  <td class="activex-companies__website"><a href="" target="_blank"></a></td>
  <td>공인인증서 옮기는 프로그램을 만든 업체</td>
</tr>
<tr>
  <td>인포바인(주)</td>
  <td class="activex-companies__website"><a href="http://www.infovine.co.kr/" target="_blank">http://www.infovine.co.kr/</a></td>
  <td>공인인증서를 휴대폰에 저장하는 프로그램을 만든 업체</td>
</tr>
<tr>
  <td>소프트이십오(주)</td>
  <td class="activex-companies__website"><a href="http://www.soft25.co.kr/" target="_blank">http://www.soft25.co.kr/</a></td>
  <td>메일 암호화 프로그램 및 PKI키 기반 암호화 프로그램을 만드는 업체</td>
</tr>
<tr>
  <td>클립소프트</td>
  <td class="activex-companies__website"><a href="http://www.clipsoft.co.kr/" target="_blank">http://www.clipsoft.co.kr/</a></td>
  <td>클립소프트의 웹 리포팅 툴인 '렉스퍼트 3.0'으로 제작된 문서를 볼 수 있도록 해주는 뷰어(viewer) 프로그램을 만드는 업체 </td>
</tr>
<tr>
  <td>드림시큐리티</td>
  <td class="activex-companies__website"><a href="http://www.dreamsecurity.com/" target="_blank">http://www.dreamsecurity.com/</a></td>
  <td>인증보안 전문기업으로 magiclinembx라는 유선보안 솔루션을 만드는 업체</td>
</tr>
<tr>
  <td>소프트시큐리티</td>
  <td class="activex-companies__website"><a href="http://faq.touchen.co.kr/" target="_blank">http://faq.touchen.co.kr/</a></td>
  <td>기업을 대상으로 한 보안 솔루션을 제공하고 있으며, 국내에서 통합계정관리(Single Sign On, SSO)와 PC보안 시장의 60%에 육박하는 점유율을 갖고 있다.</td>
</tr>
<tr>
  <td>솔비텍</td>
  <td class="activex-companies__website"><a href="http://www.solbitech.com/main" target="_blank">http://www.solbitech.com/main</a></td>
  <td>리포팅 툴인 Aiviewer 5.0을 만드는 업체</td>
</tr>
<tr>
  <td>마크애니 (주)</td>
  <td class="activex-companies__website"><a href="http://www.markany.com/" target="_blank">http://www.markany.com/</a></td>
  <td>PC화면 캡쳐방지 프로그램을 만드는 업체</td>
</tr>
<tr>
  <td>투비소프트</td>
  <td class="activex-companies__website"><a href="http://www.tobesoft.co.kr/" target="_blank">http://www.tobesoft.co.kr/</a></td>
  <td>기업을 위한 X-internet 기반 플랫폼인 마이플랫폼을 만드는 업체</td>
</tr>
<tr>
  <td>(주)유니소프트</td>
  <td class="activex-companies__website"><a href="http://wisegrid.kr/" target="_blank">http://wisegrid.kr/</a></td>
  <td>스프레드시트를 웹에서 구현하는 액티브엑스인 와이즈그리드를 만드는 업체</td>
</tr>
<tr>
  <td>에스지에이시스템즈</td>
  <td class="activex-companies__website"><a href="http://www.sgasol.kr/?ckattempt=1" target="_blank">http://www.sgasol.kr/?ckattempt=1</a></td>
  <td>인터넷제증명 발급 프로그램인 BCQRE를 만드는 회사로, 비씨큐어를 2009년에 인수, 프린터를 아주 잘 가린다</td>
</tr>
<tr>
  <td>한국전자인증</td>
  <td class="activex-companies__website"><a href="http://www.crosscert.com/" target="_blank">http://www.crosscert.com/</a></td>
  <td>공인인증 업체</td>
</tr>
<tr>
  <td>엔프로텍트</td>
  <td class="activex-companies__website"><a href="http://www.nprotect.com/" target="_blank">http://www.nprotect.com/</a></td>
  <td>엔프로텍트를 만드는 업체</td>
</tr>
<tr>
  <td>위즈베라</td>
  <td class="activex-companies__website"><a href="http://www.wizvera.com/" target="_blank">http://www.wizvera.com/</a></td>
  <td>액티브엑스 프로그램을 관리하는 프로그램인 베라포트를 만드는 업체</td>
</tr>
<tr>
  <td>펜타시큐리티</td>
  <td class="activex-companies__website"><a href="https://www.pentasecurity.com/?lang=ko" target="_blank">https://www.pentasecurity.com/?lang=ko</a></td>
  <td>엘지 유플러스의 이삭 웹 CMS라는 엑티브엑스를 만드는 업체</td>
</tr>
<tr>
  <td>이니라인</td>
  <td class="activex-companies__website"><a href="http://www.iniline.co.kr/" target="_blank">http://www.iniline.co.kr/</a></td>
  <td>crosswarp라는 엑티브엑스 프로그램을 만드는 업체</td>
</tr>
<tr>
  <td>이노릭스</td>
  <td class="activex-companies__website"><a href="http://www.innorix.com/en" target="_blank">http://www.innorix.com/en</a></td>
  <td>파일 전송 프로그램을 만드는 업체</td>
</tr>
<tr>
  <td>이파피루스</td>
  <td class="activex-companies__website"><a href="https://epapyrus.com/" target="_blank">https://epapyrus.com/</a></td>
  <td>페이퍼리스 솔루션기업으로, 홈택스의 PDF 뷰어를 만드는 업체</td>
</tr>
<tr>
  <td>코마스</td>
  <td class="activex-companies__website"><a href="http://www.comas.co.kr/html/index.html" target="_blank">http://www.comas.co.kr/html/index.html</a></td>
  <td>PDF의 시점 인증 프로그램을 만드는 업체</td>
</tr>
<tr>
  <td>크리니티</td>
  <td class="activex-companies__website"><a href="http://www.3rsoft.com/" target="_blank">http://www.3rsoft.com/</a></td>
  <td>크리니티 보안 기반의 메세징 소프트웨어를 만드는 업체</td>
</tr>
<tr>
  <td>금융결제원</td>
  <td class="activex-companies__website"><a href="http://www.kftc.or.kr/kftc/main/EgovkftcHubMain.do" target="_blank">http://www.kftc.or.kr/kftc/main/EgovkftcHubMain.do</a></td>
  <td>전자지갑 서비스인 BankPayEFT 프로그램을 만드는 업체, 공인인증업체이기도 하다.</td>
</tr>
<tr>
  <td>소프트캠프</td>
  <td class="activex-companies__website"><a href="http://webserver.softcamp.co.kr/main/" target="_blank">http://webserver.softcamp.co.kr/main/</a></td>
  <td>키보드보안 프로그램인 Secure Keystroke를 만드는 업체</td>
</tr>
<tr>
  <td>유니사인</td>
  <td class="activex-companies__website"><a href="http://www.unisign.co.kr/" target="_blank">http://www.unisign.co.kr/</a></td>
  <td>인증기관 최초의 모바일 인증서비스인 유니사인을 만드는 업체</td>
</tr>
<tr>
  <td>라온시큐어</td>
  <td class="activex-companies__website"><a href="https://www.raonsecure.com/" target="_blank">https://www.raonsecure.com/</a></td>
  <td>더블마우스 키보드보안 프로그램을 만드는 업체</td>
</tr>
<tr>
  <td>인터리젠</td>
  <td class="activex-companies__website"><a href="http://www.interezen.co.kr/interezen/" target="_blank">http://www.interezen.co.kr/interezen/</a></td>
  <td>보안로그수집 프로그램을 만드는 업체</td>
</tr>
<tr>
  <td>(주)엠투소프트</td>
  <td class="activex-companies__website"><a href="http://www.m2soft.co.kr/support/qna.asp" target="_blank">http://www.m2soft.co.kr/support/qna.asp</a></td>
  <td>리포트 뷰어와 디자이너를 만드는 업체</td>
</tr>
<tr>
  <td>KG이니시스</td>
  <td class="activex-companies__website"><a href="https://www.inicis.com/" target="_blank">https://www.inicis.com/</a></td>
  <td>국내 최대 규모의 전자결제 대행사로, 1998년에 설립</td>
</tr>
<tr>
  <td>올앳</td>
  <td class="activex-companies__website"><a href="https://www.allatpay.com" target="_blank">https://www.allatpay.com</a></td>
  <td>삼성그룹 계열의 전자결제 대행사</td>
</tr>
<tr>
  <td>CJ네트웍스</td>
  <td class="activex-companies__website"><a href="http://www.cjolivenetworks.co.kr/itdivision/" target="_blank">http://www.cjolivenetworks.co.kr/itdivision/</a></td>
  <td>CJ그룹 계열의 전자결제 대행사</td>
</tr>
<tr>
  <td>LG유플러스</td>
  <td class="activex-companies__website"><a href="http://ecredit.uplus.co.kr/" target="_blank">http://ecredit.uplus.co.kr/</a></td>
  <td>LG유플러스의 전자결제사업을 맡아 운영하는 회사</td>
</tr>
<tr>
  <td>KCP</td>
  <td class="activex-companies__website"><a href="http://www.kcp.co.kr/main.do" target="_blank">http://www.kcp.co.kr/main.do</a></td>
  <td>신용카드사 출자로 1998년에 설립 후 NHN에 2014년 인수된 전자결제 대행사</td>
</tr>
<tr>
  <td>올더게이트</td>
  <td class="activex-companies__website"><a href="http://www.allthegate.com/ags/index.jsp" target="_blank">http://www.allthegate.com/ags/index.jsp</a></td>
  <td>오프라인 카드 Van업무 전문회사인 NICE정보통신의 온라인 결제 대행사</td>
</tr>
<tr>
  <td>위즈페이</td>
  <td class="activex-companies__website"><a href="http://www.wizzpay.co.kr/" target="_blank">http://www.wizzpay.co.kr/</a></td>
  <td>2014년에 생긴 신생 업체로, 유니윌이라는 IT솔루션 기업의 결제대행 사업부문</td>
</tr>
<tr>
  <td>KSNET</td>
  <td class="activex-companies__website"><a href="https://www.ksnet.co.kr" target="_blank">https://www.ksnet.co.kr</a></td>
  <td>오프라인 카드 Van 업무를 통해 성장한 전자결제 대행사</td>
</tr>
</tbody></table>

<div class="l-apple-box-double"></div>
<div class="l-apple-box-double"></div>
<div class="l-apple-box-double"></div>

<img src="https://www.dropbox.com/s/2dl4b02old67ftu/Screenshot%202016-08-12%2019.07.56.png?dl=1" />
<img src="https://www.dropbox.com/s/7pwwbzisr3iwt1u/Screenshot%202016-08-12%2019.06.42.png?dl=1" />
<img src="https://www.dropbox.com/s/9ftpp69kl32asa5/Screenshot%202016-08-12%2019.14.17.png?dl=1" />
<img src="https://www.dropbox.com/s/txg1fd240gmwtut/Screenshot%202016-08-12%2019.14.06.png?dl=1" />
<img src="https://www.dropbox.com/s/cy0g19kbg6qzoks/Screenshot%202016-08-12%2019.13.54.png?dl=1" />
<img src="https://www.dropbox.com/s/41s62cuwnpq79wn/Screenshot%202016-08-12%2019.13.37.png?dl=1" />
<img src="https://www.dropbox.com/s/p6p51z465m4e7hb/Screenshot%202016-08-12%2019.13.01.png?dl=1" />
<img src="https://www.dropbox.com/s/0f242lk9oht64we/Screenshot%202016-08-12%2019.12.45.png?dl=1" />
<img src="https://www.dropbox.com/s/1m7iwzfu57mlsmk/Screenshot%202016-08-12%2019.12.36.png?dl=1" />
<img src="https://www.dropbox.com/s/tq0sphv7h4kwcyl/Screenshot%202016-08-12%2019.12.22.png?dl=1" />
<img src="https://www.dropbox.com/s/ahc3igirly7h0j3/Screenshot%202016-08-12%2019.12.14.png?dl=1" />
<img src="https://www.dropbox.com/s/oxnl6y19wvg3x5h/Screenshot%202016-08-12%2019.12.01.png?dl=1" />
<img src="https://www.dropbox.com/s/20wi140dcv2qafy/Screenshot%202016-08-12%2019.11.51.png?dl=1" />
<img src="https://www.dropbox.com/s/vqqlgrxa6fymbwc/Screenshot%202016-08-12%2019.11.37.png?dl=1" />
<img src="https://www.dropbox.com/s/cct5a2m0z2pcxqo/Screenshot%202016-08-12%2019.11.22.png?dl=1" />
<img src="https://www.dropbox.com/s/mo6pa6segwfkzkc/Screenshot%202016-08-12%2019.11.05.png?dl=1" />
<img src="https://www.dropbox.com/s/yqhsg64fuuhuxhu/Screenshot%202016-08-12%2019.10.49.png?dl=1" />
<img src="https://www.dropbox.com/s/03sq8p9x8ud29tm/Screenshot%202016-08-12%2019.10.36.png?dl=1" />
<img src="https://www.dropbox.com/s/l7ophroimgmrrmd/Screenshot%202016-08-12%2019.10.21.png?dl=1" />
<img src="https://www.dropbox.com/s/nmmxn2pxrh1ixtx/Screenshot%202016-08-12%2019.10.09.png?dl=1" />
<img src="https://www.dropbox.com/s/qzm6sb4i7s0yoqd/Screenshot%202016-08-12%2019.09.59.png?dl=1" />
<img src="https://www.dropbox.com/s/tb5hw95cz6f8ehw/Screenshot%202016-08-12%2019.09.50.png?dl=1" />
<img src="https://www.dropbox.com/s/luv95bc5p4486sk/Screenshot%202016-08-12%2019.09.39.png?dl=1" />
<img src="https://www.dropbox.com/s/e4h2eb90p7duvwr/Screenshot%202016-08-12%2019.09.29.png?dl=1" />
<img src="https://www.dropbox.com/s/y1lemdgnqqrfxpn/Screenshot%202016-08-12%2019.09.14.png?dl=1" />
<img src="https://www.dropbox.com/s/zn8kcvikg06i3tk/Screenshot%202016-08-12%2019.08.31.png?dl=1" />
<img src="https://www.dropbox.com/s/7vkj0mm75uf0afk/Screenshot%202016-08-12%2019.08.19.png?dl=1" />
<img src="https://www.dropbox.com/s/v7ze3p71j2qt41m/Screenshot%202016-08-12%2019.08.09.png?dl=1" />
<img src="https://d2mxuefqeaa7sj.cloudfront.net/s_42110B01FEB0E0C2F517CC3F60D9D248F6EBE4FD931E3DEC76C0C7E9CCF66D57_1471564293382_Screenshot+2016-08-18+19.50.36.png" />
<img src="https://d2mxuefqeaa7sj.cloudfront.net/s_42110B01FEB0E0C2F517CC3F60D9D248F6EBE4FD931E3DEC76C0C7E9CCF66D57_1471565872423_Screenshot+2016-08-18+20.17.41.png" />
<img src="https://www.dropbox.com/s/kthlmvspcbutghs/Screenshot%202016-08-12%2019.16.00.png?dl=1" />
<img src="https://www.dropbox.com/s/47eumz7eq0gqtsg/Screenshot%202016-08-12%2019.15.14.png?dl=1" />
<img src="https://www.dropbox.com/s/56akvihktotoa7w/Screenshot%202016-08-12%2019.21.27.png?dl=1" />
<img src="https://www.dropbox.com/s/5szr2nr6587nywc/Screenshot%202016-08-12%2019.20.49.png?dl=1" />
<img src="https://www.dropbox.com/s/vzg5c295jm1f29z/Screenshot%202016-08-12%2019.20.22.png?dl=1" />
<img src="https://www.dropbox.com/s/ir5paz3lwin7yzd/Screenshot%202016-08-12%2019.19.31.png?dl=1" />
<img src="https://www.dropbox.com/s/zzlzurqyemp8ho3/Screenshot%202016-08-12%2019.17.29.png?dl=1" />
<img src="https://www.dropbox.com/s/di5xkztbh22qeqa/Screenshot%202016-08-12%2019.17.11.png?dl=1" />
<img src="https://www.dropbox.com/s/pc2hcq4ohs7ae9r/Screenshot%202016-08-12%2019.16.52.png?dl=1" />
<img src="https://www.dropbox.com/s/6k8quyaf6nk6c5w/Screenshot%202016-08-12%2019.16.28.png?dl=1" />