<table>
<thead><tr>
  <th>프로그램 이름</th>
  <th>프로그램 설명 및 연계된 파일</th>
  <th class="activex-companies">제조사</th>
</tr></thead><tbody>
<tr>
  <td>INISAFE Mail</td>
  <td>보안메일 암호/복호화 프로그램</td>
  <td>Initech</td>
</tr>
<tr>
  <td>XecureExpress</td>
  <td>메일 시스템의 안전한 송수신을 보장하는 세계 최초 PKI기반의 웹 메일 시스템 보안 솔루션 이라고 한다.</td>
  <td>(주)한컴시큐어 </td>
</tr>
<tr>
  <td>JX-Mail Enterprise</td>
  <td>금융권 및 통신사에서 고객의 개인정보가 들어있는 메일을 안전하게 보내기 위해 사용되는  대칭키 암호화 보안 모듈로서 중요 HTML 페이지의 암호화를 통해 사용자 정보 유출을 방지할 수 있다고 한다.</td>
  <td>소프트이십오</td>
</tr>
<tr>
  <td>MailDec</td>
  <td>보안메일을 여는 프로그램으로 추측되나, 제조사로 추측되는 네이팅텔(주)가 폐업한 것으로 파악되어 확실하지 않음.</td>
  <td>네이팅텔</td>
</tr>
<tr>
  <td>전자신고 종합소득세</td>
  <td></td>
  <td>국세청</td>
</tr>
<tr>
  <td>Keysharp CertRelay</td>
  <td>공인인증서를 스마트폰으로 복사하는 프로그램</td>
  <td>라온시큐어</td>
</tr>
<tr>
  <td>Rexpert30 Viewer</td>
  <td>데이터베이스와 연계해 다양한 리포트를 출력하는 프로그램</td>
  <td>클립소프트</td>
</tr>
<tr>
  <td>MagicLine MBX</td>
  <td>인증서 인증, 전자서명, 웹구간 암호화 등을 담당하는 솔루션</td>
  <td>드림시큐리티</td>
</tr>
<tr>
  <td>TouchEn web(Webpage Protector)</td>
  <td></td>
  <td>한컴시큐어</td>
</tr>
<tr>
  <td>Aiviewer 5.0</td>
  <td>데이터베이스와 연결된 리포팅 툴</td>
  <td>솔비텍</td>
</tr>
<tr>
  <td>markany plugin for multi browser (court_prtchk)</td>
  <td></td>
  <td>마크애니</td>
</tr>
<tr>
  <td>Markany inc. e-pagesafer v2.5 court ozweb</td>
  <td></td>
  <td>마크애니</td>
</tr>
<tr>
  <td>Fasoo DRM</td>
  <td>기업용 문서보안 솔루션</td>
  <td>파수닷컴</td>
</tr>
<tr>
  <td>휴대폰인증서 보관서비스 </td>
  <td></td>
  <td>유비키</td>
</tr>
<tr>
  <td>MiPlatform</td>
  <td>마이플랫폼(MiPlatform)은 클라이언트/서버 환경의 웹의 클라이언트 환경을 대체할 대표적인 대안인 X-Internet 기반의 제품으로 국내 유일의 유무선 통합 UI 개발/운용 환경이다.</td>
  <td>투비소프트</td>
</tr>
<tr>
  <td>WiseGrid ActiveX</td>
  <td>웹에서 사용하고자 개발된 스프레드시트 프로그램</td>
  <td>유니포스트</td>
</tr>
<tr>
  <td>BCQRE_RX 연동모듈 설치프로그램</td>
  <td>웹에서 PDF 볼때 연결되어 있는 프로그램으로 추측</td>
  <td>BCQRE. Co. Ltd</td>
</tr>
<tr>
  <td>TouchEn key with E2E for 32bit</td>
  <td>키보드 보안 프로그램</td>
  <td>라온시큐어</td>
</tr>
<tr>
  <td>CrossCert Web</td>
  <td>공인인증 프로그램</td>
  <td>한국전자인증</td>
</tr>
<tr>
  <td>베라포트 Veraport</td>
  <td>통합 액티브엑스 설치 프로그램</td>
  <td>위즈베라</td>
</tr>
<tr>
  <td>XecureWeb</td>
  <td>공인인증서를 사용할 수 있도록 기능을 제공하는 프로그램</td>
  <td>(주)한컴시큐어</td>
</tr>
<tr>
  <td>AxSignGate</td>
  <td>한국정보인증의 인증 모듈</td>
  <td>한국정보인증</td>
</tr>
<tr>
  <td>SignGate EWS 4.0</td>
  <td></td>
  <td>한국정보인증</td>
</tr>
<tr>
  <td>전자신고 종합소득세 2014</td>
  <td></td>
  <td>국세청</td>
</tr>
<tr>
  <td>IssacWebProCms_LG_UPLUS</td>
  <td>LG 유플러스에 제공된 보안 플러그인</td>
  <td>펜타시큐리티</td>
</tr>
<tr>
  <td>nProtect Netizen SVC</td>
  <td>사이버 이용 고객 PC 보안 체계 확립 및 해킹에 의한 개인 정보 유출을 원천 차단하는 인터넷 서비스 이용자 전용 온라인 PC 보안 솔루션</td>
  <td>엔프로텍트</td>
</tr>
<tr>
  <td>iniline crosswarp</td>
  <td>인터넷 환경에서 각종 보안규정이나 필요에 의하여 필수로 설치해야 하는 프로그램들을 통합 설치해주는 솔루션  </td>
  <td>이니라인</td>
</tr>
<tr>
  <td>nProtect KeyCrypt</td>
  <td> 인터넷 서비스 이용자를 위한 키보드 입력 정보 보안 솔루션</td>
  <td>엔프로텍트</td>
</tr>
<tr>
  <td>nProtect-SecuLog</td>
  <td>수집된 전자금융거래 보안 로그를 분석하여 비정상 거래 징후를 탐지하고 추적하는  전자금융 보안관제 솔루션</td>
  <td>엔프로텍트</td>
</tr>
<tr>
  <td>MAGIC-PKI</td>
  <td>공인인증서 전자서명용 프로그램 </td>
  <td>드림시큐리티</td>
</tr>
<tr>
  <td>IPInside</td>
  <td>부정접속 차단 및 보안로그 수집 프로그램</td>
  <td>인터리젠</td>
</tr>
<tr>
  <td>REXPERT</td>
  <td>보고서 미리보기 및 출력용 프로그램 </td>
  <td>클립소프트</td>
</tr>
<tr>
  <td>e-Page Safer WebDRM Pack for CrossOS v2.5</td>
  <td>온라인 보안뷰어 프로그램 및 증명서 위변조방지 프로그램</td>
  <td>마크애니</td>
</tr>
<tr>
  <td>보이스아이</td>
  <td>시각 장애인을 위한 텍스트 기반 음성 전환 바코드 생성 프로그램</td>
  <td>(주)보이스아이</td>
</tr>
<tr>
  <td>Innoex</td>
  <td>대용량 파일전송 프로그램</td>
  <td>이노릭스</td>
</tr>
<tr>
  <td>E-Papyrus</td>
  <td>대용량 PDF 문서 전용 미리보기 프로그램</td>
  <td>이파피루스</td>
</tr>
<tr>
  <td>MAOnFPS </td>
  <td>PDF 뷰어용 화면캡쳐 방지 프로그램</td>
  <td>마크애니</td>
</tr>
<tr>
  <td>Magic-TSA</td>
  <td>PDF파일에 대한 시점 인증용 프로그램</td>
  <td>드림시큐리티</td>
</tr>
<tr>
  <td>NTS-Crypto</td>
  <td>전자신고 암호화 및 검증 복호화 프로그램</td>
  <td></td>
</tr>
<tr>
  <td>Crinity</td>
  <td>자료유출 방지 및 메일 필터링 프로그램</td>
  <td>크리니티(주)</td>
</tr>
<tr>
  <td>ezCertForClient</td>
  <td>민원24 민원발급 프로그램</td>
  <td>BCQRE Co,. Ltd</td>
</tr>
<tr>
  <td>PrintManager</td>
  <td>발급모듈 보안 프로그램</td>
  <td>BCQRE Co,. Ltd</td>
</tr>
<tr>
  <td>ezPDFReader</td>
  <td>민원24 전용뷰어 프로그램</td>
  <td>유니독스</td>
</tr>
<tr>
  <td>BankPayEFT.exe</td>
  <td>금융결제원 전자지갑 프로그램</td>
  <td>금융결제원</td>
</tr>
<tr>
  <td>InnoMP</td>
  <td>구비서류 업로드 프로그램</td>
  <td>이노릭스</td>
</tr>
<tr>
  <td>TrustVerifier.exe</td>
  <td>발급문서 진위확인 프로그램</td>
  <td>불명</td>
</tr>
<tr>
  <td>AOS 키보드 보안프로그램</td>
  <td>안랩의 키보드 보안 프로그램</td>
  <td>안랩</td>
</tr>
<tr>
  <td>MaWebSAFER_KERIS</td>
  <td>화면캡쳐 방지 프로그램</td>
  <td>마크애니</td>
</tr>
<tr>
  <td>EPKIWCtl</td>
  <td>인증서 관련 전자서명통신 프로그램</td>
  <td></td>
</tr>
<tr>
  <td>MaSecureClient</td>
  <td>화면의 복사 배포를 막기위한 프로그램</td>
  <td>마크애니</td>
</tr>
<tr>
  <td>Report Designer 5.0u</td>
  <td>제공되는 리포트를 보기위한 프로그램</td>
  <td>엠투소프트</td>
</tr>
<tr>
  <td>유니사인 공인인증서 이동프로그램</td>
  <td>유니사인에서 만든 공인인증서 이동 프로그램</td>
  <td>유니사인</td>
</tr>
<tr>
  <td>금결원 공인인증서 스마트폰 이동프로그램</td>
  <td>금융결제원에서 만든 공인인증서 스마트폰 이동프로그램</td>
  <td>금융결제원</td>
</tr>
<tr>
  <td>Softcamp Secure Keystroke</td>
  <td>키보드 보안 솔루션</td>
  <td>소프트캠프</td>
</tr>
<tr>
  <td>INISafe Sandbox</td>
  <td>웹페이지 위변조및 해킹 방지 솔루션</td>
  <td>Initech</td>
</tr>
<tr>
  <td>INISafe Web</td>
  <td>Web Browser와 Web Server 사이에서 전송되는 데이터들을 암호화하는 솔루션</td>
  <td>Initech</td>
</tr>
<tr>
  <td>INISafe Sfilter</td>
  <td>암호화 통신 솔루션</td>
  <td>Initech</td>
</tr>
<tr>
  <td>인증서 로밍 클라이언트</td>
  <td>인증서를 옮기는 프로그램</td>
  <td>BTWorks, Inc.</td>
</tr>
<tr>
  <td>Ahnlab Mysafety</td>
  <td>온라인 환경 보안 프로그램</td>
  <td>안랩</td>
</tr>
<tr>
  <td>전자신고작성 2005</td>
  <td>전자신고작성 프로그램 2005년 버전.</td>
  <td>국세청</td>
</tr>
</tbody></table>

<img src="https://d2mxuefqeaa7sj.cloudfront.net/s_AB078BAD296D0B32F09D4AF90BD7C365654DF47B38D931092B85A10B4B10DED2_1471567192495_1_2.jpg" />
<img src="https://d2mxuefqeaa7sj.cloudfront.net/s_AB078BAD296D0B32F09D4AF90BD7C365654DF47B38D931092B85A10B4B10DED2_1471567192504_1.JPG" />
<img src="https://d2mxuefqeaa7sj.cloudfront.net/s_AB078BAD296D0B32F09D4AF90BD7C365654DF47B38D931092B85A10B4B10DED2_1471567192499_10.jpg" />
<img src="https://d2mxuefqeaa7sj.cloudfront.net/s_AB078BAD296D0B32F09D4AF90BD7C365654DF47B38D931092B85A10B4B10DED2_1471567192508_c02242529.jpg" />
<img src="https://d2mxuefqeaa7sj.cloudfront.net/s_AB078BAD296D0B32F09D4AF90BD7C365654DF47B38D931092B85A10B4B10DED2_1471567192512_card_error02.jpg" />
<img src="https://d2mxuefqeaa7sj.cloudfront.net/s_AB078BAD296D0B32F09D4AF90BD7C365654DF47B38D931092B85A10B4B10DED2_1471567192517_dcf_04.jpg" />
<img src="https://d2mxuefqeaa7sj.cloudfront.net/s_AB078BAD296D0B32F09D4AF90BD7C365654DF47B38D931092B85A10B4B10DED2_1471567192522_image_4.png" />
<img src="https://d2mxuefqeaa7sj.cloudfront.net/s_AB078BAD296D0B32F09D4AF90BD7C365654DF47B38D931092B85A10B4B10DED2_1471567192524_img_error_rexpert.gif" />
<img src="https://d2mxuefqeaa7sj.cloudfront.net/s_AB078BAD296D0B32F09D4AF90BD7C365654DF47B38D931092B85A10B4B10DED2_1471567192526_install_uninstall7_3.gif" />
<img src="https://d2mxuefqeaa7sj.cloudfront.net/s_AB078BAD296D0B32F09D4AF90BD7C365654DF47B38D931092B85A10B4B10DED2_1471567192532_K-2628.jpg" />
<img src="https://d2mxuefqeaa7sj.cloudfront.net/s_AB078BAD296D0B32F09D4AF90BD7C365654DF47B38D931092B85A10B4B10DED2_1471567192535_LimitAddorRemove2.png" />
<img src="https://d2mxuefqeaa7sj.cloudfront.net/s_AB078BAD296D0B32F09D4AF90BD7C365654DF47B38D931092B85A10B4B10DED2_1471567192538_mblogthumb1.phinf.naver.jpg" />
<img src="https://d2mxuefqeaa7sj.cloudfront.net/s_AB078BAD296D0B32F09D4AF90BD7C365654DF47B38D931092B85A10B4B10DED2_1471567192541_mblogthumb2.phinf.naver.jpg" />
<img src="https://d2mxuefqeaa7sj.cloudfront.net/s_AB078BAD296D0B32F09D4AF90BD7C365654DF47B38D931092B85A10B4B10DED2_1471567192545_t1.daumcdn-1.jpg" />
<img src="https://d2mxuefqeaa7sj.cloudfront.net/s_AB078BAD296D0B32F09D4AF90BD7C365654DF47B38D931092B85A10B4B10DED2_1471567192550_t1.daumcdn-1.png" />
<img src="https://d2mxuefqeaa7sj.cloudfront.net/s_AB078BAD296D0B32F09D4AF90BD7C365654DF47B38D931092B85A10B4B10DED2_1471567192552_t1.daumcdn-2.jpg" />
<img src="https://d2mxuefqeaa7sj.cloudfront.net/s_AB078BAD296D0B32F09D4AF90BD7C365654DF47B38D931092B85A10B4B10DED2_1471567192558_t1.daumcdn-2.png" />
<img src="https://d2mxuefqeaa7sj.cloudfront.net/s_AB078BAD296D0B32F09D4AF90BD7C365654DF47B38D931092B85A10B4B10DED2_1471567192562_t1.daumcdn-3.jpg" />
<img src="https://d2mxuefqeaa7sj.cloudfront.net/s_AB078BAD296D0B32F09D4AF90BD7C365654DF47B38D931092B85A10B4B10DED2_1471567192566_t1.daumcdn.jpg" />
<img src="https://d2mxuefqeaa7sj.cloudfront.net/s_AB078BAD296D0B32F09D4AF90BD7C365654DF47B38D931092B85A10B4B10DED2_1471567192569_t1.daumcdn.png" />
<img src="https://d2mxuefqeaa7sj.cloudfront.net/s_AB078BAD296D0B32F09D4AF90BD7C365654DF47B38D931092B85A10B4B10DED2_1471567192573__1.jpg" />
<img src="https://d2mxuefqeaa7sj.cloudfront.net/s_AB078BAD296D0B32F09D4AF90BD7C365654DF47B38D931092B85A10B4B10DED2_1471567192575_.png" />
<img src="https://d2mxuefqeaa7sj.cloudfront.net/s_AB078BAD296D0B32F09D4AF90BD7C365654DF47B38D931092B85A10B4B10DED2_1471567192578_.jpg" />
<img src="https://d2mxuefqeaa7sj.cloudfront.net/s_AB078BAD296D0B32F09D4AF90BD7C365654DF47B38D931092B85A10B4B10DED2_1471567192582_.jpg" />
