<table class="news-related-news">
<thead><tr>
  <th style="width:100px">제목</th>
  <th style="width:87px">매체</th>
  <th>날짜</th>
  <th>내용</th>
</tr></thead><tbody>
<tr>
  <td>다음, 미디어사업 본격 나섰다..전.현직 기자 대거 영입</td>
  <td>한국경제</td>
  <td>2002.12.06</td>
  <td>인터넷포털 업체인 다음커뮤니케이션이 미디어사업에 본격적으로 나섰다. 이를 위해 최근 조선일보 기자 출신인 석종훈씨를 본부장 겸 부사장으로 임명한 후 기자 인력 충원에 나서고 있다.</td>
</tr>
<tr>
  <td>다음, 미디어시대연다</td>
  <td>헤럴드경제
</td>
  <td>2003.02.28</td>
  <td>다음은 자체 인터넷신문의 제호인 미디어다음을 전면 에 내세운 신규 뉴스 섹션을 오는 3월 4일부터 선보인다. 미디어다음은 직·간접적으로 생산한 뉴스 콘텐츠를 인터넷신문과 같은 편집 형태로 노출해 다른 포털의 뉴스 페이지와 확실한 차별화를 꾀할 예정이다.</td>
</tr>
<tr>
  <td>포털 ‘빅3’ 뉴스서비스 선두경쟁
</td>
  <td>파이낸셜뉴스</td>
  <td>2003.03.16</td>
  <td>야후코리아, NHN, 다음커뮤니케이션 등 인터넷 포털 ‘빅3’ 업체들이 뉴스서비스를 강화하고 치열한 선두다툼을 벌이고 있다. 지난해 2월 각 업체들의 뉴스 방문자수는 ......  야후가 다음에 비해 3배 이상 많았으며, NHN과 다음도 2배 이상의 차이를 보였다. 결국 지난 1년 동안 야후의 방문자수가 점진적으로 증가한데 비해 NHN과 다음의 방문자수는 2∼3배 이상의 빠른 증가율을 보이고 있다.</td>
</tr>
<tr>
  <td>포털 이라크戰 뉴스 경쟁, 네이버 '판정승’</td>
  <td>헤럴드경제</td>
  <td>2003.03.30</td>
  <td>다음, 네이버, 야후코리아 등 국내 3대 포털사이트의 이라크전 뉴스 경 쟁에서 NHN의 네이버가 근소한 차로 다른 사이트들에 판정승을 거둔 것 으로 나타났다.</td>
</tr>
<tr>
  <td>포털업계 경쟁 ‘뉴스 전쟁’으로 번져</td>
  <td>파이낸셜뉴스</td>
  <td>2004.07.20</td>
  <td>포털사이트 업계가 최근 사활을 건 격전을 벌이고 있는 가운데 각사가 뉴스코너를 대폭 강화.개편하는 등 뉴스콘텐츠를 무기로 내세운 경쟁이 본격적으로 불붙고 있다. 가장 먼저 뉴스 경쟁에 불을 댕긴 것은 KT그룹의 새 포털 '파란'으로 스포츠신문 5개사와 각사당 월 1억원의 파격적인 조건으로 사실상 독점에 가까운 계약(2년)을 맺으면서 이름 그대로 파란을 일으키고 있다. 야후코리아 관계자는 "뉴스를 신문.방송이 아니라 포털에서 보는 사람이 늘어나면서 업계에서 뉴스의 중요성이 커지고 있다"며…</td>
</tr>
<tr>
  <td>네이버 ''전지현 결혼설'' 해명기사 의문 증폭
</td>
  <td>세계일보
</td>
  <td>2004.10.04</td>
  <td>네이버 박정용 미디어팀장은 “온라인상에서 특정인에게 피해가 가는 기사가 게재될 경우 논란은 십수분 만에 확산된다”며 뉴시스측은 “네이버가 특정 뉴스를 오보라고 자체 판단, 해명기사를 게재하고 서비스를 중지시키는 것은 문제”라고 반발했다.</td>
</tr>
<tr>
  <td>[기업뉴스] 네이버 메인페이지 개편
</td>
  <td>서울경제</td>
  <td>2005.03.31</td>
  <td>네이버측은 사용자가 자주 찾는 뉴스, 금융ㆍ증권 서비스를 화면 중앙에 배치해 사용자 시선이 자연스레 연결되도록 설계했고, 뉴스창은 기존보다 넓게 만들어 더 많은 최신기사를 한눈에 확인할 수 있도록 했다고 설명했다.</td>
</tr>
<tr>
  <td>최신뉴스 휴대폰 제공，다음 ‘모바일…’서비스</td>
  <td>파이낸셜뉴스</td>
  <td>2005.06.28</td>
  <td>다음은 최신뉴스를 휴대폰으로 받아보는 ‘모바일 미디어다음’ 서비스를 시작했다고 28일 밝혔다.</td>
</tr>
<tr>
  <td>야후!코리아, YTN 뉴스 실시간 서비스</td>
  <td>매일경제</td>
  <td>2006.08.16</td>
  <td>이번 제휴로 야후! 코리아와 YTN은 세계에서 포탈 최초로 24시간 TV뉴스 무료 생방송 서비스를 선보이게 되며…</td>
</tr>
<tr>
  <td>＂온라인 뉴스, 무료로 분양합니다＂</td>
  <td>블로터</td>
  <td>2006.09.24</td>
  <td>갓 나온 따끈한 뉴스를 독자들 앞으로 곧바로 들고갈 수 있는 방법은 없을까. 그것도 포털 뉴스 창구를 거치지 않고도 가능하다면?’ 이른바 ‘신문사닷컴’들이 현재 안고 있는 공통된 고민이다. 이에 대한 해법을 모색하려는 시도가 최근 등장해 눈길을 끈다. </td>
</tr>
<tr>
  <td>네이버, 뉴스서비스 전면 개편 계획
</td>
  <td>파이낸셜뉴스 
</td>
  <td>2007.05.11</td>
  <td>국내 최대 가운데 가장 많은 언론사로부터 기사를 제공받고 있는 네이버가… 현재 네이버와 다음의 포털뉴스 점유율은 3월 마지막주 기준 각각 38.8%와, 34.7%로, 총 73.5%에 육박하는 수치다. 11일 업계에 따르면 네이버는 제휴를 하지 않은 신문사들의 기사검색까지 전부 검색될 수 있도록 개방하는 것을 골자로 ‘네이버 뉴스 개편안’을 세우고 있는 것으로 알려졌다.</td>
</tr>
<tr>
  <td>야후코리아，원하는 뉴스 쏙쏙 골라 배달</td>
  <td>파이낸셜뉴스</td>
  <td>2007.12.03</td>
  <td>사용자 관심분야의 뉴스를 골라서 제공하는 ‘똑똑한’ 뉴스 서비스가 나왔다. 야후 코리아는 각 사용자의 뉴스 이용패턴을 분석해 관심도에 따른 개인 맞춤형 뉴스 콘텐츠를 제공하는 ‘맞춤뉴스’서비스를 시작한다고 3일 밝혔다.</td>
</tr>
<tr>
  <td>다음 "언론사와 수익 배분"…뉴스서비스 '확바꾼다’</td>
  <td>ZDNet Korea</td>
  <td> 2008.07.28</td>
  <td>다음커뮤니케이션이 뉴스를 제공하는 언론사와 수익을 배분하기로했다. 다음은 또 뉴스를 해당 언론사 사이트에 방문해서 볼 수 있도록 하는 이른바 '아웃링크' 방식도 도입하기로 했다.</td>
</tr>
<tr>
  <td>네이버, 뉴스 편집 손뗀다
</td>
  <td>매일경제
</td>
  <td>2008.07.01</td>
  <td>네이버가 뉴스를 선택하고, 뉴스의 위치까지 결정하기 때문에 사실상 네이버가 뉴스 편집을 하고 있다는 논란이 끊이지 않았습니다. 국내 최대 포털사이트인 네이버가 이런 지적에서 벗어나기 위해 뉴스 편집에서 손을 떼겠다고 밝혔습니다.</td>
</tr>
<tr>
  <td>뉴스 방문자, 다음이 네이버 앞질렀다</td>
  <td>경향신문</td>
  <td>2009.01.06</td>
  <td>이 같은 추이는 새해들어 전면 개편된 네이버 초기화면 서비스에 불편을 느낀 사용자들이 다른 포털로 옮겨간 것으로 분석된다.
</td>
</tr>
<tr>
  <td>다음-네이트, 네이버 뉴스스탠드 반사이익 미미</td>
  <td>ZDNet Korea</td>
  <td>2013.04.03</td>
  <td>네이버 뉴스스탠드 시행 이후 주요 언론사 사이트의 방문자수가 30% 이상 감소한 것으로 나타났다. 당초 예상됐던 다음, 네이트 등 다른 포털들의 반사이익은 미미했다.
</td>
</tr>
<tr>
  <td>네티즌, 네이버 뉴스 편식…미디어화 가속 우려
</td>
  <td>헤럴드경제</td>
  <td>2013.04.10</td>
  <td>뉴스스탠드’가 시행</td>
</tr>
<tr>
  <td>뉴스스탠드, 언론사-네이버 빈부격차 심화</td>
  <td>ZDNet Korea</td>
  <td>2013.07.02</td>
  <td>이와 관련 김경환 상지대학교 언론광고학부 교수는 “네이버 뉴스스탠드 도입으로 인링크 뉴스페이지의 트래픽이 증가하고 있다는 점을 감안하면 네이버가 편집하는 뉴스 주제가 여론을 형성하는 효과가 더욱 커질 수 있다”며 “결국 네이버가 뉴스를 편집했던 초기방식의 뉴스서비스로 회귀하는 것에 지나지 않는다는 비판이 대두될 것”이라고 우려했다.</td>
</tr>
<tr>
  <td>“네이버·다음 뉴스, 언론사가 직접 심사하시라”</td>
  <td>블로터</td>
  <td>2015.05.28</td>
  <td>어뷰징 뉴스의 산실로 지적받는 뉴스 서비스를 손보겠다고 국내 양대 포털이 나섰다. 네이버와 다음카카오는 5월28일 오전 10시 서울 중구 프레스센터에서 설명회를 열고 앞으로 뉴스 서비스 입점 제휴와 계약 연장 심사를 언론계를 중심으로 구성된 ‘공개형 뉴스 제휴 평가위원회'(가칭, 이하 ‘평가위’)에 맡길 방침이라고 발표했다.</td>
</tr>
<tr>
  <td>“이버편집자문위, "포털뉴스 중립성 논란 보고서, 객관성 확인 안돼"
</td>
  <td>서울경제</td>
  <td>2015.09.09</td>
  <td>앞서 새누리당 정책연구소인 여의도연구원은 네이버 다음 등 국내 포털뉴스 메인화면을 분석한 결과 정부 여당에 부정적인 제목의 기사가 많다는 내용의 보고서를 발표했다.
</td>
</tr>
</tbody></table>