<p>
One year after being awarded the Culture and Arts Promotion Fund from Arts Council Korea (ARKO) in 2015, I found myself in a situation where I needed to balance my expenses. While receiving the fund was a very fortunate event, balancing my expenses was not. This is because processing the forms is very tortuous, many thanks to the National Culture and Arts Support System. (NCAS, <a href="http://www.ncas.or.kr" target="_blank">www.ncas.or.kr</a>) This ‘system’ oversees the support procedures of thirty-one organizations that provide subsidies, including each local government’s culture foundation. Its appearance is that of a rushed interface that not only was built by a small business that managed to win the project bid for the lowest price, which in turn hired a few programmers whose only goal was to make it function before the deadline; but also was patched and tinkered over the span of 15 years by numerous project managers and programmers, who also got the maintenance job for the smallest bids. This interface is plagued with myriads of buttons, arrows, red letters, reference marks (※) and explanatory text; throughout every step of my usage of it, it brings up a pop-up window that describes my choice in detail and that allows me to cancel the button that I just clicked on, in case I did not intend to click on that button. But of course, these types of help messages only make it more difficult to use the system. The confident me, who relaxedly believed that all I needed to do was upload the documents that I have prepared, is gone; instead, I am lost amidst “Prevent this page from creating additional dialogs” checkboxes and almost mockingly over-designed fancy loading page animations. 
</p>

<img src="https://d2mxuefqeaa7sj.cloudfront.net/s_AAEDABD6071FF56ADE670D6FB8362C4FD7B129DC0A9E3A75A1F54674DE46F2CA_1470806160745_file.png" alt=""/>
<div class="quote-area">
<p class="quote-area__last">
  Using the dropdown menu on the left, I choose my supporting organization, Arts Council Korea; the system asks, “You have chosen Arts Council Korea. Select ‘OK’ to proceed.” Wondering why there even should be a pop-up window, I press ‘OK.’ Another pop-up window informs me that “You are proceeding to the Arts Council Korea page.” This window offers ‘OK’ and ‘Cancel’ buttons as well. I press ‘OK,’ and this time, I can finally access the ARKO page. The system requires three clicks just to move between pages; when you think of it, even if my initial choice was a mistake, I could press my browser’s ‘Back’ button to go back and re-select my destination page—which amounts to the same number of clicks.
</p>
</div>

<p>
Such suspicious, nagging interfaces are not only found in NCAS. Outdated company intranets work just like this; online banking and resident registration printing services also offer a similar experience, if perhaps to a lesser degree. There are probably many possible explanations as to why a system is run in such a manner, but one is that only the “manager’s”(administrator?) voice is reflected in the improvement of the system. If we categorize people into administrators and users of a given system, administrators are the ones who order the development of the system and maintain it; they are the intermediary of what is being done through the system. The user, on the other hand, is on the opposite side of the system; they are the ones who engage in actual work using the system. There is, however, very few ways that users can influence the design of the system apart from passive surveys, maybe. This means that a system is usually designed and run by reflecting the administrator’s, or the intermediary’s, need and desire.
</p>

<p>
Such bureaucratic tendency is not an exclusively Korean phenomenon. In 2013, the U.S. government launched healthcare.gov, a website that was supposed to make it easier for the people to compare different health care plans, a.k.a. Obamacare, and to sign up; however, the launch turned out to be a big mess due to <a href="https://en.wikipedia.org/wiki/HealthCare.gov" target="_blank">faulty interface design and server maintenance problems</a>. The E.U. passed a personal information law that mandates websites to notify users of what cookies are being used, causing outrage from some users and <a href="http://nocookielaw.com/" target="_blank">web developers</a>. Microsoft Windows Vista was criticized for having <a href="http://www.joelonsoftware.com/items/2006/11/21.html" target="_blank">nine options to turn the computer off</a>; a former Microsoft developer who participated in the process has written <a href="http://moishelettvin.blogspot.com/2006/11/windows-shutdown-crapfest.html">a blog post</a> in reply to this criticism, within which we can easily identify the bureaucratic tendencies in question.
</p>
<p>
Since the unnecessary pop-up windows and invasive alert messages gave me the impression that the interface I am using serves not my interest but the administrator’s or manager’s, using such systems makes me very nervous, as if I was making a deal with a fraud. Such systems may seem like they are built with the user’s interest in mind, but the negotiated aspects during the building process are the administrator’s schedule, costs, or even political positions of people in charge; the user, who is the one actually working with the system, is absent from the discussion. 
</p>
<p>
On the other hand, a closer look at these interfaces—that became dysfunctional by excluding user input—might reveal the desire of the administrator or managing organization. For example, when a company demands non-relevant information from job applicants such as photos, height and weight along with education and job experience of family members, what does that company really wants to know? Maybe this relates to a tacit value system inherent inside the organization; perhaps the HR manager wants to rely on as many objective and quantifiable indices possible; or it may just be due to an insensitivity towards the problematic aspects of traditional CV formats. Similarly, it could be interesting to observe and complain about the moments when the Korean web interface malfunctions, as well as imagine the surrounding context that these moments reveal.
</p>

<p>
<img src="https://d2mxuefqeaa7sj.cloudfront.net/s_AAEDABD6071FF56ADE670D6FB8362C4FD7B129DC0A9E3A75A1F54674DE46F2CA_1470795926197_file.png" alt=""/>
</p>

<p>
I have been living in the U.S. for more than 10 years now, and during this period I had a rather distant experience of the Korean web. While this lowered the resolution of my experience, it also gave me a comparative insight. One characteristic of the Korean web is the desire to collect the resident registration number (RRN) whenever one tries to sign up somewhere. As the effectively only personal authentication method, the RRN contains one’s birth date, birth area and sex—which makes it a very efficient tool in exploiting someone’s identity. But for the same reason (that it is a low-cost method to obtain lots of information about an individual), many websites have required RRNs in their sign-up process. Since the RRN is a fixed personal identification number that is also used offline, it has good connectivity to sensitive information such as financial information; this naturally leads to serious security flaws. 
</p>
<p>
The 2012 amendment to the Network Act emphasized the ISP’s obligation to protect personal information by stating that they need to “provide methods to sign up without using one’s RRN.” Since then, the usage of i-PIN has been promoted (or enforced); however, since one needs to enter one’s RRN or passport number in order to create an i-PIN, this is essentially just another unnecessary number without much significance in terms of security. Moreover, since i-PIN stores the list of websites where one has signed up using it, it produces additional personal information; this new information is stored along with the original personal identification number in the servers owned by one of the four private i-PIN organizations. Considering that the 2014 credit card information breach was caused by an employee of one of these organizations, i-PIN actually raises more security problems. Meanwhile, the E-commerce Act still mandates that one provides their RRN when shopping online. In short, i-PIN neither is an “alternative to RRN” nor does it help its user in terms of “personal authentication and protection of personal information.” It just adds another layer of absurdity on an existing chaos. The user seems to have gained practically nothing through the introduction of i-PIN; then who profits from the implementation of this system?
</p>
<p>
<img src="https://d2mxuefqeaa7sj.cloudfront.net/s_AAEDABD6071FF56ADE670D6FB8362C4FD7B129DC0A9E3A75A1F54674DE46F2CA_1470884872103_file.png" alt=""/>
</p>

<p>
Despite i-PIN’s uselessness, if one was still to sign up like I was forced to, one can head to the government-provided i-PIN center at www.gpin.go.kr. However, even if one managed to navigate through the delicate requirements—one’s username can contain lowercase English alphabet and numbers, and has to contain two or more alphabet characters; the password cannot contain the special characters &lt;, &gt;, (, ), #, ‘, / and |—and the strange multi-mouse interface (which displays two mouse cursors for some reason) that is required when entering one’s RRN or passport number, problems still remain. In order to finish the sign-up process, <a target="_blank" href="http://www.gpin.go.kr/center/customer/sub_07-2.gpin?no=6889&amp;searchtype2=4">one needs to install Dream Security’s Magicline software</a>, a “program used to recognize authentication certificates,” and this dream security company does not support Mac OS. Even if they did provide a Mac OS version, <a target="_blank" href="http://deulpul.net/3951001">as a normal passport holder, I would not be recognized as an expat within this website</a>; this would require me to already have my authentication certificate, without which I would need to visit a local government office in South Korea to finalize my sign-up process.
</p>
<p>
Speaking of Mac OS, another major difficulty caused by living abroad is the Korean online banking system. In order to use the system, you are required to install a collection of software with names much more suspicious that Dream Security. It is actually an improvement from the situation a few years ago, when using Korean online banking was just plain impossible on Mac OS—Shinhan was for a while the only bank offering a separate application, ezPlus. However, this improved situation is still deeply frustrating. You may attempt to use the all-in-one installer, but somehow it usually won’t install all requirements; as you download and install the remaining requirements—<a href="/lists/list-of-activex-programs" data-permalink="list-of-activex-programs" class="list-link">with names that are barely legible, like WizIN-Delfino, TouchEnNxKey and MoaSignEx</a>—each application will try to update itself and others in one’s own order. After going through all of this, you still need to reload the page before being able to do actual online banking. 
</p>
<p>
<img src="https://d2mxuefqeaa7sj.cloudfront.net/s_AAEDABD6071FF56ADE670D6FB8362C4FD7B129DC0A9E3A75A1F54674DE46F2CA_1470887220285_Messages+Image1971300254.png" />
</p>

<div class="quote-area">
<p class="quote-area__last">
  For example, Citibank asks you to to install the following programs: one for authenticating who I am, four for preventing others to peek at this authenticating process, one for verifying that my computer is in a normal state while running these programs, one for extracting the hardware spec of my computer, and another for copying my authentication certificate to a smartphone.
</p>
</div>

<p>
Now I can move on to requesting an authentication certificate, for which I need to find the security card I was given five years ago from deep inside my desk drawers. One bank had asked me to stop using the security card and use the one-time password generator (OTP) instead. Of course, you can only get the OTP hardware by visiting a bank in South Korea with your photo ID. Another situation where you need to visit the bank is when your online account is blocked. If you enter the wrong password or the wrong number combination from your security card for multiple times, your account will be blocked; this happens surprisingly often. One time my Shinhan Bank online account, which I was using because of the graceful ezPlus application, was blocked. I contacted Shinhan Bank America, in the hope that they might be able to assist in authenticating myself. As it turned out, since the two banks are different legal entities, one would not accept a personal authentication granted by the other. The required steps for authenticating myself to Shinhan Bank Korea, which I found out later, go like this: 1) visit the Korean Embassy and apply for a identity verification document; 2) notarize this document; 3) notify Shinhan Bank Korea of this document’s availability; 4) Shinhan Bank Korea sends a letter asking cooperation from Shinhan Bank America; 5) Shinhan Bank America receives this letter; 6) visit Shinhan Bank America with the embassy-issued document and photo ID in order to verify my identity; 7) Shinhan Bank America sends a letter confirming my identify verification; 8) Shinhan Bank Korea may unblock my account.
</p>

<p>While verifying myself in order to obtain an authentication certificate is so complicated, the obtained certificate just lies in my hard drive, under the well-known ‘NPKI’ directory. This means anyone that has access to my computer can steal my certificate, and even find out the password with relative ease—assuming the password is under 10 characters. Also, since it is possible and common to export the certificate on a smartphone or USB drive, losing one of these items is roughly equivalent to leaving the deed to your apartment at a cafe. For a detailed discussion of this system’s problems, how the system evolved into what it is now and why it continues to maintain status quo, one can refer to other articles including the ones written by <a href="http://opennet.or.kr/" target="_blank">Opennet</a>’s Keechang Kim. Once you realize that the usage and management of authentication certificates is done in a rather poor environment, it is just much less exciting to engage in the puzzle of finding your security card from your drawer and combining the first two digits of the x-th code and the last two digits of the y-th code. But my lack of excitement does not exempt me of my occasional obligations to transfer money to Korean bank accounts, which leaves me no options other than using the existing system. My continuous usage of the online system and conformity to its requirement helps the lame system to reinforce itself without resistance.
</p>

<p>
Every action can be political. Hence I cannot but become very uncomfortable whenever I reluctantly accept to use this online banking system or enter my RRN to a website; this behavior that is being enforced upon me does not align with my beliefs at all, and I do not plan on casting a vote for the sustenance of this system. Moreover, the accumulation of this enforced behavior results in a oversized and overrated, monster-like system administrator. 
</p>

<p>
In 2012, #mail (“Sharpmail”) happened. The Korea Internet and Security Agency (KISA) claims that:
<a target="_blank" href="https://www.npost.kr/" target="_blank">https://www.npost.kr/</a>
</p>

<div class="quote-area">
<p class="quote-area__last">
“The #mail uses a certified electronic address in order to confirm user (senders receivers) through a certified electronic e-mail. This leads to a safe and accurate transmission and reception of electronic documents, along with authenticating content and non-repudiation of the transmission and reception process.”
“Verification of trasmission-reception information can be conducted through the issued 'distribution certificate.'”
<a target="_blank" href="https://www.npost.kr/pages/en/en03.jsp" target="_blank">https://www.npost.kr/</a>
</p>
</div>

<p>In short, KISA argues that ordinary e-mails are not safe and accurate enough and proposes a new system that uses # instead of the usual @ in an email address. Unsurprisingly, this system requires authentication certificates; therefore it inherits all security problems that are present in the certificates. Also, the proposed security level of #mail is already attainable using existing email protocols. So this is another case similar to authentication certificates, where unnecessary technical measures are created and enforced, producing fees mandated under the name of security and authentication. In this sense, it serves the interest of system providers.
</p>

<div class="quote-area" style="display: none;">
Kim points to what this interest is, in an article posted on <a target="_blank" href="https://cse.google.co.kr/cse?cx=partner-pub-4647520150708391:6159801067&amp;ie=UTF-8&amp;q=%EC%83%B5%EB%A9%94%EC%9D%BC&amp;ref=www.google.co.kr/#gsc.tab=0&amp;gsc.q=%EC%83%B5%EB%A9%94%EC%9D%BC&amp;gsc.page=1">ppss.kr</a>:
<p>“공인”인증 사업은 처음에는 정통부가 감독권을 챙겼고, 현재는 행정안전부가 이권을 넘겨받아 금융위원회/금융감독원과 함께 제각각 밥그릇 수호에 몰두하고 있는 것입니다. 지경부는 이런 이권들이 몹시도 부러웠나 봅니다. 그래서 이제는 이메일주소에 “공인”자를 붙여서 자신들도 밥그릇 하나 챙겨보려는 것입니다.</p>
<div class="l-apple-box"></div>

<p>지경부의 이런 시도는 8월29일에 발표된 “샵메일”이라는 형태로 구체화 됩니다. 지경부 최진혁 소프트웨어융합과장(전화 02-2110-5151)과 임성민 사무관(5156)은 “공인전자주소(#메일)은 @메일과 달리 본인 및 송수신 확인이 보장되는 새로운 전자주소로서 온라인 ‘등기’와 같은 역할을 한다”고 <a target="_blank" href="http://www.mke.go.kr/mke/brd2_view.jsp?seq=76260&amp;pageNo=1&amp;srchType=1&amp;srchWord=&amp;pCtx=1">보도자료</a>를 돌리면서, 공인전자주소(#메일) 제도를 “세계 최초”로 도입한다고 자랑하고 있습니다. 세계 최초의 삽질에 가깝지 않을까 싶지만(…)</p>
<div class="l-apple-box"></div>

<p class="quote-area__last">김기창, <a target="_blank" href="http://ppss.kr/archives/12866">공인인증서의 쌍둥이 동생 샵메일, 공무원과 기업만 신난다</a>, 2013.9.9.</p>
</div>


<p>
At least ActiveX software used in authentication certificates is on its way to deprecation. The fact that this change was caused by external shocks, including the iPhone, leaves a bitter aftertaste—but it is a good thing nevertheless. #mail also seems to have lost whatever momentum it had; a <a target="_blank" href="http://www.yonhapnews.co.kr/bulletin/2015/09/20/0200000000AKR20150920025500017.HTML">2015 inspection</a> showed that it had only reached 0.02% of its projected usage, including 569 emails sent by individuals not affiliated with the government from January through September 2015. It seems that the service is promoted during mandatory reserve forces training sessions. Hopefully i-PIN will also eventually stop being used.
</p>

<p>
The post-9/11 increase of airport security measures was criticized as security theater, in that it led to excessive intrusion of privacy but was questionable in its effectiveness. In Korea, security theater rules the internet. This theater stages not only security, but also official authentication, convenience and efficacy. Excessive performances for avoiding administrator responsibility, disputes and collusions over privileges and incompetence cover web interfaces like fingerprints. 
</p>

<p>
Recently I was communicating with a Korean local government for a web design project, and got my hands on a document named “<a href="http://opengov.seoul.go.kr/sanction/7348148?fileIdx=1#pdfview">Public and Government Website Development and Management Guidelines for Developers and Administrators.</a>” It specifies that websites need to “remove insecure and non-standard technologies such as ActiveX and NPAPI plugins, and instead apply web standard technologies such as HTML5.” I am unsure when this requirement made its way into the guideline, or why KISA’s website fails to adhere to it. Still, this is a welcome change. It seems that the <a target="_blank" href="https://ko.wikipedia.org/wiki/%EA%B0%88%EB%9D%BC%ED%8C%8C%EA%B3%A0%EC%8A%A4%ED%99%94">Korean Internet Galapagos</a> might soon become past.
</p>

<p>
But on the other hand, the Government i-PIN started to mandate two-factor authentication since June 2016, for “better security.” This was implemented using a ‘graphic authentication’ interface, created by Dementor; while the only reasonable explanation seems to be that it was designed to be as complicated as possible, the company is promoting the interface as “simple and convenient.” This company was selected in K-Global 300, an award hosted by the Ministry of Science, ICT and Future Planning for producing new values in the Creative Economy initiative; it also supplies its product to financial, military and educational sectors. So perhaps the Internet Galapagos is here to stay, after all. This ad by Dementor for their graphic authentication solution seems to be just <a href="/lists/3-seconds" data-permalink="3-seconds" class="list-link">the adequate expression</a> of this depressing prospect.</p>


<video width="100%" height="315" controls>
  <source src="https://s3.ap-northeast-2.amazonaws.com/k-www-production/ui-theater/3seconds.mp4" type="video/mp4">
  Your browser does not support the video tag.
</video>