<p>
내가 한국에서 웹에이전시를 다니던 4년 사이에 한국의 인터넷에서는 많은 변화가 있었다. 다음 카페를 사용하던 사람들이 프리챌로 옮겨갔으며, 네띠앙은 무너졌다. 그 프리챌의 아성은 또다시 싸이월드에 빠르게 잠식당하고, 네이버 블로그의 “블로그씨”가 매일매일 네이버 블로그에 무슨 이야기를 쓰는 게 좋을지 알려주면서 시장의 파이를 키워가던 시절, 인터넷 뱅킹을 시작하고 무선인터넷 표준인 WIPI가 제정되었으며 공인인증서와 ActiveX의 싹이 피어났다. 한국 인터넷은 제작자 개인의 집합으로 이루어진 인터넷에서 기업집단에 속한 개인 간의 인터넷으로 빠르게 이동하고 있었고, 이에 따라 정보의 생산과 유통구조 역시 개인으로부터 또는 개별 신문사로부터 포털로 이동하고 있었다. 그리고 나는 그 거대한 흐름 안에서 묵묵히 웹디자인을 했다. 
</p>
<p>
내가 만 20살 되던 해인 2000년에 웹디자이너로 일하기 시작한 첫 번째 직장은 규모가 작은 디자인 회사였다. 대표 한 명, 기획이사 두 명, 디자인 팀장 한 명, 디자이너 한 명(나), 계약직 개발자 한 명, 그리고 경리직원 한 명이 교대역 근처 사무실에서 함께 일했다. 당시는 홍익인터넷을 위시한 1세대 웹 에이전시들의 급성장을 보고 자란, 소위 2세대 웹 에이전시들이 한참 성장의 발판을 마련하던 시기였다. 좀 더 거시적인 관점에서는 아마도 국내의 큰 기업들이 인터넷 환경에 적응하기 위해 본격적인 웹사이트가 필요하던 시점이면서 동시에 인터넷을 적극적으로 활용한 새로운 사업모델들을 시도해보던 시점이었을 것이다. 갓 생겨난 메가플렉스 영화관들은 인터넷 예매를 가능하게 하고 싶어 했고, 아직 젊은 이동통신사들은 사용요금을 인터넷에서 결제할 수 있도록, 부가서비스를 인터넷에서 관리할 수 있도록 하고 싶어 했다. 은행은 인터넷 뱅킹을 도입하고 있었고, B2B, SI, ERP 등의 용어를 신문지면에서 흔하게 발견할 수 있었다.
</p>
<p>
사회 전반적으로는 인터넷이 가져다줄 새로운 가능성에 대한 논의가 활발했다. 서점의 컴퓨터 섹션에서는 “웹 마스터가 되는 길” 류의 책을 쉽게 찾을 수 있었고, 신문과 TV에서는 인터넷과 핸드폰과 냉장고가 연결된 미래를 ‘디지털 세상’으로 정의하고 있었다. 공격적인 전화영업을 하면서 서울시 전역에 퍼져있던 “그린컴퓨터아트학원” 등의 사교육기관에서부터 4년제 대학교의 디자인학과에 이르기까지 다양한 기관에서 ‘웹디자이너’들을 배출했다. 테헤란로에서 지나가다 어깨를 부딪치면 웹디자이너라는 우스갯소리가 있을 만큼 웹디자이너라는 사람들은 어디에나 있었다.
</p>
<p>
인터넷을 처음 접한 기억은 희미한데, 이것은 아마도 내가 PC통신을 다른 친구들처럼 열심히 하지 않았기 때문일 것이다. 그 당시의 내가 그림을 그리는 데 더 열중하기도 했었지만, 지금 생각해보면 더 큰 이유는 나보다 세 살 위의 누나가 PC통신 서비스 ‘나우누리’에서 열심히 활동했기 때문이었다. 누나가 고등학생이었던 언젠가부터 우리 집의 하나뿐인 컴퓨터는 누나가 ‘나우누리’에 접속하기 위해서 사용하는 물건이었으므로 컴퓨터를 사용할 차례는 나에게 잘 돌아오지 않았다. 누나가 대학에 진학한 후 PC통신 이외의 일로 바빠졌을 때쯤 컴퓨터는 다시 내 차지가 되었고, 나는 누나로부터 나우누리를 통해 인터넷에 접속하는 법을 배웠다. 새롬데이타맨 프로를 통해 나우누리에 접속하고 넷스케이프 커뮤니케이터 4로 연결된 인터넷 환경에서 야후!의 디렉토리를 탐험하는 일은 재미있었지만 나에게 어떤 의미 있는 행위로 다가오진 않았고, 무엇보다도 우선 굉장히 느렸다. 
</p>

<p>
  <img src="https://d2mxuefqeaa7sj.cloudfront.net/s_60F2BDECCC251454232A67FED22BAB36CD5C584B97313F34A22513E04793B89B_1471275025887_file.png" alt="" />
</p>

<p>
그로부터 몇 년 뒤인 1998년, 시각디자인 학과에 진학한 후 언젠가부터 내 책상에는 언제나 컴퓨터가 있었다. 이것은 스타크래프트와 레인보우식스를 하기 위해서이기도 했지만, 학교 과제를 위해서도 컴퓨터는 점점 더 필요하게 되었다. 지금 생각해보면 믿을 수 없지만 학교에 처음 다닐 때에는 레포트를 손으로 쓰는 학생들도 더러 있었고, 1학년 전공수업이었던 ‘기초조형’ 시간에는 과제를 컴퓨터로 해온 사람이 나뿐이었던 적도 있었다. 그러나 시간이 지날수록 한글, 워드, 포토샵, 일러스트레이터 등 컴퓨터 안의 도구들에 대한 삶의 의존도는 빠르게 높아졌다. 술자리에서 친구들과 함께 엡손의 어떤 잉크젯 프린터를 사는 것이 좋은지, 와콤 타블렛은 몇 인치짜리를 사야 하는지, 그래픽카드는 매트록스 G300을 사야 하는지 부두3를 사야 하는지 등을 고민했고, 고등학교 시절 그림을 그리던 나는 이제 같은 그림을 어도비 일러스트레이터에서 그리고 있었다. 
</p>

<p>
이때쯤 나의 인터넷 환경은 나우누리를 벗어나 01442로 접속하는 ‘넷츠고’를 사용하고 있었다. SK텔레콤에서 운영하던 넷츠고는 인터넷과 PC통신의 인기가 역전되던 상황에서 양쪽을 모두 비교적 편안하게 접속할 수 있는 전용 접속 프로그램 넷츠고 브라우저를 제공했다. 이 브라우저는 스킨을 바꿀 수 있어서, 2000년에는 스킨 디자인 공모전을 열기도 했다. 
</p>

<p>
<img src="https://d2mxuefqeaa7sj.cloudfront.net/s_60F2BDECCC251454232A67FED22BAB36CD5C584B97313F34A22513E04793B89B_1470420972634_file.png" alt="" />
</p>
  
<p>
이때쯤 광주의 사촌 형이 우리집에 며칠 머물다 간 일이 있었는데, 그때 사촌 형은 나에게 스스로 만든 개인 홈페이지를 보여주었다. 이것은 나의 주변 현실과 인터넷 세상이 만난 첫 번째 지점이었다. 간략한 자기소개와 언젠가 바닷가에 놀러 갔던 사진, 그리고 방명록 정도가 달려 있던 이 홈페이지는 새 항목 옆에 번쩍이는 “NEW” 배지가, 이메일을 보내는 링크 옆에는 3D로 렌더링된 편지봉투가 빙글빙글 도는 GIF가 있는, 그 당시 공대생들이 만든 개인 홈페이지의 전형적인 모습이었다. 여름방학마다 함께 놀던 형이 홈페이지를 만들 수 있음을 알게 된 순간, 그럼 나도 할 수 있겠구나 라는 생각이 함께 찾아왔고 나는 바로 그날 저녁부터 아마도 윈도우즈에 포함되어 있었을 마이크로소프트 프론트페이지를 뒤적거리기 시작했다. 자연스럽게 며칠 뒤에는 나모 웹 에디터를, 또 며칠 뒤에는 드림위버를 구해서 이것저것 만들어 보기 시작했고, 얼마 지나지 않아서 다른 많은 디자이너들처럼 플래시의 세계에 눈을 뜨게 되었다.
</p>
<p>
나의 첫 번째 홈페이지, 그러니까 웹에 공개된 나의 첫 번째 개인 홈페이지는 소위 ‘통플래시’로 만들어진 것이었다. 나는 웹 브라우저에서 벡터그래픽 애니메이션을 가능하게 해주는 플래시의 현란함에 매료되었고, 스스로도 언젠가 이런 것을 만들 수 있으면 좋겠다고 생각했다. 당시 플래시 애니메이션의 화두는 단연 EYE4U라는 독일 디자인 스튜디오의 웹사이트였는데, 1998년에 디자인된 이 사이트는 당시에 플래시가, 보다 정확히는 플래시를 만든 회사인 매크로미디어가 꿈꾸던 웹의 미래를 명확하게 보여주는 사이트였다. 확대해도 깨지지 않는 그래픽과 인터랙티비티, 부드러운 애니메이션과 함께 정확히 싱크된 사운드. 웹에서 문서를 보겠다는 일반적인 관점을 완전히 부수고, 화면 전체에 꽉 찬 애니메이션으로 만들어진 이 사이트는 웹디자이너들에게 새로운 지평을 열어주었다. 한국의 대중음악을 서태지와 아이들 이전과 이후로 나눌 수 있듯이, 당시의 홈페이지들은 EYE4U 이전과 이후로 나눌 수 있었다. 그리고 플래시가 가졌던 인터랙티비티의 가능성을 가장 잘 보여준 것은 유고 나카무라의 MONO*crafts 2.0이었는데, 아주 초창기의 액션스크립트로 할 수 있는 모든 것을 보여준 사례였고, 이후에 플래시로 이름을 알린 한국의 많은 웹에이전시들(포스트비쥬얼, 디스트릭트, 바이널 등)이 제작한 여러 사이트들의 원형이 되었다.
</p>

<iframe width="100%" height="315" src="https://www.youtube.com/embed/3aT4wt0fmGU" frameborder="0" allowfullscreen></iframe>

<p>
<img src="http://www.moma.org/explore/inside_out/inside_out/wp-content/uploads/2010/02/monocrafts.jpg" alt="" />
<a href="https://web.archive.org/web/20010119190400/http://www.yugop.com/ver2/" class="url_wordwrap" target="_blank">https://web.archive.org/web/20010119190400/http://www.yugop.com/ver2/</a>
</p>

<p>당시의 매크로미디어는, 인터넷 이전에 존재한 거의 유일한 인터랙티브 미디어인 CD-ROM을 만들 수 있는 저작소프트웨어인 ‘디렉터’로 시장을 지배하고 있었다. 그런 그들이 인터넷의 인터랙티브 미디어 세상에서도 계속 주도권을 잡기 위해 내놓은 작품들이 ‘플래시’와 ‘드림위버’였다. 플래시는 디렉터의 온라인 사촌쯤으로 취급되면서 비슷한 기능을 온라인에서 구현하는 것으로 시작했고, 드림위버는 HTML 문법에 익숙하지 않은 디자이너들이 HTML 문서를 쉽게 제작할 수 있게 하기 위한 WYSIWYG (What You See is What You Get) 에디터였다. 지금 생각해보면 매크로미디어가 2000년대 초반에 꿈꾸던 인터넷 세상은 지금 우리가 마주한 현실과는 매우 달랐는데, 그들이 꾸던 꿈은 2005년 어도비에 인수되면서 그 생명력이 다했다. 어도비의 느슨한 관리로 발생한 여러 보안 문제와 메모리 누수 등 기술적인 결함에도 불구하고 광고 등 일부 시장에서 명맥을 유지하던 플래시는 2010년 애플의 스티브 잡스가 <a href="https://www.youtube.com/watch?v=3aT4wt0fmGU">아이폰에서 플래시를 지원하지 않을 것임을 선언</a>하면서 시장에서 사실상 사라졌고, 매크로미디어도 잊혀졌다.</p>
<p>
2000년, 내가 첫 회사에서 참여한 첫 번째 프로젝트는 삼성전자의 스웨덴 웹사이트를 만드는 일이었는데, 어리둥절하며 당시 시청 앞에 있던 삼성전자 본관에 파견 나가 출근하던 나에게 이 프로젝트는 지각할 수 없을 정도로 거대했다. 이 프로젝트는 이전까지 아마도 산발적으로 존재했을 삼성전자의 국가별 서비스, 제품소개 사이트들을 통일된 시각 아이덴티티와 정보구조로 개편하는 거대한 프로젝트의 아주 작은 부분이었다. 이 프로젝트의 규모에 대해서 내가 가진 이해는 출근 첫 주 언젠가 사무실 한쪽 벽에 붙어 있던 거대한 사이트맵에 기인했는데, 어림잡아 가로 10미터는 넘었을 그 거대한 사이트맵에는 삼성전자의 각 나라 사이트가 가지는 정보의 위계, 프론트엔드와 백엔드, 웹사이트의 내용이 사내 자원관리 시스템과 연결되는 방식 등 아주 복잡한 내용이 일목요연하게 정리되어 있었다. 나중에 이런 아이소메트릭한 사이트맵은 미국 프로비던스에 본사를 둔 디지털 정보설계 전문회사 “다이내믹다이어그램스” 작품의 특징이라는 것을 알게 되었고, 이것을 토대로 아마 이 프로젝트의 큰 구조는 다이내믹다이어그램스가 세웠을 것이라고 추측할 수 있었다.
</p>

<p>
<img src="http://www.dynamicdiagrams.com/wp_content/uploads/2011/03/home_st_andrews.jpg" alt="" />
</p>

<p>
당시의 웹개발 프로젝트는 크게 웹사이트의 모든 내용을 제작하고 구성하는 기획팀, 웹사이트의 모든 레이아웃과 그래픽 그리고 HTML 문서를 생산하는 디자인팀, 그리고 이것을 실제로 서버와 연동하고 데이터를 관리하는 개발팀으로 이루어져 있었다. 삼성전자는 다이내믹 다이어그램스가 세운 큰 기획 구조에 맞추어 사이트를 개발해 줄 국내 업체가 필요했을 테고, 여러 국가의 사이트를 우선순위에 따라 순차적으로 개발하던 중이었을 것이다. 삼성전자 스웨덴 사이트와 영국의 사이트는 내가 다니던 회사보다 훨씬 더 규모가 크고 경험도 많은 다른 회사가 제작을 맡았고, 우리 회사는 스웨덴 사이트의 디자인만을 재하청 받아 기획이사와 나 둘이서 파견근무를 했다. 나는 이 프로젝트를 통해서 웹사이트를 만드는 프로젝트 전반에 대한 이해를 얻을 수 있었다. 세상에 웹디자이너는 정말 많다는 것, 개발자와 커뮤니케이션하는 것은 쉽지 않다는 것, 능력 있는 기획자와 일하는 것은 축복이라는 것도 알게 되었다. 
</p>
<p>
더불어 큰 기업에서의 하루 일과도 조금 경험할 수 있었다. 출근길에는 같은 모양의 출입카드를 목에 건 사람들이 줄을 지어 같은 건물로 들어갔고 퇴근시간엔 같은 사람들이 지하철 역으로, 버스정류장으로 흩어졌다. 점심시간에는 이 모든 사람들이 동시에 쏟아져 나왔는데, 때문에 주변의 식당들은 한 명이라도 더 빠르게 식사할 수 있도록 12시가 되기 전부터 미리 테이블을 세팅해 놓고 있었다. 심지어 어떤 식당들은 최적의 테이블 회전율을 위해 손님들이 각 메뉴들을 주문하는 비율에 따라 모든 테이블을 미리 세팅해두고 식당 입구에서 메뉴별로 사람들을 분류해서 앉히기도 했다. 점심을 먹고 돌아오는 길에는 근처 유흥주점에서 나온 사람들이 스포츠신문에 명함을 끼워 무료로 나눠주었고 사람들은 건물 뒤편에 삼삼오오 모여 앉아 연예/스포츠 가십을 읽거나 떠들며 담배를 피웠다. 
</p>
<p>
나는 2001년부터 2004년까지 '산업기능요원’으로 일했다. 이것은 일정기간을 병역특례 지정업체에서 일함으로써 병역 의무를 대체하는 것으로, 현역들이 산업기능요원으로 대체복무를 하려면 정보처리산업기사 이상의 자격증이 필요했다. 자격증이 준비되고 나면 소위 T/O를 찾아다녀야 했는데, 이는 병무청에서 해마다 병역특례지정업체에게 보통 한두 명씩 산업기능요원을 선발할 자격을 부여하기 때문이다. 나의 첫 번째 회사는 내가 2000년에 입사한 후 병역특례지정업체가 되어 한 명의 T/O를 확보했으나 회사에서는 그것으로 개발자를 유인하는 것이 훨씬 더 사업에 도움이 될 것으로 판단했다. 나는 일 년이 지난 후 새로운 T/O가 생기고서야 산업기능요원으로서 대체복무를 시작할 수 있었고, 일 년이 조금 지난 후 두 번째 회사로 옮겨서 병역특례를 마쳤다. 
</p>
<p>
산업기능요원으로 일한다는 것은 여러모로 애매한 위치에 있는 것이었다. 대학을 졸업하지 않았지만 직장인이었고, 군인이었지만 동시에 민간인이었다. 학교에서는 디자인을 배우는 학생이지만 사회에서 웹 디자이너로 일을 하고 있었고, 심지어 회사 규모가 작은 탓에 명함에 써진 직함은 ‘디자인 팀장’이었다. 그런 이유로 몇 년의 회사생활을 한 후에 학교로 돌아가는 일은 쉬워 보이지 않았다. 단순히 취업을 위한 직업 훈련이라면 더 이상 필요하지 않기도 했고, 이미 시작한 커리어를 멈추는 것도 용기가 필요한 일이었다. 주변에는 이렇게 산업기능요원으로 웹에이전시에서 HTML 코더이자 디자이너로 일하는 선배, 후배들이 많이 있었다. 우리는 병역특례를 했던 누군가가 만들었을 ‘특례시계’라는 어플리케이션을 윈도우즈의 우측 하단에 띄워놓고 서로의 전역일자를 비교해보곤 했다. 이 프로그램은 내가 전역하는 날까지 남은 시간을 초 단위로 알려주었고, 미려한 그라데이션으로 그려진 막대그래프가 있었는데, 막대그래프의 양쪽 끝의 색을 각각 바꿀 수 있었다. 여러 사용자를 등록하여 각각의 남은 시간을 비교할 수 있었는데, 한 번 등록된 사용자를 지울 수 있는 방법은 없어서 나는 이미 전역한 수많은 사람들로 꽉 찬 그래프를 함께 봐야 했다.
</p>
<p>
당시에 어느 정도 규모가 있던 웹에이전시들은 대부분 병역특례 지정업체였다. 이것은 상대적으로 젊은 인력이 기술적인 이해가 높고 가격 경쟁력이 있었기 때문일 것이다. 실제로 웹에이전시의 대표들은 2000년을 전후로 관련 학과를 졸업한 70년대생인 경우가 많았는데, 이들은 닷컴과 벤처창업 열풍을 타고 거의 졸업과 동시에, 또는 졸업 전에 동료들과 함께 창업을 했다. 병역특례지정업체가 되면 그들보다 더 젊은 (어린) 디자이너를 비교적 안정적으로 장기간 고용할 수 있었다. 그리고 이것을 신청하는 데에는 사업체의 대표자가 여성일 경우 가산점이 있어서, 회사의 대표가 (서류상으로만 일지라도) 여성인 경우가 꽤 자주 있었다. 
</p>
<p>
대기업의 애뉴얼 리포트를 만들거나, CI를 제작하는 등 전통적인 시각 디자인 사업의 영역에서는 오랫동안 프로젝트를 하면서 포트폴리오와 네트워크를 다져온 회사들이 자리하고 있었지만 웹사이트 제작에서만큼은 명망 있는 선생님들의 회사도 학생들이 시작한 젊은 웹에이전시와 같은 위치에 서 있었다. 그들은 대기업 프로젝트의 경쟁입찰에 동등한 자격으로 참여했고, 젊은 웹에이전시들은 기술과 시장에 대한 발 빠른 이해와 감각으로 빠르게 대형 프로젝트를 하나씩 수주해 갔다. 예컨대 내가 두 번째로 다녔던 웹 에이전시는 2000년경 4명에서 시작해서 약 4년 만에 150명 이상의 규모로 불어났다. 이러한 규모를 유지하기 위해서는 큰 규모의 웹 프로젝트가 필요했는데, 이런 프로젝트들은 대부분 금융권이거나 이동통신사 등 대기업과 관련된 프로젝트였다. 그리고 얼마 지나지 않아 중견기업의 규모가 된 이 웹에이전시들은 금융권 웹사이트를 제작하는 데에 특화되거나, 소비자 대상으로 톡톡 튀는 광고와 연계하는 방식을 제안하는 데에 전문성을 갖게 되는 등 각자의 성격을 만들어 나가기 시작했다.
</p>
<p>
나는 두 번째 회사에서 2002년부터 2004년까지 2년 정도의 시간을 보냈는데, 그 사이 매우 많은 사람들이 입사했고 또 퇴사했다. 나는 대학을 2학년까지 다닌 채 병역특례로 일하기 시작한 관계로, 몇몇 아르바이트생들을 제외하고는 사내에서 가장 어린 축에 속했다. 내 직장동료 대부분은 나보다 나이가 많았다. 병역의무를 완수하는 것이 회사생활의 일차적인 목적이었던 나와는 다르게, 나의 선배나 동료들은 직장인으로서의 자각이 강했던 것 같고, 그만큼 디자이너로써의 커리어를 쌓아가는 것에 진지하게 임했다. 회사에 정직원으로 속해있는 사람들도 있었고, 프로젝트 단위로 계약을 하고 함께 잠깐 일하는 ‘프로젝트 계약직’도 있었다. 이 계약직 직원들 중에는 정직원들보다 훨씬 높은 급여를 받는 것으로 알려진 소위 스페셜리스트들도 있었다. 이 분들은 짧게는 3개월에서 길게는 6개월 이상 걸리는 웹개발 프로젝트에서 그것이 디자인이든, 플래시제작이든, 고객사와의 커뮤니케이션이든 가장 중요한 문제들을 해결해 주는 사람들이었다. 회사는 정직원이거나 계약직이거나 상관없이 이런 역할을 해줄 수 있는 사람들을 언제나 필요로 했고, 이들은 여러 프로젝트에 바쁘게 불려 다녔다. 
</p>
<p>
당시 웹디자인을 하던 나의 동료들이나 경쟁회사의 디자이너들은 으레 개인 홈페이지를 하나씩 가지고 있었다. 웹사이트를 만드는 것이 직업이었던 젊은 디자이너에게 개인 웹사이트는 스스로의 능력을 보여줄 수 있는 훌륭한 포트폴리오이자 느슨한 관계망을 형성할 수 있는 도구였는데, 이 사이트들은 시각적으로는 모두 달랐지만 기술적으로는 커스텀 HTML과 제로보드의 혼합이라는 구조를 크게 벗어나지 않았다. 종종 플래시로 혼신의 힘을 기울여 만든 첫 페이지가 있기도 했고, 일본으로부터 흘러 들어온 ‘오에카키’라는 그림게시판이 달려있는 경우도 있었지만, 대부분은 게시판, 방명록, 링크 등으로 구성되었다. 웹 디자이너들은 서로의 웹사이트를 구경 다니며 방명록에서 안부를 묻고, 무엇은 어떻게 만들었는지 정보를 공유하고, 또 모르는 디자이너의 사이트를 몰래 들여다보곤 했다. 
</p>
<p>
이렇게 제로보드와 약간의 플래시를 구사할 수 있는 웹디자이너들은 회사 밖에서 아르바이트로 프로젝트를 진행할 수도 있었다. 이미 월드와이드웹은 아주 많이 보편화되어서 웬만한 중소기업들도 모두 웹사이트를 원했는데, 대기업과 일해온 중견형 웹에이전시들은 비쌌고 작은 규모의 웹에이전시란 결국 디자이너 한두 명뿐이어서, 같은 비용에 웹사이트를 ‘턴키’로 제작할 수 있는 디자이너를 고용하는 경우가 많았다. 그래서 이렇게 제작되는 웹사이트 역시 기술적으로는 디자이너들의 개인 웹사이트와 크게 다르지 않았다. 당시 중소기업의 웹사이트가 필요로 하는 기능들은 대부분 제로보드를 약간 변형하는 것만으로 가능했고, 플래시가 웹의 최신 기술임을 인지한 업체의 대표들은 첫 페이지에서 당사의 제품이 현란한 플래시와 함께 멋있게 움직이길 원했다. 웹디자이너가 HTML 코딩을 어느 정도 할 수 있고, 플래시를 다루면서 제로보드를 깔아서 수정할 수 있으면, 혼자서 웹사이트를 기획부터 디자인, 그리고 개발까지 할 수 있는 셈이었고, 실제로 이런 프로젝트는 넘쳐났다. 웹 디자이너들은 개인 웹사이트를 만들면서 갈고닦은 실력을 유감없이 발휘해서 플래시 대문에 제로보드가 달린 대한민국 중소기업 표준형 웹사이트를 열심히 만들었고, 그중 상당수를 10년이 넘게 지난 지금도 발견할 수 있다. 
</p>
<p>내가 두 번째 회사를 떠나던 해인 2004년에는 업계에서 꽤 큰 규모를 자랑하던 한 업체가 부도를 냈다. 이 회사는 국내의 고객사와 일하는 것에 그치지 않고 해외로 눈길을 돌렸고, 단순 개발 업무를 상대적으로 인건비가 싼 동남아시아로 아웃소싱 하는 등 여러 가지 사업모델을 실험하는 것으로 알려져 있었다. 당시 <a href="http://m.zdnet.co.kr/news_view.asp?article_id=00000010048285">인도네시아 지방정부의 전자정부 프로젝트를 큰 금액에 수주</a>해서 화제가 되었었는데, 확인된 바 없는 소문으로는 이 프로젝트의 입금이 늦어진 것이 부도의 직접적인 원인이라고도 했다. 어쨌거나 이 회사가 공중분해되는 바람에 많은 수의 디자이너가 한꺼번에 시장에 풀려났다. 그중 몇 명은 우리 회사에 오기도 했고, 경쟁업체에 입사하기도 했다. 그리고 마침 공격적으로 디자이너를 채용하던 대형 포털에 입사하기도 했는데, 병역특례로 한 곳에 묶여있던 나와 달리 다른 동료 디자이너들에게 대형 포털은 비슷한 일을 하면서도 대기업에 준하는 복지를 제공하는 매력적인 직장이었다. 당시 나와 함께 일하던 꽤 많은 사람들이 웹 에이전시를 그만두고 대형 포털로의 이직을 했거나 고려하고 있었고, 이는 술자리에서의 단골 토론 주제였다. </p>
<p>
그리고 이때쯤 나는 회사를 그만두었다. 병역의무를 마쳐서이기도 했지만, 학업을 계속하고 싶었다. 당시 함께 병역특례를 하던 친구 몇몇은 각자 자신의 회사에 남아 더 이상 산업기능요원이 아닌 진짜 사회인으로 남았고, 몇몇은 학교로 돌아갔다. 많은 동료들이 천천히 대형 포털로 이동했고, 자신의 스튜디오를 차린 사람들도 있고, 더 이상 디자인을 하지 않는 사람들도 있다. 2016년의 웹은 2000년의 그것과 매우 다르지만, 나는 어쩔 수 없이 2000년대 초반에 웹에이전시에서 웹사이트를 만들던 기억의 렌즈를 통해 바라보게 된다. 이미지로 만들어진 한글 텍스트를 볼 때마다 그것을 만들고 이름 짓고 저장했을 디자이너를 생각하게 되고, 눈앞에 보이는 웹사이트의 뒤편에 있을 수많은 파워포인트 기획문서와, 디자이너들이 받았을 수정사항의 목록을 상상해 본다. 그리고 그들이 지금 속해있을 큰 변화의 흐름은 무엇인지 생각해 본다. 
</p>