<table>
<thead><tr>
  <th style="width:100px">이름</th>
  <th style="width:120px">웹사이트</th>
  <th style="width:150px">게시판 엔진</th>
  <th>설명</tha>
</tr></thead><tbody>
<tr>
  <td>디씨인사이드</td>
  <td>gall.dcinside.com</td>
  <td>zb4 -> 자체 프레임웍</td>
  <td>제로보드를 nzeo측으로부터 구입하여 2000년대 중반까지 사용하다 자체 엔진으로 변경</td>
</tr>
<tr>
  <td>일간베스트</td>
  <td>ilbe.com</td>
  <td>XpressEngine</td>
  <td></td>
</tr>
<tr>
  <td>SLRCLUB</td>
  <td>slrclub.com</td>
  <td>zboard.php</td>
  <td>게시판의 테이블 뷰를 zboard.php로 사용, 그 이후 단계는 불분명</td>
</tr>
<tr>
  <td>와이고수</td>
  <td>ygosu.com</td>
  <td>XpressEngine</td>
  <td>으로 의심되나 확실하지 않음</td>
</tr>
<tr>
  <td>뽐뿌</td>
  <td>ppomppu.com</td>
  <td>zb4</td>
  <td></td>
</tr>
<tr>
  <td>파코즈</td>
  <td>parkoz.com</td>
  <td>zb4?</td>
  <td></td>
</tr>
<tr>
  <td>시코(시디피코리아)</td>
  <td>seeko.co.kr</td>
  <td>zb4</td>
  <td></td>
</tr>
<tr>
  <td>82cook</td>
  <td>82cook.com</td>
  <td>XpressEngine</td>
  <td>으로 의심됨</td>
</tr>
<tr>
  <td>클리앙</td>
  <td>clien.net
</td>
  <td>zb4 → gnuboard</td>
  <td></td>
</tr>
<tr>
  <td>베스티즈</td>
  <td>bestiz.net</td>
  <td>zb4</td>
  <td></td>
</tr>
</tbody></table>
<img src="https://www.dropbox.com/s/9bp88bvsi12mlh9/Screenshot%202016-08-11%2022.47.27.png?dl=1" alt=""/>
<img src="https://www.dropbox.com/s/1vjwa7uigy9lw02/Screenshot%202016-08-11%2022.46.48.png?dl=1" alt=""/>
<img src="https://www.dropbox.com/s/s05vz78jhao7tr6/Screenshot%202016-08-11%2022.53.52.png?dl=1" alt=""/>
<img src="https://www.dropbox.com/s/88pgw3kiyztss18/Screenshot%202016-08-11%2022.53.09.png?dl=1" alt=""/>
<img src="https://www.dropbox.com/s/dd4fyp0m10adl7z/Screenshot%202016-08-11%2022.56.21.png?dl=1" alt=""/>
<img src="https://www.dropbox.com/s/8bamlbon5h8ac08/Screenshot%202016-08-11%2022.55.01.png?dl=1" alt=""/>
<img src="https://www.dropbox.com/s/ld1h9ex9p6hp89o/Screenshot%202016-08-11%2023.01.18.png?dl=1" alt=""/>
<img src="https://www.dropbox.com/s/fuvhu2fe209xac0/Screenshot%202016-08-11%2022.57.24.png?dl=1" alt=""/>
<img src="https://www.dropbox.com/s/xql8im9ysbivayc/Screenshot%202016-08-11%2023.11.18.png?dl=1" alt=""/>