<h1>제로보드의 소개</h1>

<p><strong>제로보드가 무엇인가요?</strong>
제로보드는 PHP와 MySQL이 지원되는 서버에 설치하여 사용하는 게시판입니다.
즉, 슈퍼보드나 블루보드등의 게시판처럼 신청을 하고 링크를 하는 게시판이 아니라 자신의 계정에 직접 설치를 하여 사용하는 게시판입니다.</p>

<p><strong>제로보드만의 장점이라면 어떤게 있나요?</strong>
- 깨어지기 쉽고, 관리하기 어려운 File System으로 데이타를 관리하지 않고 안정적이며 우수한 MySQL이라는 Database 시스템을 이용함으로서 자료의 안정성이 보장되며, 자료의 추출, 가공, 이식, 보관이 매우 용이합니다. 
* 차후 다양한 DB 시스템을 지원할 예정</p>

<ul><li>제로보드는 융통성이 있고, 확장이 편한 스킨시스템을 제공함으로서 매우 다양하고 편리한 스킨을 만들수 있습니다. 제로보드의 스킨은 현재까지 국내의 대부분의 게시판 스킨의 디자인과 기능성에 많은 영향을 미쳤습니다. </li><li><p>스킨이라는 것은 제로보드의 출력형태를 가공할수 있는 것을 말하며, 현재 제로보드 스킨 자료실에는 수천개의 스킨자료가 등록이 될정도로 활성화 되어 있습니다.</p></li><li><p>종전의 무료 배포 게시판에서는 찾아볼수 없었던 회원관리, 쪽지기능, 게시판마다의 권한 설정등 관리자가 운영하기에 매우 편한 기능등을 제공하고 있습니다. 
(지금은 몇 몇 배포형 게시판에서 지원하고 있지만, 배포형 게시판에서 회원관리의 시발점이 된 것은 제로보드입니다)</p></li><li><p>제로보드는 사이트 제작 관련 작업을 계속하면서, 그리고 사용자들의 피드백을 계속해서 받으면서 사이트 제작시에 매우 적합하게 사용될수 있도록 발전되어 왔습니다. 이제 제로보드는 단순히 게시물만 쓰고 지우는 기능이 아닌 사이트와 잘 융화될수 있고 다양한 기능을 제공하는 솔류션의 성격을 가지고 있습니다</p></li><li><p>제로보드는 보안에 제일 신경을 쓰고 있습니다
초기에 제로보드에는 php나 아파치 서버에 의한 여러 보안 버그들이 존재하였습니다. 하지만 개발자의 노력과 사용자분들 및 여러 해커님들의 도움으로 계속해서 보안 버그들을 막아왔습니다. 제로보드는 보안에 가장 안전하다는 거짓말을 하지는 못하지만, 발견되어지는 보안 버그들은 최대한 빨리 패치하기 위해서 노력합니다.</p></li><li><p>이외 다양한 기능들이 존재하지만 기능에 대한 소개는 매뉴얼과 직접 사용하시면서 편리함을 느끼시기 바랍니다.</p></li></ul>

<p><strong>제로보드의 단점은요?</strong>
제로보드의 장점이자 단점이 File System이 아닌 DB를 이용한다는 것입니다.
즉, 일반적인 네띠앙, 드림위즈, 라이코스등의 무료계정에서는 MySQL DB를 지원하지 않으므로 설치할수 있는 환경을 고르기에 어려움이 있습니다.
하지만 홈페이지를 한번 쓰고 버릴 생각으로 만드는 것이 아니라면 깨어지기 쉬운 File System보다는 안전하고 관리가 편한DB를 사용하는 것이 더욱 바람직합니다.
이제 인터넷이 대중화 되었고, 홈페이지가 인터넷에서 자신을 가장 잘 표현하는 곳이 된 만큼 최소한의 노력이나 투자를아끼지 않는 것이 좋을것 같습니다.
* 제로보드를 설치할수 있는 계정 정보는 계정정보게시판에서 확인하실수 있습니다.</p>

<p><strong>제로보드를 사용하려면 어떻게 해야 하나요?</strong>
제로보드는 위에서 언급한 대로 신청하는 것이 아닌 다운받아서 계정에 올려 설치하는 게시판입니다.
초보분들은 설치하기에 어려움이 있을수도 있지만, 매뉴얼과 질답게시판, 그리고 제로보드 팁 게시판등을 참고하시면쉽게 설치하실수 있습니다.</p>

<p><strong>제로보드의 저작권은 어떻게되나요?</strong>
제로보드는 게시판 아래에 일정한 저작권 표시를 하도록 되어 있습니다.
저작권 표시를 무단삭제하거나 수정하지 않는다면, 개인뿐만 아니라 기관, 단체, 회사등에서도 무료로 사용하실수 있습니다.
제로보드의 저작권을 부득이하게 삭제하기를 원하시는 분께서는 register@nzeo.com 으로 메일로 문의하시면 됩니다.</p>

<p><strong>제로보드의 발전 과정에 대해서 간단히 말해 주세요</strong>
제로보드는 1999년 말에 처음으로 배포되기 시작했습니다.
제로보드는 일반적인 기능 구현은 당연한 것으로 생각하고, 게시판을 단순한 글만 적는 곳이 아닌 사이트에 어울리는, 그리고 보기 좋은 모습으로 만드는 것에 중점을 두었습니다.
2000년 중순에 발표된 제로보드 3는 당시로는 볼수 없었던 회원 관리 기능을 제공함으로서 프로그래밍 기술이 없는 사용자들에게 매우 도움이 되었습니다.
이 제로보드 3 이후로 여타 배포형 게시판에도 회원 관리 기능이 추가되기 시작하였습니다.
현재까지 패치레벨업이 되고 있는 제로보드 4는 2001년 초에 더 다양해진 회원 관리 기능과 쪽지기능, 게시판 관리기능,그리고 이미지 박스나 그림이름등의 새로운 기능을 선보이며 배포되었습니다.</p>

<p><strong>제로보드의 미래에 대해서 이야기 해주세요.</strong>
제로보드는 현재까지도 무료 배포였으며, 앞으로도 영원히 무료 배포될 예정입니다.
늘 새로운 기능과 모습을 보여드렸던 만큼, 다른 게시판에서 하지 못했던, 아니면 아직 구현이 되지 않았던 기능들을 추가하여 더 사용하기 쉽고 편리한 제로보드가 되도록 하겠습니다.
제로보드를 사용해 주시고 아껴주셔서 늘 감사합니다. 꾸벅~ (__)</p>

<h1>라이센스 안내</h1>

<p>ZeroBoard에 대한 라이센스입니다.
아래 라이센스에 동의하시는 분만 제로보드를 사용할수 있습니다.</p>

<p>프로그램명 : zeroboard (제로보드)
개발자 : zero (고영수)
Homepage : http://zeroboard.com</p>

<ol><li><p>제로보드의 배포권은 zeroboard.com에서 허용한 곳에만 있습니다.
(허락 맡지 않은 재배포는 허용하지 않습니다.)</p></li><li><p>제로보드는 저작권을 아래 3번항목에 의해 저작권을 표기하는 한도내에서
개인홈페이지 및 학교나 교회등의 비영리단체, 기업이나 기타 영리단체에서 사용할수 있습니다.</p></li><li><p>제로보드 사용시 저작권 명시부분을 훼손하면 안됩니다.
프로그램 소스, html소스상의 라이센스 및 웹상 출력물 하단에 있는 카피라이트와 링크를 수정하지 마십시요.
(저작권 표시는 게시판 배포시 작성된 형식만을 허용합니다. 임의 수정은 금지합니다)</p></li><li><p>단, 정식 등록버젼은 저작권 표시를 삭제할수 있습니다.
정식 등록버젼에 대한 문의는 http://zeroboard.com 에서 문의 방법을 찾아주시기 바랍니다.</p></li><li><p>링크서비스등의 기본 용도에 맞지 않는 사용은 금지합니다.</p></li><li><p>제로보드의 사용으로 인한 데이타 손실 및 기타 손해등 어떠한 사고나 문제는 전적으로 사용자에게
있습니다</p></li><li><p>제로보드에 대해 zeroboard.com 은 유지/ 보수의 의무가 없습니다.</p></li><li><p>제로보드 소스는 개인적으로 사용시 수정하여 사용할수 있지만 수정된 프로그램의 재배포는 금지합니다.
(저작권 관련 부분은 수정금지입니다)</p></li><li><p>제로보드에 쓰인 스킨의 저작권은 스킨 제작자에게 있으며 제작자의 동의하에 수정배포가 가능합니다.</p></li><li><p>기타 의문사항은 http://zeroboard.com 을 이용해 주시기 바랍니다.
(질문등에 대한 내용은 메일로 받지 않습니다)</p></li></ol>

<h1>설치조건</h1>

<p>제로보드 설치 조건
제로보드는 PHP+MySQL 로 제작되어진 공개형 무료 게시판입니다.</p>

<p>PHP나 MySQL을 알지 못하더라도 제로보드를 사용하는데는 아무런 문제가 없습니다.</p>

<p>하지만 기본적으로 계정이 무엇인지, FTP를 이용하는 법, 약간의 HTML 정도는 아셔야 겠지요?</p>

<p>그리고 제일 중요한 것은 자신의 계정에서 PHP와 MySQL을 지원하여야 한다는 것입니다.</p>

<p>일반적으로 많이 알려진 무료 계정업체들은 PHP와 MySQL을 지원하지 않습니다.</p>

<p>그럼 자신의 계정에서 PHP와 MySQL을 지원하는지에 대해서 알아보도록 하겠습니다.</p>

<p>이미 아시는 분은 넘어가셔도 됩니다.</p>

<p>방법은 2가지입니다.</p>

<p>계정을 제공하는 업체에 문의하는 방법과 자신이 직접 알아보는 방법입니다.</p>

<p>PHP와 MySQL을 지원하는 업체라면 왠만하면 미리 알려주기 때문에 지원 여부를 알아보는 것은 그다지 어렵지 않을 것입니다.</p>

<p>그럼 자신이 직접 알아보는 방법에 대해서 알아보도록 하겠습니다.</p>

<p>우선 메모장(notepad)를 실행합니다.</p>

<p>그리고는 다음과 같이 입력하세요.</p>

<img src="https://d2mxuefqeaa7sj.cloudfront.net/s_B8BED5F665C37DF3C710ADA1221C8BB149C60708D6C5ACAB4CBC37D45B48C69D_1470239617080_file.png" />

위와 같이 입력하였다면 <strong>phpinfo.php</strong> 라는 파일로 저장하세요.

<img src="https://web.archive.org/web/20040814112542fw_/http://www.nzeo.com/manual/images/1_2.gif" />


<p>참고로 지금 보시는 스크린샷은 영문 윈도즈이기 때문에 영어로 나옵니다. ^^
그럼 저장된 <strong>phpinfo.php</strong> 파일을 자신의 계정으로 업로드하세요.
계정으로 파일 업로드 하는 방법은 아시죠?
그럼 업로드가 되었으면 브라우저에서 확인을 하여 봅시다.
브라우저에서 주소창에 <strong>http://자신의홈페이지주소/phpinfo.php</strong> 라고 하면 됩니다.</p>

<img src="https://web.archive.org/web/20040814112542fw_/http://www.nzeo.com/manual/images/1_3.gif" alt="" />
<div id="output" class="content markdown-body"><p>만약 위와 같은 화면이 뜬다면 그 계정은 PHP+MySQL을 지원하는 계정입니다.
물론 이 방법을 알아보기 전에 이미 지원 여부를 확인하셨으리라 생각합니다.
그럼 다음으로 넘어가서 <strong>제로보드를 설치</strong>하여 봅시다.</p>

<h2>제로보드의 설치</h2>

<p>이제 제로보드를 자신의 계정에 직접 설치를 하여 봅시다.
우선 <strong>http://zeroboard.com</strong> 에서 제로보드를 다운 받으셔야겠지요?
제로보드는 <strong>.zip</strong> 파일과 <strong>.tar.Z</strong> 파일 2가지로 배포하고 있습니다.
리눅스에서 쉘명령어를 아시는 분은 .tar.Z 파일을 받아서 계정에 올린후 압축을 푸는것이 쉽습니다.
쉘명령어를 모르시는 분들을 대상으로 설명 하도록 하겠습니다.</p>

<p><strong>1. 다운 받은 제로보드 zip 파일의 압축을 푸세요.</strong>
압축을 풀면 bbs 이라는 디렉토리가 생성이 됩니다.</p>

<p><strong>2. bbs 디렉토리를 자신의 계정으로 업로드를 합니다.</strong>
업로드는 FTP 프로그램을 이용하시면 됩니다. </p>

<p><strong>3. FTP에서 bbs 의 디렉토리의 퍼미션을 777로 설정합니다.</strong>
저는 CuteFTP 를 이용하기 때문에 CuteFTP로 예를 들도록 하겠습니다.
아래 그림을 보시면 bbs 디렉토리에 왼쪽 버튼을 클릭하였을 경우 Change file attributes 라는 
메뉴가 있습니다.</p>

<p>물론 각 FTP 프로그램마다 용어가 다를수 있지만 대동소이 하니 잘 찾아보세요. ^^
이 메뉴를 클릭하면 다음과 같은 그림이 나타납니다.</p>

<img src="https://web.archive.org/web/20040806031617fw_/http://www.nzeo.com/manual/images/2_2.gif" alt="" />

<p>CuteFTP는 위와 같이 체크를 하거나 직접 입력할수 있게 되어 있습니다.
체크하는 방식이든 숫자를 입력하는 방식이든 모두 체크하거나 777로 입력하세요.
여기 까지 되었다면 반은 성공한것입니다.</p>

<p><strong>4. 이제 제로보드를 설치하여 보겠습니다.</strong>
제로보드의 install.php 를 실행하여 제로보드 설치를 시작합니다.
아래 그림처럼 브라우저를 여시고 제로보드의 install.php 부르세요.
<strong>http://자신의계정도메인/제로보드디렉토리/install.php</strong> 라고 하시면 됩니다.</p>

<img src="https://web.archive.org/web/20040806031617fw_/http://www.nzeo.com/manual/images/2_3.gif" alt="" />



<p>
위의 방법으로 입력하였을때 다음과 같은 화면이 나타납니다.
</p>

<img src="https://web.archive.org/web/20040806031617fw_/http://www.nzeo.com/manual/images/2_4.gif" alt="" />




<p>만약 위와 같이 <strong>{설치 시작} </strong>버튼이 나타나지 않고 아래와 같은 표시가 나타난다면 퍼미션을 
제대로 지정해야 합니다.</p>

<img src="https://web.archive.org/web/20040806031617fw_/http://www.nzeo.com/manual/images/2_5.gif" alt="" />


<p><strong>{설치 시작}</strong> 버튼이 나타났다면 버튼을 눌러서 설치를 시작합니다.</p>

<p><strong>5. MySQL DB 설정 하기</strong>
다음 페이지로 이동하면 아래와 같이 <strong>MySQL DB 를 설정하는 화면</strong>이 나옵니다.</p>


<img src="https://web.archive.org/web/20040806031617fw_/http://www.nzeo.com/manual/images/2_6.gif" alt="" />


<p>계정에서 MySQLl을 지원하면 이미 <strong>HostName</strong>, <strong>SQL UserID</strong>, <strong>Password</strong>, <strong>DB Name</strong>을 알고 있으실겁니다.
만약 내가 속해 있는 계정에는 이런 것에 대해서 언급이 없었다면 지원을 하지 않는 경우일테니
서버 관리자나 계정 담당자에게 확인을 하시기 바랍니다.
그럼 위의 MySQL DB 정보를 입력하고 <strong>{설정 완료}</strong> 버튼을 누르세요.</p>

<p><strong>6. 최고 관리자 정보 입력하기</strong>
<strong>MySQL DB </strong>입력이 정상적으로 이루어졌다면 아래와 같이 기본으로 이용될 최고 관리자 정보 입력화면이 나옵니다.</p>

<img src="https://web.archive.org/web/20040806031617fw_/http://www.nzeo.com/manual/images/2_7.gif" alt="" />


<p>관리자로 사용을 원하시는 <strong>ID</strong>, <strong>비밀번호</strong>, <strong>이름</strong>을 입력하시고 <strong>{정보 입력 완료}</strong> 버튼을 누르세요.
지금 입력하시는 관리자 ID는 계속 사용해야 하며, 분실시 관리자 화면으로 들어 갈수 없으니 꼭 
기억하셔야 합니다.</p>

<p><strong>7. 설치 완료</strong>
아래와 같이 제로보드 관리자의 인증을 요구하는 페이지가 나온다면 제로보드의 설치는 완료 된것입니다.</p>


<img src="https://web.archive.org/web/20040806031617fw_/http://www.nzeo.com/manual/images/2_8.gif" alt="" />


<div id="output" class="content markdown-body"><p>관리자로 사용을 원하시는 <strong>ID</strong>, <strong>비밀번호</strong>, <strong>이름</strong>을 입력하시고 <strong>{정보 입력 완료}</strong> 버튼을 누르세요.a</p>

<p>조금전에 입력한 관리자 정보로 로그인을 하시면 관리자 페이지가 나타납니다. 
이제 기본적인 설치는 성공하였습니다.
설치를 하신후에 setup.php 의 내용을 고쳐주셔야 합니다.
옆에 2번째 메뉴, * 설치후 확인사항 을 꼭 읽어보세요.</p>

<h2>설치후 확인사항</h2>

<p>다음은 제로보드의 기본설정 변경에 대해서 알아보도록 하겠습니다.
제로보드를 처음 설치후에 꼭 확인을 해보시는 것이 좋습니다.
우선 제일 위에 3개인 <strong>웹마스터 E-Mail, 사이트 주소, 사이트 이름</strong>은 꼭 입력하셔야 합니다.
입력하지 않으시면 비밀번호 찾기 기능이 동작하지 않습니다
기본 설정 변경은 <strong>setup.php</strong> 파일을 열어서 수정하시면 됩니다.
setup.php 파일을 열면 다음과 같은 내용이 있습니다.</p>

<pre><code>&lt;?/*

; 이 파일은 제로보드의 기본 시스템 및 기타 설정을 위한 파일입니다.
; 아래 항목중에서 필요한 부분을 수정하시기 바랍니다.
; 값이 없는 부분은 기본값으로 설정이 됩니다.


; 웹마스터 E-Mail (비밀번호 분실시 안내메일에서 필요합니다)
email =

; 사이트 주소 (비밀번호 분실시 안내메일에서 필요합니다)
url =

; 사이트 이름 (비밀번호 분실시 안내메일에서 필요합니다)
sitename =

; 세션 디렉토리 (기본으로 제로보드의 data/__ZbSessionTMP 디렉토리입니다)
session_path = data/__zbSessionTMP

; 조회수 세션 크기 조절 (지정된 크기보다 커지면 자동 삭제, byte 단위)
session_view_size = 512

; 추천수 세션 크기 조절 (지정된 크기보다 커지면 자동 삭제, byte 단위)
session_vote_size = 256

; 로그인 유효시간 (지정된 시간만큼 아무동작이 없으면 자동으로 로그아웃됩니다. 자동로그인시 제외. 초단위입니다.)
login_time = 1800

; 현재 접속자 사용 설정 ( true : 사용, false : 사용안함)
nowconnect_enable = true

; 현재 접속자 갱신시간 (지정된 시간이 지나야 현재 접속자 파일에 다시 접근합니다. 초단위입니다.)
nowconnect_refresh_time = 180

; 현재 접속자 유효시간 (지정된 시간내에 활동한 사람이 현재 접속자로 분류됩니다. 5분이 기본이며 분단위입니다)
nowconnect_time = 5

; 가입시 한글 아이디 사용을 허락 ( true : 사용, false : 사용안함)
enable_hangul_id = false

; E-Mail 의 MX를 검사하여 허위 E-Mail인지 검사 ( true : 허위 E-Mail 검사, false : 검사안함)
check_email = false

; 쪽지 보관 일수의 저장 ( ex) 10 -&gt; 10일)
memo_limit_time = 7

*/?&gt;</code></pre>

<p><strong>제로보드 디렉토리 구조</strong></p>

<p>지금 입력하시는 관리자 ID는 계속 사용해야 하며, 분실시 관리자 화면으로 들어 갈수 없으니 꼭 
기억하셔야 합니다.</p>

<p><strong>7. 설치 완료</strong>
아래와 같이 제로보드 관리자의 인증을 요구하는 페이지가 나온다면 제로보드의 설치는 완료 된것입니다.</p></div>

<img src="https://d2mxuefqeaa7sj.cloudfront.net/s_B8BED5F665C37DF3C710ADA1221C8BB149C60708D6C5ACAB4CBC37D45B48C69D_1470238634681_file.png" alt="" />

<h2>스킨 적용하기</h2>

<p>제로보드는 DB관리 및 회원 기능은 제로보드에서 모두 담당하고 외부출력은 스킨을 이용해서 출력됩니다.
스킨은 제로보드 설치 디렉토리의 skin 디렉토리 내에 있습니다
우선 원하는 스킨을 다운 받아 보도록 하겠습니다
제로보드의 스킨은 http://nzeo.com의 제로보드 채널에 수천개 이상의 회원님들이 공유하시는 스킨이 있습니다
일반스킨 자료실 : [http://nzeo.com/bbs/zboard.php?id=cgi<em>zskins2](https://web.archive.org/web/20040913122936/http://nzeo.com/bbs/zboard.php?id=cgi</em>zskins2)
추천스킨 자료실 : <a href="https://web.archive.org/web/20040913122936/http://nzeo.com/bbs/zboard.php?id=cgi_zskins2_vote">http://nzeo.com/bbs/zboard.php?id=cgi<em>zskins2</em>vote</a>
기본스킨 자료실 : <a href="https://web.archive.org/web/20040913122936/http://nzeo.com/bbs/zboard.php?id=cgi_zskins2_default">http://nzeo.com/bbs/zboard.php?id=cgi<em>zskins2</em>default</a>
위의 3군데의 공식 스킨 자료실에서 원하는 스킨을 찾아서 다운 받으세요.
그리고 압축을 푸세요.
그리고 압축이 풀린 디렉토리를 ftp를 이용하여 제로보드가 설치된 디렉토리의 skin 디렉토리로 업로드하시면 됩니다.
간단한 예를 들어보도록 하겠습니다
예로서 추천 스킨 자료실의 lifesay님의 snowboard - gray&amp;white 를 설치해보도록 하겠습니다.
1. http://nzeo.com 의 추천 스킨 자료실로 이동한다</p>

<img src="https://d2mxuefqeaa7sj.cloudfront.net/s_B8BED5F665C37DF3C710ADA1221C8BB149C60708D6C5ACAB4CBC37D45B48C69D_1470238760614_file.png" />

<p>
2. 원하는 스킨을 선택한후 다운로드를 받는다
</p>
<img src="https://web.archive.org/web/20040913122936fw_/http://www.nzeo.com/manual/images/iz3_2.gif" />

<p>
3. 다운받은 파일은 압축이 되어 있으므로 압축을 풀면 디렉토리가 생성이 됩니다.
</p>
<img src="https://web.archive.org/web/20040913122936fw_/http://www.nzeo.com/manual/images/iz3_3.gif" />


<ol><li>FTP를 이용하여 자신의 제로보드 디렉토리중 skin 디렉토리에 업로드를 합니다.
이 방법은 기본적인 FTP사용법은 아셔야 합니다.</li><li>그 후 스킨 적용을 원하는 게시판 설정에서 스킨을 선택하여 주면 됩니다.</li></ol>

<h1>관리자 기능 소개</h1>

<h2>관리자 페이지 요약</h2>

<p>제로보드의 관리자 페이지 화면은 다음과 같습니다</p>

<img src="https://d2mxuefqeaa7sj.cloudfront.net/s_B8BED5F665C37DF3C710ADA1221C8BB149C60708D6C5ACAB4CBC37D45B48C69D_1471455439552_file.png" />

<p>
메뉴는 왼쪽의 그룹별 관리 메뉴와 상단의 전체 관리 메뉴가 있습니다
</p>
<img src="https://d2mxuefqeaa7sj.cloudfront.net/s_B8BED5F665C37DF3C710ADA1221C8BB149C60708D6C5ACAB4CBC37D45B48C69D_1471455449420_file.png" />


<p>위 그림은 상단 전체 관리 메뉴의 그림입니다
전체 관리 메뉴는 최고 관리자만이 사용할수 있습니다
<strong>Uninstall</strong> : 제로보드의 DB와 파일을 모두 제거하는 메뉴입니다
<strong>DB 백업</strong> : 제로보드가 사용하고 있는 DB를 백업하는 기능입니다
<strong>DB 상태보기</strong> : 제로보드가 사용하고 있는 DB의 상태를 볼수 있습니다
<strong>첨부파일 정리</strong> : 첨부파일을 정리하고 쓰레기 파일을 삭제할수 있습니다
<strong>세션 비우기</strong> : 인증시 필요한 세션파일을 모두 지울수 있습니다
<strong>게시물 추적</strong> : 전체 게시판에서 키워들 이용하여 게시물 추적을 할수 있습니다</p>

<img style="width:auto" src="https://d2mxuefqeaa7sj.cloudfront.net/s_B8BED5F665C37DF3C710ADA1221C8BB149C60708D6C5ACAB4CBC37D45B48C69D_1471456587144_file.png" />



<p>왼쪽의 그룹 관리 메뉴입니다
그룹을 생성한후 선택이 되면 하위 메뉴들이 나타납니다
<strong>그룹설정</strong>: 그룹 설정을 할수 있습니다
<strong>삭제</strong>: 그룹을 삭제합니다
<strong>회원관리</strong>: 회원의 목록을 보고 관리할수 있고 전체메일을 보낼수 있습니다
<strong>가입폼</strong>: 회원 가입폼의 항목을 설정합니다
<strong>게시판 관리</strong>: 게시판의 목록을 보고 관리를 할수 있습니다
<strong>추가</strong>: 게시판을 추가합니다
<strong>새 그룹 추가</strong>: 새로운 그룹을 추가할수 있습니다</p>


