<p>
Zeroboard is a bulletin board system (BBS) software based on PHP and MySQL. It was created by Youngsu Ko, a.k.a. Zero, in the late 1990s; version 1.0 was released in 1999, version 4.0 in early 2001 and version 4.1 in early 2002. Partly thanks to freely distributed custom themes (called “skins”) and active communities of designers, Zeroboard became a representative BBS software in South Korea. After being acquired by NHN, the project was rebranded as the open source content management system (CMS) XpressEngine (XE), which is still in active development as of 2016. 
</p>

<p>Self-hosted BBS software such as Zeroboard, used for content publishing, had an important influence in the early days of the South Korean web. The relatively easy installation processes offered by some software was welcomed by web designers who were increasing in numbers. Not only have BBS software had a crucial role in shaping the small-scale web publishing format that is the personal website, but they also served as catalyst in web publishing-related communities that embraced both designers and developers. In addition to these software’s typical appearance, inherited from dial-up BBS layouts, their additional functionalities such as membership management and content filtering have formed the framework(ambiguous?) of internet-based South Korean online communities.
</p>

<h4>Self-hosted</h4>

<p>This story is about a generation that completely produced and published, as individuals, what constituted the World Wide Web. Compared to today’s social media, the technical barrier was very high and diverse back when individuals had to install BBS software in order to publish some text on the internet. However, since alternatives were essentially absent, creators of personal websites had to invest the time and effort to learn these skills; they were proud of what they had created and went on to organize communities within which they shared such skills. As internet usage became more common, creators of personal websites increased in numbers and the sharing of web publishing-related information became more active. 
 </p>

<p>The introduction of high-speed networks such as ADSL in the late 1990s created an environment where access to larger media than was possible using text-based BBS services such as HiTEL, Chollian and Nownuri; users were able to access documents displaying text and images simultaneously using browsers. These ADSL networks provided a download speed of ~200kb/s, a significant improvement from 56kBps modems or ISDN networks, which provided 5 to 30kb/s at most. The new always-on, fixed monthly fee services enabled an entirely new model of using networks; ADSL provided the basis for serious internet usage.
</p>

<p>As high-speed internet became available, some companies attempted to replicate in web browsers the online communication that was previously taking place in BBS services. Netsgo and Channeli were two such companies, providing BBS-like services in web browsers. While these companies provided internet content using their respective dedicated browsers, Netsgo Browser and Channelview, these browsers were not much more than the same old BBS structure, transported in color screens; one could also connect via dial-up modem, adding to the transitional trait of the services. These companies provided a partial internet experience to former dial-up BBS users; in fact, they were the first to promote technical knowledge required for personal websites to the South Korean public, such as setting up FTP servers. The years 1998 and 1999 saw technical conditions mature enough to enable the widespread usage of web browsers and URLs in order to visit websites (typically referred to as “home pages” in Korean) and gain information, not over dial-up connections but through the Web.
</p>

<p>While the infrastructure was there, a lot more was needed for personal websites to become popular. Some technical resources included:
</p>

<h4>Online storage for HTML documents (web hosting)</h4>
<p>
Systems that rent out some space out of the web server that hosts websites; nowadays, typical users are not especially required to know how to set up these spaces, or even about their existence. But this was a time where the only available medium for the online expression of one’s opinions—a task easily achievable by a tweet or Instagram photo nowadays—was the website. Therefore, many companies including existing BBS services like Chollian and newcomers like Netsgo and Channeli started providing website storage as a default feature like an email account. Companies like Netian (currently an online SMS service) and Hihome gained popularity by giving out free space for personal websites. Most of these early services were web portals that allowed limited uploads of HTML documents. Other services that specialized in web hosting soon emerged; these provided support for database-connected Common Gateway Interface (CGI) bulletin boards like Zeroboard. Cafe24 and Gabia are among early web hosting companies that are still active. These services typically provided support for web programming languages like PHP, restricted database access and storage, and throttled traffic.
</p>

<h4>Domain names</h4>
<p>
While personal domain names were not technically required—website storage services usually provided subdomains that included usernames, like http://chollian.co.kr/~mnsota—some power users went through the effort of purchasing them. The pe.kr domain became available in June 1996; <a href="http://digitalpia.co.kr/new-domain.html" target="_blank">purchase of the personal-use domain was restricted to one per individual</a>, and some people tried to preoccupy popular ones. One problem was that due to technical limitations of some web hosting services, the purchased domain could not be perfectly connected to the website. In order to address this problem, some companies provided forwarding services from the domain name to the hosting server’s address, usually with an advertisement in between. Services like wo.to provided short domain names for users without personal domain names.
</p>

<h4>HTML publishing tools</h4>

<p>
WYSIWYG type publishing tools spared the user from directly engaging HTML code in order to build a personal website. The South Korean software Namo Web Editor was released in 1997; Macromedia Dreamweaver and Microsoft Frontpage also became popular around that period. In the Korean context, Namo Web Editor was especially popular thanks to its Korean language support and its familiar interface—similar to that of the popular Hangul Word Processor.
</p>

<p>
<img src="https://d2mxuefqeaa7sj.cloudfront.net/s_99ECAF552C44A200581E23F1349D2FCE98DB6083426B3E3AECF0B129A523DE16_1471645248250_namo-web-editor-3.jpg" alt=""/></p>

<h4>Bulletin boards, guestbooks (CGI)</h4>
<p>
Building bulletin boards and guestbooks where people can write provided a space for communication between individuals. The metaphor of visiting someone’s home (“home page”) persisted until Facebook introduced the newsfeed paradigm. It was typical that a visitor would leave a message, like “Nice website,” in order to leave their trail. Another tool that served a similar purpose was the hit counter. The hit counter provides a very basic statistics, the sum of page visits; popular websites tended to emphasize the hit counter, in a boating manner.
</p>

<p>
  <a data-permalink="bbs-software" href="/lists/bbs-software" class="list-link">List of BBS Software</a>
</p>

<p>One thing about bulletin boards is that they are programs running on the Web; there are technical hurdles on the way of using them. Required technical skills included knowledge of languages like Perl or PHP, databases like MySQL; many companies, including Netian and Chollian, did not even support these software. This leads us to the appearance of free web hosting sites based on communities as described below.
</p>

<p>The people who were enthusiastic about building their own websites engaged in the early web, where there was not too much accumulated knowledge in terms of website building, experimenting with the possibilities of the new medium. While it is difficult to determine the age distribution, there were many teens and twenty-somethings. Some hosting services specialized in providing space for teenagers, who were essentially digital natives. It was typical to use nicknames, as was the case in BBS services; many websites were built from serious planning, in order to show one’s contents to others. These characteristics are well reflected in website titles, many of which had the structure “XX’s solar system info” or “YY’s Paintshop Pro lessons.” It was not difficult to find creative types, sensitive to both design and content required for better quality of the website. 
</p>

<p>One of the reasons Zeroboard became the tool of choice is that it appealed to these demographics. Jsboard is another bulletin board engine that was being distributed from linux-sarang.net, a relatively big community website frequented by developers and server engineers; thanks to its superior functionalities compared to other similar software, jsboard was welcomed by the developer community. However, its installation process was much more complicated and it lacked documentation tailored for less tech-savvy people, say, designers unfamiliar with databases. And this Zeroboard had. Moreover, some pioneering designers began distributing customized skins after they had managed to install Zeroboard; this was enough to draw the attention of other users-creators.
</p>

<p>
  <a data-permalink="zb-readme" href="/lists/zb-readme" class="list-link">Zeroboard readme</a>
</p>

<h4>The emergence of web hosting communities</h4>
<p>
Owning a website that runs web programs, like bulletin boards, was important to creators of early personal websites. Since services like Chollian or Netian did not provide such functionalities, one needed to actually buy servers and build everything from scratch in order to implement this. Around 1999, some online communities started to provide to its members integrated solutions for running personal websites; Zzagn (zzagn.net) was one of those. Zzagn’s administrator was known as the Dictator and was very selective in adding new members—one had to send an email to the Dictator, and if after one week there was no reply, one was out. Many of the selected members had themselves organized sizable online communities (such as the web design community run by zezz), or were providing quality contents or well-designed websites. Becoming a member of Zzagn was in a sense a testimony of one’s design and/or content producing ability, and therefore an admirable achievement.
</p>

<p>While these communities had technical advantages over typical web hosting services, like the ability to run CGI programs or near-unlimited storage, the community aspect and the selective process of adding new members was by itself a forte. The only requirements for inhabitants of Zzagn were to “provide quality contents” and “participate actively.” And they did actively provide quality contents. Even if it was possible to connect personal domain names, the inhabitants tended to use Zzagn’s domain and their nickname when promoting their websites; such was their pride towards their community.
 </p>

<p>
  <a data-permalink="notable-personal-website" href="/lists/notable-personal-website" class="list-link">List of Notable Personal Websites</a>
</p>

<p>
Meanwhile, the administrators of these communities themselves had a sense of responsibility as leaders of the South Korean internet. Yedong (yedong.com) was a sort of rival community to Zzagn, similarly managed; following the 2001 hacking of Zzagn<a id="rfn-1" href="#fn-1" class="sub">[1]</a>, Yedong’s administrator launched the <a href="http://news.khan.co.kr/kh_news/khan_art_view.html?artid=200203111755181&amp;code=900102" target="_blank">Warm Band-aid online banner campaign</a>, with a slogan that translates to “Bringing human warmth online; beautiful encounter,” in which more than 30K websites participated. Moreover, several administrator-level designers and programmers formed community websites that provided contents ranging across design and development. ZeZZ by wizz and zephyr, and Zetyx by Zero and Styx, were at the same time personal websites and communities where many web designers shared their work and other life-related stories. These "fusion"<a id="rfn-2" href="#fn-2" class="sub">[2]</a> websites served as important communities targeting designers and developers, until nzeo (nzeo.com) was created with the main purpose of distributing Zeroboard.

<p>The “self-hosted” internet environment, where one needed to build one’s website and use it to communicate, provided a level of freedom incomparable to that of social network services; however, one needed to overcome a significant level of technical hurdle. Still, the influx of internet user population was inevitable. During this process, self-hosted solutions like Zeroboard touched a sweet spot between technical difficulty and desire for one’s expression; they affected the shaping of a personal website culture during the following 7 to 8 years, persisting throughout the popularization of Cyworld Minihompy (circa 2003) and the deprecation of Naver Myhome (2008). Individuals who managed to jump over the technical hurdles developed design strategies like image-text?, shared Photoshop tutorials, created quality contents and managed websites. It was a time of Web makers, comparable to the 2010s’ hardware maker movement.</p>

<h4>Bulletin Board</h4>

<p>While the “self-hosted” aspect of BBS software had a role in shaping the personal website culture in the early Korean web, the bulletin board is still dominating the Korean web as interface for creating/reading/updating/deleting (CRUD) content on the internet. Especially, it has had a crucial role in shaping the structures of online community websites. The interface of BBS services was granted a life extension through Zeroboard; along with additional functionalities such as membership management, this has been applied to the building of online communities—and continues to do so.
</p>

<p>
  <img src="https://d2mxuefqeaa7sj.cloudfront.net/s_8624BE51AF76562226B89295A58E83BDB82E3268F71116BD01127341E3C8B3DF_1470368582742_.jpg" alt="" />
</p>

<p>The archetypical bulletin board can be traced back to BBS services. A table view displays about 20 articles per page, including each entry’s title, date, author, hit count and recommendation count; one could read an article by typing in its id number. Zeroboard employs an almost identical system—probably a strong influence from early BBS services. 
</p>

<p>Thanks to Zeroboard’s popularity, Korean internet users became more and more familiar to bulletin board interfaces. Bulletin boards became a standard feature not only for personal websites, as mentioned above, but for basically every website. Company websites have boards for customer inquiries; popular online community platforms such as Cyworld Club and Daum Cafe are also designed as collection of boards. This was almost without exception how every website requiring to give access to many users was created. 
.</p>
<p>
<a href="/lists/zb-communities" data-permalink="zb-communities" class="list-link">List of Zeroboard-based online communities</a>
</p>

<p>As Zeroboard began to dominate personal websites, powerful membership management functionalities were added. This enabled the management of a basic community, where members can sign up and submit entries. Many structural characteristics that many Zeroboard-based community websites shared can be traced back to Zeroboard’s admin page.
</p>

<h4>
Community as collection of boards
</h4>

<p class="expand">
  <img src="https://d2mxuefqeaa7sj.cloudfront.net/s_8624BE51AF76562226B89295A58E83BDB82E3268F71116BD01127341E3C8B3DF_1470445524255_Screenshot+2016-08-05+21.05.13.png" />
</p>

<p>A quick look at the admin interface of Zeroboard 4 reveals the system’s basic structure: the administrator can create a group, and then one can adjust sign-up restrictions and add new boards to this group. In other words, the main function of Zeroboard is to create an environment where members of the same group have access to different boards. This structure is commonly found in Korean community websites, where the typical behavior is to sign up and use multiple boards.
</p>

<div class="quote-area"><h4>폐쇄성</h4><p>커뮤니티 플랫폼은 외부와의 연결을 제한하거나 플랫폼 제공자의 구미에 맞게 재단함으로써 트래픽(=광고수익)을 통제하고자 한다. 인터넷의 본질적 개방성과 어긋나는 것 같지만, 네이버나 페이스북을 생각하면 매우 유효한 사업 전략임을 인정하게 된다. 언론사 웹사이트에서 기사에 관련 외부링크 대신 키워드 광고가 걸려 있는 것도 넓은 의미에서 비슷한 행위로 생각할 수 있다.</p><p>사용자를 외부로 내보내지 않기 위해 플랫폼은 모든 것을 제공한다. 내지는 모든 것을 제공한다는 느낌을 준다. 플랫폼이 제공하는 것은 흔히 콘텐츠라고 불리는데 이는 단지 내용뿐 아니라 기술적인 요소까지도 포함하며, 기능면에서도 나타나고 시각적으로도 나타난다. 네이버나 페이스북이 제공하는 서비스의 종류는 전부 세기 어려울 정도이며, 그 수를 제대로 파악하고 있는 것은 본사 기획팀 정도일 것이다. 독점적 지위를 누리는 포털 내지 소셜미디어만 이런 접근을 택하는 것은 아니다. 시작페이지/즐겨찾기 웹사이트, 게시판형 대규모 커뮤니티, 웹호스팅업체 등 일군의 웹사이트는 정말로 모든 것을 제공하겠다는 의지를 강력하게 드러낸다. 그리고 이들 웹사이트를 바라보고 있으면 다른 것이 필요없을 것 같은 기분도 든다.</p><p>객관적으로 바라볼 수 있는 전체는 어쩌면 존재하지 않거나, 적어도 지금 여기를 상상하는 일과 거리가 멀 것이다. 실질적인 의미에서 사람이 연결되어 있는 네트워크는 매우 작으며, 인터넷으로 매개된다고 한들 망 전체와 상호작용하는 것은 아니다. 커뮤니티 플랫폼에서 이러한 성향은 더욱 강화되고 사용자는 폐쇄된 네트워크 안에서 움직이게 된다. 익명의, 혹은 네임드인 사용자들이 게시하는 내용이 곧 웹 경험을 구성한다. 이 내용 중 일부는 게시자가 만들어낸 것이고, 일부는 링크거나 퍼온 것이다. 이들 웹사이트 외부에서, 검색엔진 등에 의존해 웹을 탐색하는 일은 좀처럼 생기지 않는다. 물론 검색엔진도 매개된 웹 경험이다. 하지만 웹을 인덱싱해 IR을 용이하게 만드는 것이 존재 목적인 검색엔진과 달리, 커뮤니티 플랫폼에서 정보를 취사하고 제공하는 주체는 개별 사용자의 선택이다. 이는 본인의 지인 네트워크와 그들과의 상호작용이 알고리즘을 학습시켜 내용을 맞춤형으로 제공해주는 소셜미디어와도 다른 모델이다. 소셜미디어에서 알고리즘이 수행하는 일을 사람들이, 조금 더 엄밀히 말하면 해당 커뮤니티 내 지배적인 문화적 성향과 그에 순응하거나 때로는 저항하는 사용자들의 노력의 총합이 수행하고 있는 것이다.</p><p class="quote-area__last">집단-문화적 필터를 거쳐 정보를 제공하는 이들 커뮤니티에서는, 정보에 부가 노이즈—내지는 메타데이터—와도 흡사한 문화적 흔적이 따라 붙는다. 해당 커뮤니티에 고유한 방언뿐만 아니라, 정보 대상에 관한 가치판단 또한 게시물에 다양한 방식으로 내재된다. </p>
</div>

<p>
<img src="https://d2mxuefqeaa7sj.cloudfront.net/s_8624BE51AF76562226B89295A58E83BDB82E3268F71116BD01127341E3C8B3DF_1470446943201_Screenshot+2016-08-05+21.28.57.png" />
</p>
</div>

<p class="expand">
<img src="https://d2mxuefqeaa7sj.cloudfront.net/s_8624BE51AF76562226B89295A58E83BDB82E3268F71116BD01127341E3C8B3DF_1470447632674_Screenshot+2016-08-05+21.40.13.png" />
</p>

<h4>Signing up: leveling up and resident registration number (RRN) authentication
</h4>
<p>
Early versions of group permission management preferences included the prevention of multiple accounts using the Korean resident registration number. This was used as personal identification number, until a law was passed that prohibited the collection of these numbers. Once members have signed up, they are given level numbers preconfigured by the administrator; the numbers correspond to permission levels. In the admin preferences, different actions such as reading and writing articles, replies and comments, hidden articles, use of HTML tags could be assigned separately to levels 1 to 10. This reflects the administrator’s perspective, who has to delicately control the community.
</p>

<div class="quote-area"><h4>회원등급제</h4><p>공개 커뮤니티라도 아무에게나 참여의 권한을 열어두는 것은 여러 문제를 유발한다. 가령 스팸을 막기 위해서라도 최소한의 차단 장치는 마련해두어야 하는데, 대표적인 것이 회원제다. 회원이 된다는 것은 시스템에 자기 고유의 식별번호를 등록하고, 그 아이디를 통해서 시스템에 대해 행사할 수 있는 일정한 권한을 얻는다는 뜻이다. 게시판의 경우에는 DB에 접근할 수 있는 권한의 수준을 말하며, 사용자의 등급(관리자, 일반회원, 비회원 등)에 따라 권한의 종류도 달라진다. 관리자는 CRUD의 모든 권한 내지 상당 부분을 갖고 있으며, 일반회원은 자기 자신이 생성한 게시물에 대해 해당 권한을 갖고, 비회원은 읽기 권한만 있거나 아예 접근 권한이 없는 것이 일반적인 권한 구분 방법이다. </p><p>일부 커뮤니티에서는 회원 등급을 얻기 위해 일련의 행동을 요구한다. 일종의 게이미피케이션이라고도 볼 수 있는데, 요구되는 행동은 자기소개에서 일정한 수 이상의 댓글이나 게시물 달기 등 여러 종류가 있고, 많은 경우 게시판을 활성화시키는 행동을 장려하는 식으로 규칙이 정해진다. 이는 비회원에게 장벽으로 작용하는 한편 회원의 자질을 담보하는 장치로 기능한다. 회원이 되기를 원하는 사람에게 일련의 의식을 강제하는 행위는 한편으로는 그 의식을 감수하면서까지 커뮤니티 참여를 원하는 사람을 선별하는 효과가 있을 것이고, 또 한편으로는 커뮤니티 활동에 시간과 노력을 투자하는 일 자체가 해당 커뮤니티에 대한 소속감 및 애착을 키우기도 할 것이다. 회원의 권한 조정(등업)은 흔히 수동으로 이루어진다. 정해진 미션을 수행하고 “등업게시판”에 등업을 요청하는 게시물을 올리면, 관리자가 주기적으로 (혹은 편할 때) 자격 충족 여부를 확인하고 등급을 조정한다.</p><p class="quote-area__last">한편, 철저한 실명제에서 사실상 실명에 가까운 닉네임 회원제, 일체의 회원가입절차를 두지 않은 익명제 등 다양한 커뮤니티들이 사용자들에 어떤 영향을 끼쳤는지 생각해보는 것도 흥미로운 일이다. "인터넷에서는 아무도 당신이 개인지 모른다"는 격언은 스스로를 숨길 수 있다는, 프로토콜이 제공하는 익명성에 관한 이야기만은 아니다. 이 격언의 다른 함의는 자신을 숨기는 것을 넘어서, (진짜건, 가짜건, 존재하지 않건 간에) 정체성을 스스로 새롭게 정의하고 조작하고 결정할 수 있다는 것이다. 그렇다면 우리는 사이보그와 반려동물을 넘나드는 포스트휴먼 혼종 자아에 가까워진 것일까, 혹은 모두가 개가 되어버리는 편에 가까워진 것일까? </p></div>

<p class="expand">
<img src="https://d2mxuefqeaa7sj.cloudfront.net/s_8624BE51AF76562226B89295A58E83BDB82E3268F71116BD01127341E3C8B3DF_1470448552304_Screenshot+2016-08-05+21.55.41.png" />
</p>

<h4>Article categories</h4>

<p>Each articles can be assigned categories, which also can be used as filters.</p>

<h4>Recommendation and disapproval</h4>

<p>Since Zeroboard 4.1, recommendation became a default feature; this affected some communities’ approach to curating articles with high counts of recommendation, such as the Hit Gallery of dcinside.com.
</p>

<div class="quote-area"><h4>도배</h4><p>게시판 기반 커뮤니티는 관심의 경제가 지배하는 곳이다. 일반적으로 관심은 조회수, 리플, 추천 등으로 지불되며, 커뮤니티에 따라 사용자가 축적한 타인의 관심이 (예컨대 네임드가 된다거나 하는 식으로) 일종의 사회적 자본으로 이어지기도 한다. 하지만 통상적인 규범에 따라, 즉 좋은 게시물을 올림으로써('좋음'이 무엇인지는 커뮤니티마다 다르고, 한 커뮤니티 안에서도 맥락에 따라 다르다)가 아니라 다른 방법으로 관심을 확보할 수도 있다. 한 가지 전략은 같은 게시물을 짧은 시간 안에 반복해서 올림으로써 게시물의 목록에서 시각적으로 더 많은 비중을 차지하는 것을 노리는데, 이것을 도배라고 한다. 다른 커뮤니티를 사보타지하기 위해 행해지는 도배를 “털기”라고 부르기도 한다. 도배는 스크립트를 활용할 때도 있지만, 수동으로 진행되는 경우가 많다. 후자의 경우에는 글쓰기 화면 입력폼에 들어갈 내용을 메모장 등에 저장해놓고 최선을 다해 복사-붙여넣기 단축키를 반복한다.</p><p>많은 커뮤니티에서는 내부 규칙에 도배를 금지하는 내용을 명시해두고 있다. 동일한 제목/내용 반복 게시를 아예 금지하거나 일정 기간당 몇 회 이하로 제한하는 경우도 있고, 명확한 규정 없이 '중복 게시물은 삭제될 수 있다' 식으로 선언하고 넘어가는 경우도 있다. 어느 경우에나, 사용자 개인의 선택에 호소하는 셈이다. 내부 규칙에도 불구하고 누군가 중복 게시물을 올리거나 도배를 하기로 결정하면, 해당 게시물을 삭제하는 것은 대개 '알바', 즉 게시판 관리자의 역할이다. 게시물 삭제 역시 스크립트를 활용할 수도 있고, 수동으로 할 수도 있다.  </p><p>게시판은 데이터(베이스)와 이용자 사이의 인터페이스로, 어떤 의미에서 매우 투명하다. DB를 구성하는 변수들이 정직하게 (DB 구조와 흡사하게, 위계적으로) 웹페이지에 드러난다. 게시물을 구분해주는 요소는 제목, 카테고리, 조회수, 리플수, 추천수 등이다. 단일 지정만 가능한 제로보드의 카테고리 기능은 블로그 이후 보편화된 태그나 워드프레스의 멀티 카테고리 지정 등의 기능과 비교했을 때 다소 원시적이지만, 제로보드에 포함된 기능이기 때문인지 보편화되었다. 당신의 게시물은 질문인가, 답변인가, 잡담인가? 글인가, 이미지인가, 동영상인가, 기타인가? 유머인가, 감동인가, 충격인가? 요컨대 게시판형 커뮤니티에는 포크소노미folksonomy가 엄밀한 의미에서 존재하지 않는다- 혹은 시스템 차원에서 기술적으로 지원되지 않는다. 그 자리를 대신하는 것은 사용자의 선택과 그것이 모여 형성하는, 동질성의 당위에 지배받는 집단-문화적 필터다.</p><p>비슷한 맥락에서, 도배를 가능하게 하는 것들 중 하나 역시 게시판 자체의 작동 방식이다. 제로보드나 유사한 게시판에서 게시물은 대개 등록된 순서의 역순으로, 최신 게시물부터 보여진다. 조회수나 추천수 순으로 정렬할 수도 있는데, 그럴 경우 최신에 업데이트된 게시물을 목록 위쪽에서 보기 힘들다. 게시물이 무엇이건 간에 어쨌건 등록하면 목록에 올라간다. 그러므로 마음만 먹으면, 자신의 글로 게시판을 뒤덮을 수 있는 것이다. 그에 따르는 제재(게시물 삭제에서 IP 밴까지)는 감수해야겠지만. 게시판은 게시물의 노출 여부와 순서의 결정이 사용자와 관리자의 개별 행동에 강하게 의존하는 시스템이다. 도배는 게시물의 노출 순서를 결정하는 원시적 규칙을 악용함으로써 시선을 끌고자 한다는 면에서 스팸과 맞닿아있고, 특수문자의 남용과도 밀접하다. </p><p class="quote-area__last">커뮤니티 사이트들이 도배를 막기 위해 오직 사용자의 양심과 알바의 노동에만 의존하는 것은 아니다. 추천과 비추천 등 다른 사용자들의 피드백이 반영되기도 하고, 시스템 차원에서 게시물을 보여주는 방식을 개선하기도 한다. 중복된 게시물을 찾아 알바에게 전달하거나 직접 삭제하는 스크립트를 돌리는 등 질 나쁜 정보를 제거하는 방향의 노력이 존재하는 한편, 반대로 좋은 게시물을 더 많이 노출시키는 접근도 있다. 일부 커뮤니티들은 조회수와 추천수가 높은 최신 게시물을 선별해 게시하는 별도의 (Best, Hit, Hot 등의 수식어가 달린) 게시판을 운영하기 시작했다. 인기 콘텐츠가 몰려 있는 이들 게시판은 자연스레 많은 사람들이 드나들게 되었고, 별도의 웹사이트로 독립하기도 했다.</p></div>

<p>
<img src="https://d2mxuefqeaa7sj.cloudfront.net/s_8624BE51AF76562226B89295A58E83BDB82E3268F71116BD01127341E3C8B3DF_1470449725752_Screenshot+2016-08-05+22.15.16.png" alt="" />
</p>

<h4>Abusive words</h4>

<p>
Most platforms had some version of profanity filtering system, such as in-game chats that converted known curse words to asterisks. Some users started using special characters between letters in order to avoid triggering the filters, which led to the shaping of some online dialects. 
</p>

<p>
Reactions to articles initially included replies and comments, both of which were used. However, the reply function was dropped eventually, possibly because the indentation given to replies affected the website’s layout and readability. Since then, the main components of a board became articles and comments. Zeroboard provided an option to either allow or disable comments. 
</p>

<div class="quote-area"><h4>코글</h4><p>소위 신상털기 프로그램이나 코글 등은 얼핏 대단한 해킹 도구 같이 느껴지지만, 피싱 툴 등이 달린 일부를 뺀 나머지 상당수는 한 화면에서 여러 검색엔진과 포털, 커뮤니티 사이트를 탐색할 수 있도록 모아놓은 일종의 래퍼wrapper에 지나지 않는다. 지금 어지간한 웹브라우저에 있는 검색엔진 커스터마이제이션과 별로 다를 바 없다. </p><p class="quote-area__last">이 별 것 없는 도구가 위력을 발휘한 데는, 혹은 위력을 발휘한 것처럼 인식된 데는 여러 이유가 있을 것이다. 네이버나 커뮤니티 등의 내부에서 제한된 콘텐츠를 접하는 데 익숙해진 사용자들에게 날 것에 가까운 검색 결과를 각 사이트마다 별도로 지정된 검색경로를 이용해 얻는 일이 새롭게 느껴졌을 수 있다. 한편으로는 디지털 문헌조사가 보기와 달리 얼마나 수작업인지를 드러내는 장면이기도 하다. 더불어 온라인 흔적의 개념이 덜 보편화되어 있던 시절의 반영이기도 하며, 무엇보다 한국에서 온라인 폭력이 활발했기 때문이기도 하다. 특히 이 마지막 지점에 관해서는 젠더 정치에 관한 논의가 어느 때보다 활발한 지금, 과거의 사건사고를 되돌아보고 재평가할 여지가 넓어 보인다.</p></div>

<p>
The bulletin board management system and its UI significantly influenced many online community websites and platforms. Zero claimed in an interview that at some point, as much as 30% of the South Korean internet traffic was generated through Zeroboard<a id="rfn-3" href="#fn-3" class="sub">[3]</a>; indeed, many platforms frequented by Korean internet users, constantly posting and commenting, are based on Zeroboard or similar software. This interface, different from the forum interface typical in the U.S. (Reddit, Quora, Stack Overflow, etc) and the thread interface that can be found in Japan (2ch), has become a characteristic of Korean online communities.
</p>

<h4>맺음말</h4>

<p>제로보드 자체는 이미 10여 년 전에 보안 패치마저도 중단된 프로젝트이지만, 제로보드로 대표되는 설치형 게시판은 지난 15년 이상 한국 인터넷에 독특한 흔적을 남겨 왔다. 복잡한 기술적 장벽을 어느 정도 줄여준 설치형이라는 특성에 힘입어 개인 홈페이지의 시대에 없어서는 안 될 중요한 소통의 도구로서 역할을 다했고, 제로보드가 남겨놓은 인터페이스의 흔적은 커뮤니티 사이트에서 메시지 전달 도구로 매우 큰 영향력을 아직도 행사하고 있다. 제로보드가 가지고 있던 한국 맥락에서 고유한 의미들을 현재 2016년에 다시 꺼내보는 것은 현재 데이터 소유의 주체성이 희미해져가고 있는 지금의 인터넷 환경에서 개인과 인터넷 플랫폼 업체와의 관계를 처음부터 다시 생각해볼 수 있다는 여지를 주는 점에서, 또 한국 인터넷 커뮤니티의 지형을 게시판 인터페이스라는 관점으로 이해하고 다음 버전의 인터페이스를 고민해볼 수 있다는 점에서 미래의 적절한 대안과 담론을 형성하는 데 도움을 줄 것이라 생각한다.</p>

<p>현재의 인터넷은 점점 더 중앙집중화되어 가고 있다. 개인 홈페이지, 혹은 싸이월드에서도 공유하고 있던 “(미니)홈 페이지" 라는 개념은 이제 페이스북의 뉴스피드 알고리즘과 함께 완전히 사라져 버렸고 우리는 그냥 페이스북이 모아놓은 정보를 보던지, 인스타그램에서 내가 팔로우한 사람만 보는 선택을 한다. 누군가의 집에 찾아가는 일은 없어졌다. 개인 홈페이지라는 것은 포트폴리오 사이트를 구축하는 디자이너가 아니라면 도저히 가질 이유가 없는 그런 것이 되었고, 독립형 블로그들도 중앙 집중형 웹 출판 플랫폼들로 묶이고 있다.  </p>

<p>이란 출신의 캐나다 저널리스트이자 이란에서 저명한 블로거인 호세인 데라크샨은 이러한 중앙 집중형 웹 문화를 비판하는 어조의 글을 기고했다<a id="rfn-4" href="#fn-4" class="sub">[4]</a>. 그는 이란 정부에 의해 스파이 혐의 등으로 2008년부터 6년 간 감금되어 있다가 2014년에 풀려났다. 6년이라는 세월은 웹 세계에서는 영겁의 시간과 비슷하였고, 특히 그 기간 동안 발전한 소셜 미디어의 양상은 그가 이전에 익숙했던, 그리고 어쩌면 웹의 이상과 더 가까웠던 블로고스피어의 세계와 너무나도 다른 것이었다. “우리가 지켜야 할 웹The Web We Have to Save”이라는 제목의 이 글에서 그는 뉴미디어의 스트림Stream 문화가 하이퍼텍스트와 하이퍼링크가 가지는 탈집중적 효과를 거세하고 하이퍼텍스트를 그저 하나의 사진이나 텍스트와 같은 오브제로 취급해버림으로써, 더더욱 사람들이 소셜 미디어에 종속되도록 만든다고 설명한다.</p>

<p>“6년 전 나에게 하이퍼링크는 돈과도 같았다. 하이퍼텍스트라는 아이디어를 기반으로 한 하이퍼링크는 실제 사회가 가지고 있지 못한 다양성을 제공하고 탈집중화를 도왔다. 하이퍼링크는 모든 집중화—링크, 선, 그리고 권력구조—를 막는 방법으로, 이러한 집중화에서 나타나는 산물들을 좀 더 분산된 시스템 안에서의 노드와 네트워크로 만들어 주었다. [하지만] 거의 모든 소셜미디어는 하이퍼링크를 글을 더 풍부하게 만들어주는 수단이라기보다는, 그저 사진이나 텍스트와 같은 객체로 취급한다… [그리하여] 하이퍼링크는 객체화되고, 고립되어 힘을 잃게 된다.” (Derakhshan, 2015)</p>

<p>이렇듯 한 손으로 꼽을 수 있는 글로벌 업체의 서비스에 자신의 모든 데이터, 자신의 모든 메시지, 자신의 모든 모습들을 저장하고 공유하고 한 곳에서 스트리밍 당한다. 데이터를 재료로 하여 권력과 부가 형성되는 것은 인터넷 비즈니스의 핵심이 된 터, 개인들은 데이터를 회사들에게 넘기고 그 대가로 인터넷 서비스를 이용하고 있다. 우리는 어떤 도구와 생각을 가지고 인터넷에서 메시지를 전달해야 할까? 글로벌 기업이 인프라와 도구, 네트워크를 모두 제공하는 이 시대에, 우리의 데이터를 넘겨주는 대가로 이것을 이용하면 되는 것일까? 지금 이 시대에 맞는 대안적 메시지 전달 도구가 필요하긴 한가? 그것은 어떤 형태일까? 이와 같은 논의를 염두에 두고, 한국의 웹에 남아 있는 게시판이라는 레거시에 다시 눈길을 돌린다. </p>

<p>게시판은 개선의 여지가 많은 인터페이스의 형태다. 하지만 마치 QWERTY 자판<a id="rfn-5" href="#fn-5" class="sub">[5]</a>처럼, 비효율적이지만 우리 삶에 익숙한 요소로 자리잡은 제로보드의 인터페이스에 누군가 사형선고를 내릴 수 있을 것인가? 앞으로 답해야 할 많은 질문이 남아 있다. 지금의 한국 웹 커뮤니티의 구조는 우리가 원하는 것을 이루는 데 최적화되어 있나? 블로그, 소셜네트워크, 메신저 등은 어떤 대안을 제공하는가? 이것들이 충분하지 않다면 어떤 구조와 기술이 새로 필요하고 어떤 합의와 문화가 형성되어야 하는가?</p>

<hr>
<h4>각주</h4>
<p>
<a id="fn-1" href="#rfn-1">[1]</a> 짜근 커뮤니티는 설립 이래로 지속적인 크래킹 시도를 받아왔는데, 결국 2001년 2월 2일에 심각한 크래킹 공격을 받아 사이트 자체가 폐쇄되는 사건이 벌어졌다. 경향신문: <a href="http://news.khan.co.kr/kh_news/khan_art_view.html?artid=200203111755181&code=900102">http://news.khan.co.kr/kh_news/khan_art_view.html?artid=200203111755181&amp;code=900102</a></p>

<p>
<a id="fn-2" href="#rfn-2">[2]</a> 디자이너와 개발자가 협업하여 웹사이트 하나를 만들고 운영하는 개인 홈페이지의 한 형태로, 주로 웹 디자인 지식과 홈페이지 구축을 위한 개발 지식을 동시에 공유하는 내용을 다뤘다. 위쯔wizz와 서풍zephyr의 ZeZZ, 제로Zero과 스틱스Styx의 Zetyx와 같은 커뮤니티 겸 홈페이지는 여러 웹디자이너와 개발자들의 작업 자랑에 더해 이들의 일상을 공유하는 커뮤니티의 성격으로까지 발전했다.</p>


<p>
<a id="fn-3" href="#rfn-3">[3]</a> 전자신문: <a href="http://www.etnews.com/200703190105" target="_blank">http://www.etnews.com/200703190105</a></p>


<p>
<a id="fn-4" href="#rfn-4">[4]</a> 아이러니하게도, 데라크샨은 이 글을 중앙 집중형 퍼블리싱 플랫폼인 미디엄(<a href="http://medium.com" target="_blank">medium.com</a>)에 기고하였는데, 시대의 흐름이 어쩔 수 없음을 인정하는 것인지도 모르겠다. 실제로 코멘트 중에는 제발 이 글을 블로그에 올려달라고 하는 내용이 있기도 하다.</p>

<p>
<a id="fn-5" href="#rfn-5">[5]</a> “일반적인 타자기 맨 윗줄 자판 배열은 QWERTY로 시작한다. 내게 있어서 이는 기술이 얼마나 진보 대신 구태를 유지시키는 힘으로 작용하기 쉬운지를 상징한다. QWERTY 자판의 존재는 합리적 이유가 없다. 오직 역사적 이유만 있을 뿐이다. 타자기 등장 초기에는 글쇠가 엉키는 문제가 있었는데, 이를 해결하기 위해 지금과 같은 자판 배열이 도입되었다. 연달아서 쓰이는 일이 잦은 글쇠를 서로 떨어뜨려서 충돌을 피한다는 발상이었다. 몇 년 지나지 않아 여러 분야의 기술이 발달하면서 글쇠가 엉키는 문제는 해결되었지만, QWERTY 자판은 그대로 남았다. 한 번 도입이 되자, 해당 배열의 타자기 수백만 대와 본격적인 타자 교습법까지 등장한 것이다. QWERTY 자판이 손에 익은 사람이 너무도 많아서 말하자면 기득권이 형성되었고, (예컨대 많이 쓰이는 글쇠를 모아놓는 식의) 변화에 드는 사회적 비용은 증가했다. 더 ‘합리적인’ 다른 자판체계가 등장했지만 QWERTY는 건재했다. 더구나 어떤 사람들은 ‘객관적으로’ QWERTY 배열을 정당화하려 한다. 그 사람들은 ‘이것이 최적화된다’거나 ‘저것을 최소화한다’고 주장할 것이다. 이들의 주장에는 합리적 근거가 없다. 반면, 어떤 시스템의 미개함을 정당화하는 데 쓰이는 근거 없는 신화가 어떻게 형성되는지, 그 사회적 과정을 잘 보여주는 사례다.” (Papert, 1980)</p>


<h3>참고문헌</h3>

<ol><li>De Montjoye et al. <em>openPDS: Protecting the Privacy of Metadata through Safe<strong> </strong>Answers**.</em> PLoS ONE, 2014.</li><li><a href="https://medium.com/@h0d3r">Derakhshan, Hossein</a>. <em>The Web We Have to Save</em>. 2015. <a href="https://medium.com/matter/the-web-we-have-to-save-2eb1fe15a426?mod=e2this#.c2qqp4g4v" target="_blank">https://medium.com/matter/the-web-we-have-to-save-2eb1fe15a426?mod=e2this#.c2qqp4g4v</a></li><li>Papert, Seymour. <em>Mindstorms: Children, computers, and powerful ideas</em>. Basic Books, Inc., 1980.</li><li>Zuckerman, Ethan. <em>From disastrous decisions to decentralization: a mostly spontaneous talk for Data &amp; Society.</em> <a href="https://medium.com/@EthanZ/from-disastrous-decisions-to-decentralization-a-mostly-spontaneous-talk-for-data-society-983dd613781e#.za5765ghg" target="_blank">https://medium.com/@EthanZ/from-disastrous-decisions-to-decentralization-a-mostly-spontaneous-talk-for-data-society-983dd613781e#.za5765ghg</a></li><li>최순욱, 「 [인터뷰]제로보드 개발 고영수 NHN 과장」,『전자신문』, 2007.3.20. <a href="http://www.etnews.com/200703190105" target="_blank">http://www.etnews.com/200703190105</a></li><li>최효찬, 「 ‘인터넷 따뜻밴드 운동’ 방제완씨의 야망」,『경향신문』, 2002.3.11. <a href="http://news.khan.co.kr/khnews/khanart_view.html?artid=200203111755181&amp;code=900102" target="_blank">http://news.khan.co.kr/khnews/khanart_view.html?artid=200203111755181&amp;code=900102</a></li></ol>