<p>
Zeroboard is a bulletin board system (BBS) software based on PHP and MySQL. It was created by Youngsu Ko, a.k.a. Zero, in the late 1990s; version 1.0 was released in 1999, version 4.0 in early 2001 and version 4.1 in early 2002. Partly thanks to freely distributed custom themes (called “skins”) and active communities of designers, Zeroboard became a representative BBS software in South Korea. After being acquired by NHN, the project was rebranded as the open source content management system (CMS) XpressEngine (XE), which is still in active development as of 2016.
</p>

<p>Self-hosted BBS software such as Zeroboard, used for content publishing, had an important influence in the early days of the South Korean web. The relatively easy installation processes offered by some software was welcomed by web designers who were increasing in numbers. Not only have BBS software had a crucial role in shaping the small-scale web publishing format that is the personal website, but they also served as catalyst in web publishing-related communities that embraced both designers and developers. In addition to these software’s typical appearance, inherited from dial-up BBS layouts, their additional functionalities such as membership management and content filtering have formed the framework(ambiguous?) of internet-based South Korean online communities.
</p>

<h4>Self-hosted</h4>

<p>This story is about a generation that completely produced and published, as individuals, what constituted the World Wide Web. Compared to today’s social media, the technical barrier was very high and diverse back when individuals had to install BBS software in order to publish some text on the internet. However, since alternatives were essentially absent, creators of personal websites had to invest the time and effort to learn these skills; they were proud of what they had created and went on to organize communities within which they shared such skills. As internet usage became more common, creators of personal websites increased in numbers and the sharing of web publishing-related information became more active.
 </p>

<p>The introduction of high-speed networks such as ADSL in the late 1990s created an environment where access to larger media than was possible using text-based BBS services such as HiTEL, Chollian and Nownuri; users were able to access documents displaying text and images simultaneously using browsers. These ADSL networks provided a download speed of ~200kb/s, a significant improvement from 56kBps modems or ISDN networks, which provided 5 to 30kb/s at most. The new always-on, fixed monthly fee services enabled an entirely new model of using networks; ADSL provided the basis for serious internet usage.
</p>

<p>As high-speed internet became available, some companies attempted to replicate in web browsers the online communication that was previously taking place in BBS services. Netsgo and Channeli were two such companies, providing BBS-like services in web browsers. While these companies provided internet content using their respective dedicated browsers, Netsgo Browser and Channelview, these browsers were not much more than the same old BBS structure, transported in color screens; one could also connect via dial-up modem, adding to the transitional trait of the services. These companies provided a partial internet experience to former dial-up BBS users; in fact, they were the first to promote technical knowledge required for personal websites to the South Korean public, such as setting up FTP servers. The years 1998 and 1999 saw technical conditions mature enough to enable the widespread usage of web browsers and URLs in order to visit websites (typically referred to as “home pages” in Korean) and gain information, not over dial-up connections but through the Web.
</p>

<p>While the infrastructure was there, a lot more was needed for personal websites to become popular. Some technical resources included:
</p>

<h4>Online storage for HTML documents (web hosting)</h4>
<p>
Systems that rent out some space out of the web server that hosts websites; nowadays, typical users are not especially required to know how to set up these spaces, or even about their existence. But this was a time where the only available medium for the online expression of one’s opinions—a task easily achievable by a tweet or Instagram photo nowadays—was the website. Therefore, many companies including existing BBS services like Chollian and newcomers like Netsgo and Channeli started providing website storage as a default feature like an email account. Companies like Netian (currently an online SMS service) and Hihome gained popularity by giving out free space for personal websites. Most of these early services were web portals that allowed limited uploads of HTML documents. Other services that specialized in web hosting soon emerged; these provided support for database-connected Common Gateway Interface (CGI) bulletin boards like Zeroboard. Cafe24 and Gabia are among early web hosting companies that are still active. These services typically provided support for web programming languages like PHP, restricted database access and storage, and throttled traffic.
</p>

<h4>Domain names</h4>
<p>
While personal domain names were not technically required—website storage services usually provided subdomains that included usernames, like http://chollian.co.kr/~mnsota—some power users went through the effort of purchasing them. The pe.kr domain became available in June 1996; <a href="http://digitalpia.co.kr/new-domain.html" target="_blank">purchase of the personal-use domain was restricted to one per individual</a>, and some people tried to preoccupy popular ones. One problem was that due to technical limitations of some web hosting services, the purchased domain could not be perfectly connected to the website. In order to address this problem, some companies provided forwarding services from the domain name to the hosting server’s address, usually with an advertisement in between. Services like wo.to provided short domain names for users without personal domain names.
</p>

<h4>HTML publishing tools</h4>

<p>
WYSIWYG type publishing tools spared the user from directly engaging HTML code in order to build a personal website. The South Korean software Namo Web Editor was released in 1997; Macromedia Dreamweaver and Microsoft Frontpage also became popular around that period. In the Korean context, Namo Web Editor was especially popular thanks to its Korean language support and its familiar interface—similar to that of the popular Hangul Word Processor.
</p>

<p>
<img src="https://d2mxuefqeaa7sj.cloudfront.net/s_99ECAF552C44A200581E23F1349D2FCE98DB6083426B3E3AECF0B129A523DE16_1471645248250_namo-web-editor-3.jpg" alt=""/></p>

<h4>Bulletin boards, guestbooks (CGI)</h4>
<p>
Building bulletin boards and guestbooks where people can write provided a space for communication between individuals. The metaphor of visiting someone’s home (“home page”) persisted until Facebook introduced the newsfeed paradigm. It was typical that a visitor would leave a message, like “Nice website,” in order to leave their trail. Another tool that served a similar purpose was the hit counter. The hit counter provides a very basic statistics, the sum of page visits; popular websites tended to emphasize the hit counter, in a boating manner.
</p>

<p>
  <a data-permalink="bbs-software" href="/lists/bbs-software" class="list-link">List of BBS Software</a>
</p>

<p>One thing about bulletin boards is that they are programs running on the Web; there are technical hurdles on the way of using them. Required technical skills included knowledge of languages like Perl or PHP, databases like MySQL; many companies, including Netian and Chollian, did not even support these software. This leads us to the appearance of free web hosting sites based on communities as described below.
</p>

<p>The people who were enthusiastic about building their own websites engaged in the early web, where there was not too much accumulated knowledge in terms of website building, experimenting with the possibilities of the new medium. While it is difficult to determine the age distribution, there were many teens and twenty-somethings. Some hosting services specialized in providing space for teenagers, who were essentially digital natives. It was typical to use nicknames, as was the case in BBS services; many websites were built from serious planning, in order to show one’s contents to others. These characteristics are well reflected in website titles, many of which had the structure “XX’s solar system info” or “YY’s Paintshop Pro lessons.” It was not difficult to find creative types, sensitive to both design and content required for better quality of the website.
</p>

<p>One of the reasons Zeroboard became the tool of choice is that it appealed to these demographics. Jsboard is another bulletin board engine that was being distributed from linux-sarang.net, a relatively big community website frequented by developers and server engineers; thanks to its superior functionalities compared to other similar software, jsboard was welcomed by the developer community. However, its installation process was much more complicated and it lacked documentation tailored for less tech-savvy people, say, designers unfamiliar with databases. And this Zeroboard had. Moreover, some pioneering designers began distributing customized skins after they had managed to install Zeroboard; this was enough to draw the attention of other users-creators.
</p>

<p>
  <a data-permalink="zb-readme" href="/lists/zb-readme" class="list-link">Zeroboard readme</a>
</p>

<h4>The emergence of web hosting communities</h4>
<p>
Owning a website that runs web programs, like bulletin boards, was important to creators of early personal websites. Since services like Chollian or Netian did not provide such functionalities, one needed to actually buy servers and build everything from scratch in order to implement this. Around 1999, some online communities started to provide to its members integrated solutions for running personal websites; Zzagn (zzagn.net) was one of those. Zzagn’s administrator was known as the Dictator and was very selective in adding new members—one had to send an email to the Dictator, and if after one week there was no reply, one was out. Many of the selected members had themselves organized sizable online communities (such as the web design community run by zezz), or were providing quality contents or well-designed websites. Becoming a member of Zzagn was in a sense a testimony of one’s design and/or content producing ability, and therefore an admirable achievement.
</p>

<p>While these communities had technical advantages over typical web hosting services, like the ability to run CGI programs or near-unlimited storage, the community aspect and the selective process of adding new members was by itself a forte. The only requirements for inhabitants of Zzagn were to “provide quality contents” and “participate actively.” And they did actively provide quality contents. Even if it was possible to connect personal domain names, the inhabitants tended to use Zzagn’s domain and their nickname when promoting their websites; such was their pride towards their community.
 </p>

<p>
  <a data-permalink="notable-personal-website" href="/lists/notable-personal-website" class="list-link">List of Notable Personal Websites</a>
</p>

<p>
Meanwhile, the administrators of these communities themselves had a sense of responsibility as leaders of the South Korean internet. Yedong (yedong.com) was a sort of rival community to Zzagn, similarly managed; following the 2001 hacking of Zzagn<a id="rfn-1" href="#fn-1" class="sub">[1]</a>, Yedong’s administrator launched the <a href="http://news.khan.co.kr/kh_news/khan_art_view.html?artid=200203111755181&amp;code=900102" target="_blank">Warm Band-aid online banner campaign</a>, with a slogan that translates to “Bringing human warmth online; beautiful encounter,” in which more than 30K websites participated. Moreover, several administrator-level designers and programmers formed community websites that provided contents ranging across design and development. ZeZZ by wizz and zephyr, and Zetyx by Zero and Styx, were at the same time personal websites and communities where many web designers shared their work and other life-related stories. These "fusion"<a id="rfn-2" href="#fn-2" class="sub">[2]</a> websites served as important communities targeting designers and developers, until nzeo (nzeo.com) was created with the main purpose of distributing Zeroboard.

<p>The “self-hosted” internet environment, where one needed to build one’s website and use it to communicate, provided a level of freedom incomparable to that of social network services; however, one needed to overcome a significant level of technical hurdle. Still, the influx of internet user population was inevitable. During this process, self-hosted solutions like Zeroboard touched a sweet spot between technical difficulty and desire for one’s expression; they affected the shaping of a personal website culture during the following 7 to 8 years, persisting throughout the popularization of Cyworld Minihompy (circa 2003) and the deprecation of Naver Myhome (2008). Individuals who managed to jump over the technical hurdles developed design strategies like image-text?, shared Photoshop tutorials, created quality contents and managed websites. It was a time of Web makers, comparable to the 2010s’ hardware maker movement.</p>

<h4>Bulletin Board</h4>

<p>While the “self-hosted” aspect of BBS software had a role in shaping the personal website culture in the early Korean web, the bulletin board is still dominating the Korean web as interface for creating/reading/updating/deleting (CRUD) content on the internet. Especially, it has had a crucial role in shaping the structures of online community websites. The interface of BBS services was granted a life extension through Zeroboard; along with additional functionalities such as membership management, this has been applied to the building of online communities—and continues to do so.
</p>

<p>
  <img src="https://d2mxuefqeaa7sj.cloudfront.net/s_8624BE51AF76562226B89295A58E83BDB82E3268F71116BD01127341E3C8B3DF_1470368582742_.jpg" alt="" />
</p>

<p>The archetypical bulletin board can be traced back to BBS services. A table view displays about 20 articles per page, including each entry’s title, date, author, hit count and recommendation count; one could read an article by typing in its id number. Zeroboard employs an almost identical system—probably a strong influence from early BBS services.
</p>

<p>Thanks to Zeroboard’s popularity, Korean internet users became more and more familiar to bulletin board interfaces. Bulletin boards became a standard feature not only for personal websites, as mentioned above, but for basically every website. Company websites have boards for customer inquiries; popular online community platforms such as Cyworld Club and Daum Cafe are also designed as collection of boards. This was almost without exception how every website requiring to give access to many users was created.
.</p>
<p>
<a href="/lists/zb-communities" data-permalink="zb-communities" class="list-link">List of Zeroboard-based online communities</a>
</p>

<p>As Zeroboard began to dominate personal websites, powerful membership management functionalities were added. This enabled the management of a basic community, where members can sign up and submit entries. Many structural characteristics that many Zeroboard-based community websites shared can be traced back to Zeroboard’s admin page.
</p>

<h4>
Community as collection of boards
</h4>

<p class="expand">
  <img src="https://d2mxuefqeaa7sj.cloudfront.net/s_8624BE51AF76562226B89295A58E83BDB82E3268F71116BD01127341E3C8B3DF_1470445524255_Screenshot+2016-08-05+21.05.13.png" />
</p>

<p>A quick look at the admin interface of Zeroboard 4 reveals the system’s basic structure: the administrator can create a group, and then one can adjust sign-up restrictions and add new boards to this group. In other words, the main function of Zeroboard is to create an environment where members of the same group have access to different boards. This structure is commonly found in Korean community websites, where the typical behavior is to sign up and use multiple boards.
</p>

<div class="quote-area"><h4>Closedness</h4><p>Online community platforms want to control the traffic, i.e. ad revenue, by limiting outbound links or by tayloring the links to their taste. While this seems in conflict with the internet's foundational openness, one only needs to look at Naver or Facebook to admit that it is nevertheless a very valid business model.
</p><p>In order contain its users, some platforms attempt to provide everything—or at least give the impression that it does. What it provides is content; content here refers not only to text (or images and videos, for that matter) but also to technical elements, both functional and visual. It is difficult to count every type of services that Naver or Facebook provides—the only people aware of that number will be the companies' planning teams. But such an approach to provide everything does not only apply to monopolistic web portals or social media. "Start page" or curated bookmark websites, large bulletin board-based online communities, web hosting companies; there exist numerous websites that strongly display their desire to provide everything. When you look at those websites, it almost feels like you won't need anything else.
</p><p>An observable entirety might not exist, or at least it will be quite distanced from imagining the here and now. A person's network is in fact rather limited, even when augmented via the internet. Such a characteristic is reinforced in online community platforms, where the user is encouraged to move within a closed network. The user's web experience consists of what other users, anonymous or named, have posted; some of these postings are original, and many of them are copy and pasted from elsewhere. It happens less that one navigates the web outside these communities, by using search engines for example. Of course, search engines also provide mediated web experiences. However, whereas the search engine computationally indexes the web in order to facilitate information retrieval, the online community provides curated information through the choices and actions of individual users. This is also different from social media feeds, where one's network of acquaintances and their interaction is used to train algorithms that provide customized content. What is done by algorithms in social media is, in online communities, done by people; to be more specific, it is done by the dominant cultural tendency of that community and the users' behavior that conforms to or sometimes resist such tendency.
</p><p class="quote-area__last">Within these online communities that provide information that was passed through a collective cultural filter, the information bears cultural traces similar to additional noise—or metadata. Such traces include not only slang and jargon unique to a community, but also a disseminated value system.
</p>
</div>

<p>
<img src="https://d2mxuefqeaa7sj.cloudfront.net/s_8624BE51AF76562226B89295A58E83BDB82E3268F71116BD01127341E3C8B3DF_1470446943201_Screenshot+2016-08-05+21.28.57.png" />
</p>
</div>

<p class="expand">
<img src="https://d2mxuefqeaa7sj.cloudfront.net/s_8624BE51AF76562226B89295A58E83BDB82E3268F71116BD01127341E3C8B3DF_1470447632674_Screenshot+2016-08-05+21.40.13.png" />
</p>

<h4>Signing up: leveling up and resident registration number (RRN) authentication
</h4>
<p>
Early versions of group permission management preferences included the prevention of multiple accounts using the Korean resident registration number. This was used as personal identification number, until a law was passed that prohibited the collection of these numbers. Once members have signed up, they are given level numbers preconfigured by the administrator; the numbers correspond to permission levels. In the admin preferences, different actions such as reading and writing articles, replies and comments, hidden articles, use of HTML tags could be assigned separately to levels 1 to 10. This reflects the administrator’s perspective, who has to delicately control the community.
</p>

<div class="quote-area"><h4>Member levels</h4><p>Participation from anyone, in its literal sense, can cause problems to an online community. Minimal restrictions are usually put in place, such as membership, at least to prevent spams. Membership means registering one's unique identification number (this does not mean it is necessarily a number that can identify someone outside the website) in a system, and giving the user certain rights that can be used on the system. In a bulletin board system, the rights refer to DB access permissions; the permissions differ across user levels, from administrator, registered user and unregistered guest. The administrator usually has access to all or most of CRUD—Create/Read/Update/Delete; the user usually has those access to one's own entries while the guest typically has only the right to read, or no access whatsoever.
</p><p>Some online communities require a certain set of behavior to be performed by the user in order to obtain membership. This can be understood as a sort of gamification. The required behaviors are various; some communities ask you to introduce yourself, some others want you to create a certain amount of entries or comments. In many cases, the rules encourage the active use of the board. This is at the same time a barrier against unregistered guests, and a quality control device. The required ritual from a to-be member has the effect of filtering out the people who do not want to be part of the community that much; also, the effort put by the users will contribute to one's sense of belonging and affection to that community. Membership control is often done manually; as someone clears the given missions and asks for level adjustment in the "Level-up Board," the administrator verifies the requirements and adjusts the membership in a regular basis, or at one's convenience.
</p><p class="quote-area__last">Meanwhile, it is interesting to think about how different types of communities, ranging from strict real-name policies, identifiable nicknames and complete anonymity, have affected its users. The saying "No one knows you are a dog on the internet" is not only about the ability to hide, the anonymity provided by the protocol. It is that one can define, control and decide on one's own identity, whether it is real, fake, or nonexistent. In that case, are we now closer to a posthuman hybrid self that overflows the boundaries between cyborg, human and animal; or have we just become dogs altogether?
</p></div>

<p class="expand">
<img src="https://d2mxuefqeaa7sj.cloudfront.net/s_8624BE51AF76562226B89295A58E83BDB82E3268F71116BD01127341E3C8B3DF_1470448552304_Screenshot+2016-08-05+21.55.41.png" />
</p>

<h4>Article categories</h4>

<p>Each articles can be assigned categories, which also can be used as filters.</p>

<h4>Recommendation and disapproval</h4>

<p>Since Zeroboard 4.1, recommendation became a default feature; this affected some communities’ approach to curating articles with high counts of recommendation, such as the Hit Gallery of dcinside.com.
</p>

<div class="quote-area"><h4>Flooding</h4><p>Board-based communities are ruled by the economy of attention. Attention is usually paid using hits, replies and recommendations; depending on the communiity, the attention that a user has aggregated from others might lead to a social capital. However, there are ways to obtain attention other than the typical engagement in good behavior (although "good" here differs across communities). One such strategy consists of repeatedly posting the same entry (or different entries, sometimes) over a short amount of time, consequently occupying a greater proportion within the list of articles: a practice referred to as flooding. Flooding a community as sabotage is also called "robbing." Flooding can be done by automatic scripts, but in many cases it is done manually. In the latter case, the user can use an external application like Notepad as a cache for the form input, and press shortcuts for copy and paste as fast as one can.
</p><p>Many online communities explicitly prohibit flooding in their code of conduct. Some forbid duplicate posts altogether; some limit them to a few times during a certain a certain amount of time; some do not provide exact figures, but instead warn that duplicate postings can be deleted. In any case, they appeal to the individual user's choice. If someone decides to post duplicate entries or flood a forum, it is the role of the "alba," or the (sometimes hired) administrator/moderator to delete the postings in question. The deletion can also be automated by scripts or done by hand.
</p><p>A bulletin board is an interface between the data(base) and the user. In a sense, it is a very transparent one; the webpage displays the variables that constitutes the DB honestly—similar to the DB's hierarchical structure. What distinguish one entry from another (to the human eye) are elements like the title, category, hits, replies and recommendations. Zeroboard's category function, which only allows for a single category per article, is relatively primitive when compared to tags popularized by blogs or multiple categories enabled in Wordpress; nevertheless, it became common, perhaps because it was the way Zeroboard was built. Is your article a question, an answer, or else? Is it text, image, video, or else? Is it humorous, moving, or shocking? In other words, board-based communities do not have folksonomy in a technical sense; what exist instead are users' choices, and the resulting collective cultural filter ruled by an imperative of homogeneity.
</p><p>In a similar context, what makes flooding possible is the operating mechanism of the bulletin board itself. Zeroboard and similar board systems display newest articles first; one may be able to choose to sort the entries based on hits or recommendations, but this would make it difficult to verify new articles. Whatever article that is posted will go on the main list. Therefore, one is fully capable to flood the board with one's own postings if he or she chooses to—although there might be consequences, like article deletion or IP bans. A bulletin board is a system that relies heavily on the individual action of users and administrators, from the display of articles and their order. Flooding is an exploitation of the primitive rule that decides articles' order, towards the goal of drawing attention; in that sense, it is closely tied to spam and the excessive use of special characters.
</p><p class="quote-area__last">Online communities do not only rely on the user's conscience and the labor of administrators in order to prevent flooding. Some reflect user feedback and some take systemic approaches to improve how they show their content. One direction attempts to remove bad information, by encouraging the reporting of spam or duplicate posts or by automating deletion scripts. Another direction is about exposing good articles more often. Some communities started employing separate boards, displaying recent articles that are chosen based on factors like hits and recommendation. These boards, often bearing the words Best, Hit or Hot, soon became popular since they were collections of popular articles; some of them eventually became separate websites.
</p></div>

<p>
<img src="https://d2mxuefqeaa7sj.cloudfront.net/s_8624BE51AF76562226B89295A58E83BDB82E3268F71116BD01127341E3C8B3DF_1470449725752_Screenshot+2016-08-05+22.15.16.png" alt="" />
</p>

<h4>Abusive words</h4>

<p>
Most platforms had some version of profanity filtering system, such as in-game chats that converted known curse words to asterisks. Some users started using special characters between letters in order to avoid triggering the filters, which led to the shaping of some online dialects.
</p>

<p>
Reactions to articles initially included replies and comments, both of which were used. However, the reply function was dropped eventually, possibly because the indentation given to replies affected the website’s layout and readability. Since then, the main components of a board became articles and comments. Zeroboard provided an option to either allow or disable comments.
</p>

<div class="quote-area"><h4>Cogle</h4><p>Cogle is an online doxing tool; the name derives from Comedy Gallery, a popular dcinside sub-board that was also notorious for its profanity, and Google. The relative novelty of Google to the Korean web user made the foreign service bear the taste of black magic. While some doxing tools included actual phishing software, many others including Cogle were basically mere wrappers that aggregated multiple search engines in one screen—not so profoundly different from search engine browser extensions nowadays.
</p><p class="quote-area__last">What made this simple tool powerful, or what made it look powerful? Perhaps users who were familiarized with a closed information flow, restricted in the boundaries of Naver or each online community, felt something was new about the almost raw data that emerges from search engines and individual websites' seach function. On another note, this is sort of a testimony to how manual a labor digital research is. It is also the reflection of a times when the concept of digital trace was less popularized. Moreover, it is related to the fact that online harassment was very active in South Korea—and it still is. The recent increase in online discussions about gender politics seems to be a call for efforts to look back and reevaluate past harassment cases in the Korean web.
</p></div>

<p>
The bulletin board management system and its UI significantly influenced many online community websites and platforms. Zero claimed in an interview that at some point, as much as 30% of the South Korean internet traffic was generated through Zeroboard<a id="rfn-3" href="#fn-3" class="sub">[3]</a>; indeed, many platforms frequented by Korean internet users, constantly posting and commenting, are based on Zeroboard or similar software. This interface, different from the forum interface typical in the U.S. (Reddit, Quora, Stack Overflow, etc) and the thread interface that can be found in Japan (2ch), has become a characteristic of Korean online communities.
</p>

<h4>Conclusion</h4>

<p>While Zeroboard itself was deprecated, the type of web software it symbolizes—self-hosted BBS—has influenced the Korean web for over 15 years. Thanks to the characteristics explained in Self-Hosted, resulting in lowered technical barriers, it has played the role as a communication tool essential in the age of personal websites. Also, the interface that Zeroboard standardized is still influential in online communities, as communication methods. By recontextualizing this software in 2016, when data ownership and agency are more and more threatened, one gains the opportunity to rethink the relationship between the individual and platform provider. Moreover, one proposes a bulletin board interface-centered perspective on the terrain of Korean online communities, and questions what future interfaces should be like. In this sense, the discussion of Zeroboard can help in shaping a critical discussion of the future and possible alternatives.
</p>

<p>The internet is currently becoming centralized. Personal websites, or the concept of an online "home" that persisted in services like Cyworld, are things of the past; we are now left with algorithmically generated Facebook feeds or Instagram photos of people I follow. We don't visit other people anymore. Personal websites are for people like designers who need a portfolio; autonomous blogs are turning into parts of centralized web publishing platforms.
 </p>

<p>Iranian-Canadian journalist-blogger Hossein Derakhshan criticizes such centralized web culture<a id="rfn-4" href="#fn-4" class="sub">[4]</a>. He was accused of espionage and imprisoned since 2008 by the Iranian government; he was released in 2014. Six years meant a lot of change in the web; the development of social media especially was different from the blogosphere, to which Derakhshan was familar to, and perhaps was closer to the ideals of the web. In The Web We Have to Save, he argues that the Stream culture of the new media disables the decentralizing effects of hypertext and hyperlinks, treats the hypertext as a single object like an image or a text, making people more dependent on social media.</p>

<p>“The hyperlink was my currency six years ago. Stemming from the idea of the hypertext, the hyperlink provided a diversity and decentralisation that the real world lacked. The hyperlink represented the open, interconnected spirit of the world wide web — a vision that started with its inventor, Tim Berners-Lee. The hyperlink was a way to abandon centralization — all the links, lines and hierarchies — and replace them with something more distributed, a system of nodes and networks. . . . Nearly every social network now treats a link as just the same as it treats any other object — the same as a photo, or a piece of text — instead of seeing it as a way to make that text richer. . . . Hyperlinks are objectivized, isolated, stripped of their powers.” (Derakhshan, 2015)</p>

<p>A handful of global-scale services contain all of a person's data, messages and appearance; these services save, share and stream the data. Since power and wealth generation through data is now the core of internet business, individuals have handed over their data to companies which in turn provide internet services. What tools and thoughts should we consider when communicating on the internet? When global-scale companies provide infrastructure, tool and network all at once, is it okay to share our data and use their services? Do we need an alternative communication tool that is relevant to our times? What form would that tool take? With these questions in mind, we turn our attention back to the legacy of the Korean web that is the bulletin board.
 </p>

<p>Bulletin board as an interface leaves much to be desired. However, can someone terminate this interface, which became such an inefficient yet big part of our daily life—like the QWERTY keyboard<a id="rfn-5" href="#fn-5" class="sub">[5]</a> did? Is the current structure of Korean online communities adequate in achieving what we want? What alternatives do blogs, social media and messengers provide, or what do they not? What new structure and technology do we need to develop, and what social consent and culture do we need to shape? These are some of the many questions left open in this inquiry.
</p>

<hr>
<p>
<a id="fn-1" href="#rfn-1">[1]</a> Zzagn was the target of repeated cracking attempts since its founding. In Feb 2 2001, the entire website was shut down due to a severe attack.
<a href="http://news.khan.co.kr/kh_news/khan_art_view.html?artid=200203111755181&code=900102">http://news.khan.co.kr/kh_news/khan_art_view.html?artid=200203111755181&amp;code=900102</a></p>

<p>
<a id="fn-2" href="#rfn-2">[2]</a> This refers to a specific form of personal website, where a designer and a developer will typically collaborate to build and manage one shared website, usually dealing with web design and development knowledge.</p>


<p>
<a id="fn-3" href="#rfn-3">[3]</a> <a href="http://www.etnews.com/200703190105" target="_blank">http://www.etnews.com/200703190105</a></p>


<p>
<a id="fn-4" href="#rfn-4">[4]</a> Ironically, Derakhshan published this article through the centralized publising platform <a href="http://medium.com" target="_blank">Medium</a>; one might see this as a begrudging acknowledgement of where the web is. One of the comments to this article is actually asking the author to publish it in a blog.
</p>

<p>
<a id="fn-5" href="#rfn-5">[5]</a> “The top row of alphabetic keys of the standard typewriter reads QWERTY. For me this symbolizes the way in which technology can all too often serve not as a force for progress but for keeping things stuck. The QWERTY arrangement has no rational explanation, only a historical one. It was introduced in response to a problem in the early days of the typewriter: The keys used to jam. The idea was to minimize the collision problem by separating those keys that followed one another frequently. Just a few years later, general improvements in the technology removed the jamming problem, but QWERTY stuck. Once adopted, it resulted in many millions of typewriters and a method (indeed a full-blown curriculum) for learning typing. The social cost of change (for example, putting the most used keys together on the keyboard) mounted with the vested interest created by the fact that so many fingers now knew how to follow the QWERTY keyboard. QWERTY has stayed on despite the existence of other, more "rational" systems. On the other hand, if you talk to people about the QWERTY arrangement they will justify it by "objective" criteria. They will tell you that it "optimizes this" or it "minimizes that." Although these justifications have no rational foundation, they illustrate a process, a social process, of myth construction that allows us to build a justification for primitivity into any system.” (Papert, 1980)</p>


<h3>References</h3>

<ol><li>De Montjoye et al. <em>openPDS: Protecting the Privacy of Metadata through Safe<strong> </strong>Answers**.</em> PLoS ONE, 2014.</li><li><a href="https://medium.com/@h0d3r">Derakhshan, Hossein</a>. <em>The Web We Have to Save</em>. 2015. <a href="https://medium.com/matter/the-web-we-have-to-save-2eb1fe15a426?mod=e2this#.c2qqp4g4v" target="_blank">https://medium.com/matter/the-web-we-have-to-save-2eb1fe15a426?mod=e2this#.c2qqp4g4v</a></li><li>Papert, Seymour. <em>Mindstorms: Children, computers, and powerful ideas</em>. Basic Books, Inc., 1980.</li><li>Zuckerman, Ethan. <em>From disastrous decisions to decentralization: a mostly spontaneous talk for Data &amp; Society.</em> <a href="https://medium.com/@EthanZ/from-disastrous-decisions-to-decentralization-a-mostly-spontaneous-talk-for-data-society-983dd613781e#.za5765ghg" target="_blank">https://medium.com/@EthanZ/from-disastrous-decisions-to-decentralization-a-mostly-spontaneous-talk-for-data-society-983dd613781e#.za5765ghg</a></li><li>최순욱, 「 [인터뷰]제로보드 개발 고영수 NHN 과장」,『전자신문』, 2007.3.20. <a href="http://www.etnews.com/200703190105" target="_blank">http://www.etnews.com/200703190105</a></li><li>최효찬, 「 ‘인터넷 따뜻밴드 운동’ 방제완씨의 야망」,『경향신문』, 2002.3.11. <a href="http://news.khan.co.kr/khnews/khanart_view.html?artid=200203111755181&amp;code=900102" target="_blank">http://news.khan.co.kr/khnews/khanart_view.html?artid=200203111755181&amp;code=900102</a></li></ol>
