@import 'reset';
@import 'fonts';

$base_font_size       : 16px; // px;
$base_line_height     : 20px; // px
$background-color: #FFF;
$black_color: #000;

$small-phone-width: 320px;
$phone-width: 960px;
@mixin small-phone {
  @media (max-width: #{$small-phone-width}) {
    @content;
  }
}

@mixin phone {
  @media (max-width: #{$phone-width}) {
    @content;
  }
}

body {
  font-size: $base_font_size;
  line-height: $base_line_height;
  background-color: $background-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin url_wordwrap {
    /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

}

@mixin absolute_center {
  -moz-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

@mixin absolute_center_middle {
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@mixin fixed_type {
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  text-rendering: optimizeLegibility;
}

@mixin en_regular_type {
  font-family: 'Graphik', arial, sans-serif;
  font-style:   normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

@mixin en_medium_type {
  font-family: 'Graphik', arial, sans-serif;
  font-style:   normal;
  font-weight: 500;
  text-rendering: optimizeLegibility;
}


@mixin en_semibold_type {
  font-family: 'Graphik', arial, sans-serif;
  font-style:   normal;
  font-weight: 600;
  text-rendering: optimizeLegibility;
}

@mixin ko_regular_type {
  font-family: 'Noto Sans CJK KR', arial, sans-serif;
  font-style:   normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

@mixin ko_medium_type {
  font-family: 'Noto Sans CJK KR', arial, sans-serif;
  font-style:   normal;
  font-weight: 600;
  text-rendering: optimizeLegibility;
}


body, div, p, span, text {
  @include ko_regular_type;
  color: $black_color;
}

.fl {
  float:left;
}

.fr {
  float:right;
}

*:focus {
    outline: none;
}


a {
  color: $black_color;
  text-decoration: none;
  transition: 0.4s all;

  &:hover {
    opacity: 0.6;
  }

}
pre {
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px;
  
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */


  code {
    @include fixed_type;
    .ml-en, .ml-punct, .ml-num, .ml-ko {
      @include fixed_type;
    }
    
  }
}

.l-apple-box {
  display:block;
  height:$base_line_height;
  width:100%;
}

.l-apple-box--double {
  height:$base_line_height * 2;
}

.l-apple-box--fourth {
  height:$base_line_height * 4;
}

.l-apple-box--three_fourth {
  height:$base_line_height/2 + $base_line_height/4;
}
.l-apple-box--half {
  height:$base_line_height/2;
}
.l-apple-box--quarter {
  height:$base_line_height/4;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-button {
  width: 16px;
  height: 16px;
}
::-webkit-scrollbar-thumb {
  background: rgba(150, 150, 150, 0.5);
  border: 9px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(150, 150, 150, 0.8);
}
::-webkit-scrollbar-thumb:active {
  background: rgba(150, 150, 150, 0.8);
}
::-webkit-scrollbar-track {
  background: transparent;
  border: 0px none #ffffff;
  border-radius: 36px;
}
::-webkit-scrollbar-track:hover {
  background: transparent;
}
::-webkit-scrollbar-track:active {
  background: transparent;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

br.clearing {
  clear:both !important;
}

.ml-en, .ml-num {
  @include en_regular_type;
  position: relative;
  top: 0em;
  font-size: 1.05em;
  
}


.Select-value-label, .Select--multi .Select-value {
  font-family: 'Graphik', 'Noto Sans CJK KR', arial, sans-serif;
  font-size:0.9em;
}
.Select-option, .Select-placeholder {
  @include en_regular_type;

  font-family: 'Graphik', 'Noto Sans CJK KR', arial, sans-serif;

  font-size:0.9em;
}

.Select-placeholder {
  padding-top: 2px;
}

.firstpage, .article, .list {
  position:absolute;
  left:0;
  width:50%;
  height:100%;
  z-index:1;
  overflow-y:scroll;
  overflow-x:hidden;
  -webkit-overflow-scrolling: touch;

  p {
    line-height: 1.6;
    margin-bottom:30px;
    word-break: keep-all;
    max-width: 650px;


    @include phone {
      font-size:0.85em;
      max-width:450px;
    }
  }

  p.expand {
    max-width:100%;
  }

  img {
    width:100%;
  }

  .url_wordwrap {
    @include url_wordwrap;
  }
}


.article {
  z-index:1;

  @include phone {
    width:80%;  
    left:0;
  }

  &.active {
    z-index:3;  

  }
  


  &--future-plan {
    p, span {
      color:white;
    }
    a span {
      color:white;
    }

    a.list-link span {
      color:black;
    }
  }


  &__author {
    margin: 21% 0;
  }

  .quote-area {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 15px 20px;
    margin-bottom:30px;
    max-width: 610px;

    @include phone {
      max-width:450px;
    }

    &__last {
      margin-bottom: 0;
    }
  }

  &__title {
    color:white;
    float:left;
    font-size:2.0em;
    line-height: 1.2;

    @include phone {
      font-size:1.6em;
    }

    &--ko {
      @extend .firstpage__title;
      @include ko_medium_type;
      width: calc(60% - 50px);
      padding-right:50px;
      word-break: keep-all;



    }

    &--en {
      @extend .firstpage__title;
      @include en_medium_type;
      width:40%;
      word-break: keep-all;
    }
  }

  hr {
    border:none;
    border-bottom:1px solid black;
  }

  h4 {
    @include ko_medium_type;
    margin-bottom:5px;

    @include phone {
      font-size:0.9em;
    }
  }
  a.list-link {
    color:black;
    border:none;
    background-color:white;
    padding: 4px 2px;
    line-height: 1.6;

  }

  a {
    color:black;
    border-bottom: 3px solid white;
    padding-bottom:2x;
    line-height: 1.6;

    @include phone {
      line-height: 1.5;
      padding-bottom:0;
    }

    &.sub {
      position: relative;
      font-size: 0.7em;
      top: -0.6em;
      padding: 4px 2px;
    }
  }

  ol {
    list-style-type: decimal;
    max-width: 650px;

    @include phone {
      margin-left:15px;
    }
    li {
      @include ko_regular_type;
      margin-bottom: 16px;
      line-height: 1.5;

      @include phone {
        font-size:0.8em;
      }

    }
  }

  ul {
    list-style-type:circle;
    margin: 20px 0;
    max-width: 650px;
    li {
      @include ko_regular_type;
      margin-bottom: 16px;
      line-height: 1.5;
      @include phone {
        font-size:0.8em;
      }
    }
  }

  p {

  }

  .code {
    background-color:rgba(0,0,0,0.04);
    padding: 4px 2px;
    .ml-en, .ml-punct{
      @include fixed_type;
    }
  }

}

.firstpage {
  background-color: black;
  color:white;
  z-index:1;

  @include phone {
    width:80%;  
    left:0;
  }

  &.active {
    z-index:3;  
  }


  @include phone {
    width:80%;  
  }

  a {
    color:white;
    border-bottom:1px solid #EEE;
  }


  &__title {
    color:white;
    float:left;
    font-size:2.0em;
    line-height: 1.2;

    &--ko {
      @extend .firstpage__title;
      @include ko_medium_type;
      width:60%;
    }

    &--en {
      @extend .firstpage__title;
      @include en_medium_type;
      width:40%;
    }
  }

  &__event {
    margin-top:200px;
    @include phone {
      margin-top:100px;
    }

    p {
      color:white;
      margin-bottom:0;  
    }
    
    &--secondary {
      @extend .firstpage__event;
      margin-top:100px;

    }
  }

  &__desc {
    margin: 150px 0 100px 0;
    padding-right: 50px;

    @include phone {
      margin-top:80px;
      padding-right: 10px;
    }
     a {
      span {
        color:white;
      }
      color:white;
      border-bottom: 2px solid white;
      padding-bottom: 2px;
      line-height: 1.6;


      @include phone {
        line-height: 1.3;
      }

    
      &.sub {
        position: relative;
        font-size: 0.7em;
        top: -0.6em;
        padding: 4px 2px;
      }
    }

    p {
      @include ko_regular_type;
      color:white;
      line-height: 1.6;
      word-break: keep-all;
      @include phone {
        font-size:0.9em;
        line-height: 1.5;  
      }
      
      span {
        color:white;
      }

    }
  }
}


.list {
  left:50%;
  z-index:1;
  background-color:white;
  @include phone {
    width:80%;  
    left:20%;
  }
  &.active {
    z-index:3;  
    
  }
  
  .wrapper {
    padding: 0 50px;

    @include phone {
      padding: 0 10px;
    }
  }
  
  ul {
    list-style-type:initial;
    margin: 10px 0 80px 0;
    padding-left:16px;

    &.sub {
      margin: 10px 0;
    padding-left:16px;
    }
    li {
      @include ko_regular_type;
      margin-bottom: 2px;
      line-height: 1.5;
      font-size: 14px;
      margin-bottom: 7px;
    }
  }
  table {
    th {
      text-align: left;
      font-weight: 600;
      font-size: 0.9em;
      border-bottom: 1px solid black;
      padding-bottom: 5px;
      /* margin-bottom: 17px; */
    }

    td {
        font-size: 0.8em;
        padding-top: 15px;
        padding-right: 15px;
        word-break: keep-all;
    }

    th.activex-companies__company-names {
      width: 193px;
    }

    th.activex-companies__website {
      width:200px;
    }

    th.activex-companies {
      width: 100px;
    }

    td.activex-companies__website {

      /* These are technically the same, but use both */
      overflow-wrap: break-word;
      word-wrap: break-word;

      -ms-word-break: break-all;
      /* This is the dangerous one in WebKit, as it breaks things wherever */
      word-break: break-all;
      /* Instead use this non-standard one: */
      word-break: break-word;

      /* Adds a hyphen where the word breaks, if supported (No Blink) */
      -ms-hyphens: auto;
      -moz-hyphens: auto;
      -webkit-hyphens: auto;
      hyphens: auto;

    }
  }


  h3, h2 {
    @include ko_medium_type;
    margin-bottom:5px;
  }

  p { 
    @include ko_regular_type;
    font-size:1.0em;

    @include phone {
      font-size:0.8em;
    }
  }

  a {
    @include ko_regular_type;
    font-size:1.0em;

    border-bottom: 1px solid #c7c7c7;
    padding-bottom:2px;

    line-height: 1.6;

    @include phone {
      font-size:0.8em;
      line-height: 1.5;
      padding-bottom:0;
    }

  }
}

.wrapper {
  padding: 0 100px 0 50px;
  @include phone {
    padding: 0 15px;
  }
}

.list-lists.active .list-lists__list {
  @include phone {
    display: block;
  }
}

.list-lists {
  width: calc(50% - 100px);
  position:fixed;
  left: calc(50% + 50px);
  top: 20px;
  z-index:2;

  @include phone {
    top:10px;
    left: calc(80% + 10px);
    width: calc(80% - 20px);
  }
  
  &.active {
    z-index:4;
    @include phone {
      left: calc(20% + 10px);  
    }

  }
    
  
  
  
  &__indic{
    float:left;
    @include ko_medium_type;
    padding:8px 12px;

    font-size:0.9em;
    color:black;
    background-color:#f3f3f3;
    
    &.en {
      padding: 7.5px 12px;
    }
  }


  &__list {
    float:left;
    width:calc(100% - 62px);

    @include phone {
      display: none;
    }
  }

}

.article-lists {
  width: calc(50% - 67px);
  
  position:fixed;
  left: 18px;
  top: 20px;
  z-index:2;
  
  &.active {
    z-index:4;
  }
  

  
  @include phone {
    width:calc(80% - 20px);
    left:15px;
    top:10px;
  }

  &__home-btn {
    float: left;
    margin-right: 8px;
    margin-top: 5px;

    @include phone {
      margin-right: 8px;
      margin-top: 5px;
    }
  }

  &__indic{
    float:left;
    width:51px;
    @include ko_medium_type;
    font-size:0.9em;
    padding:7px 15px;
    text-align: center;
    @include phone {
      display: none;
    }
    &.en {

      padding:6.5px 15px;
    }

    &.white {
      span {
        color:white;
      }
      border:1px solid white;
      background-color: black;

    }

    &.black {
      span {
        color:black;
      }
      border:1px solid white;
      background-color:white;
    }
    
  }


  &__list {
    float:left;
    width: calc(100% - 175px);

    @include phone {
      width: calc(100% - 80px);
    }
  }

  &__toggle-locale {
    padding-left:15px;
    margin-top:8px;
    float:left;

    @include phone {
      padding-left:5px;
    }

    &.black {
      a {
        span {
          color:black;
          opacity:0.5;
          font-size:0.9em;   
        }
        &.selected {
          span {
            color:black;
            opacity:1;
          }
        }
      }
    }

    &.white {
      a {
        span {
          color:white;
          opacity:0.5;
          font-size:0.9em;   
        }
        &.selected {
          span {
            color:white;  
            opacity:1;
          }
        }
      }
    }
   
  }
}

.thanksto {
  margin-bottom:50px;
  padding-right:150px;

  @include phone {
    padding-right:10px;
  }

  &--ko {
    @extend .thanksto;
    p {
      @include ko_regular_type;
      font-size:0.9em;
      line-height: 1.4;
      max-width:600px;
      @include phone {
        max-width:450px;
      }
      span {
        color:white;
      }
    }
  }

  &--en {
    @extend .thanksto;
    p {
      @include en_regular_type;
      color:white;
      font-size:0.9em;
      line-height: 1.4;
      max-width:600px;
      
      @include phone {
        max-width:450px;
      }
      span {
        color:white;
      }
    }
  }
}


.Select-menu-outer {
  border:none;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.05);
}


.firstpage__title--ko, .firstpage__title--en, .article__title--ko, .article__title--en {
  @include phone { 
    font-size:1.4em;
  }
}

