@import 'reset';
@import 'fonts';

$base_font_size       : 16px; // px;
$base_line_height     : 20px; // px
$background-color: #FFF;
$black_color: #000;

body {
  font-size: $base_font_size;
  line-height: $base_line_height;
  background-color: $background-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin absolute_center {
  -moz-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

@mixin absolute_center_middle {
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@mixin en_regular_type {
  font-family: 'Graphik', arial, sans-serif;
  font-style:   normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

@mixin en_medium_type {
  font-family: 'Graphik', arial, sans-serif;
  font-style:   normal;
  font-weight: 500;
  text-rendering: optimizeLegibility;
}


@mixin en_semibold_type {
  font-family: 'Graphik', arial, sans-serif;
  font-style:   normal;
  font-weight: 600;
  text-rendering: optimizeLegibility;
}

@mixin ko_regular_type {
  font-family: 'Noto Sans CJK KR', arial, sans-serif;
  font-style:   normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

@mixin ko_medium_type {
  font-family: 'Noto Sans CJK KR', arial, sans-serif;
  font-style:   normal;
  font-weight: 600;
  text-rendering: optimizeLegibility;
}


body, div, p, span, text {
  @include ko_regular_type;
  color: $black_color;
}

.fl {
  float:left;
}

.fr {
  float:right;
}

a {
  color: $black_color;
  text-decoration: none;
  transition: 0.4s all;

  &:hover {
    opacity: 0.6;
  }
}


.l-apple-box {
  display:block;
  height:$base_line_height;
  width:100%;
}

.l-apple-box--double {
  height:$base_line_height * 2;
}

.l-apple-box--fourth {
  height:$base_line_height * 4;
}

.l-apple-box--three_fourth {
  height:$base_line_height/2 + $base_line_height/4;
}
.l-apple-box--half {
  height:$base_line_height/2;
}
.l-apple-box--quarter {
  height:$base_line_height/4;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-button {
  width: 16px;
  height: 16px;
}
::-webkit-scrollbar-thumb {
  background: rgba(150, 150, 150, 0.5);
  border: 9px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(150, 150, 150, 0.8);
}
::-webkit-scrollbar-thumb:active {
  background: rgba(150, 150, 150, 0.8);
}
::-webkit-scrollbar-track {
  background: transparent;
  border: 0px none #ffffff;
  border-radius: 36px;
}
::-webkit-scrollbar-track:hover {
  background: transparent;
}
::-webkit-scrollbar-track:active {
  background: transparent;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

br.clearing {
  clear:both !important;
}

.ml-en {
  @include en_regular_type;
  // font-family: LiberationMono, Courier, monospace;
  // position:relative;
  // top:-0.05em;
}


.Select-value-label {
  @include ko_medium_type;
  font-size:0.9em;
}
.Select-option {
  @include ko_medium_type;
  font-size:0.9em;
}

.firstpage, .article, .list {
  position:absolute;
  left:0;
  width:50%;
  height:100%;
  z-index:1;
  overflow-y:scroll;
  overflow-x:hidden;
  
  p {
    line-height: 1.5;
    margin-bottom:30px;
    word-break: keep-all;

  }

  img {
    width:100%;
  }
}

.article {
  &__author {
    margin: 100px 0;
  }
  &__title {
    color:white;
    float:left;
    font-size:2.0em;
    line-height: 1.2;

    &--ko {
      @extend .firstpage__title;
      @include ko_medium_type;
      width: calc(60% - 50px);
      padding-right:50px;
      word-break: keep-all;
    }

    &--en {
      @extend .firstpage__title;
      @include en_medium_type;
      width:40%;
      word-break: keep-all;
    }
  }

}

.firstpage {
  background-color: black;
  color:white;

  &__title {
    color:white;
    float:left;
    font-size:2.0em;
    line-height: 1.2;

    &--ko {
      @extend .firstpage__title;
      @include ko_medium_type;
      width:60%;
    }

    &--en {
      @extend .firstpage__title;
      @include en_medium_type;
      width:40%;
    }
  }

  &__event {
    margin-top:200px;
    p {
      color:white;
      margin-bottom:0;  
    }
    
    &--secondary {
      @extend .firstpage__event;
      margin-top:100px;

    }
  }

  &__desc {
    margin: 150px 0 100px 0;
    padding-right: 50px;
    p {
      @include ko_regular_type;
      color:white;
      line-height: 1.5;
      word-break: keep-all;
    }
  }
}


.list {
  left:50%;
}

.wrapper {
  padding: 0 100px 0 50px;
}

.list-lists {
  width: calc(50% - 100px);
  position:fixed;
  left: calc(50% + 50px);
  top: 20px;
  z-index:2;
}

.article-lists {
  width: calc(50% - 100px);
  position:fixed;
  left: 50px;
  top: 20px;
  z-index:2;
}









