<!DOCTYPE html>
<html>
  <head>
    <title>한국 인터넷 관광 안내서 / Korea Internet Tour Guide</title>
    <%= csrf_meta_tags %>

    <meta property="og:site_name" content="한국 인터넷 관광 안내서 / Korea Internet Tour Guide"/> 
    <meta property="og:description" content="한국 인터넷 관광 안내서 / Korea Internet Tour Guide"/> 
    <meta name="description" content="한국 인터넷 관광 안내서 / Korea Internet Tour Guide" />

    <meta name="title" content="M한국 인터넷 관광 안내서 / Korea Internet Tour Guide"/>
    <meta property="og:title" content="한국 인터넷 관광 안내서 / Korea Internet Tour Guide"/>

    <link rel="canonical" href="http://k-www.kr">
    <meta property="og:url" content="http://k-www.kr">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="ko_KR">

    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"></meta>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <div id="root">
    </div>
    <%= javascript_include_tag *webpack_asset_paths("application") %>
  </body>
</html>
